<?php
    if( $this->data ) {        
        if( $this->data['method']=='GET' ) {
            ?>           
                <div class="panel panel-default add-vndr-pp">
                    <div class="panel-body">
                        <div><h2>Vendor Services</h2></div>                        
                        <div id="preview" class="panel panel-success"></div>
                        <form id="addNewService" name="addNewService" class="form-inline" action="<?php echo $this->baseUrl(); ?>/users/dashboard/addnewservice/format/html" method="post">
                            <input type="hidden" name="booking_id" value="<?php echo $this->data['booking_id']; ?>">
                            <div class="form-group">
                                <label>Please enter vendor service:</label>
                                <select class="form-control" name="additionalService[]">
                                    <option value="">--Select services below--</option>
                                    <?php                                    
                                        foreach( $this->data['data'] as $data => $values ) {                                            
                                            ?>
                                                <option value="<?php echo $values['id']; ?>"><?php echo $values['category_name']; ?></option>
                                            <?php                                            
                                        }                                    
                                    ?>
                                </select>
                            </div>    
                            <div class="separator top"></div>
                            <h3> Add following Service to planner as well</h3>
                            <div class="form-group">
                                <label>Please enter vendor service:</label>
                                <input name="customService" class="form-control" type="text" placeholder="e.g ' Lemo Driver ' " />
                            </div>
                           <!-- <div class="separator top"></div>-->
                            <div class="form-group mrgn-grp">
                                <input name="estimatedCost" style="width: 100%;" class="form-control" type="text" placeholder="[$] Estimated cost !!" />
                            </div>
                            <div class="form-group">
                                <input name="actualCost" class="form-control" type="text" placeholder="[$] Actual cost !!" />
                            </div>
                        </form>                        
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div id="makepayment" class="btn btn-primary">Add Service</div>
                            </div>
                            <div class="col-md-6">
                                <button href="javascript:void(0)" class="close sprited" id="close_x" style="float: right;">close</button>
                            </div>
                        </div>
                        
                    </div>                    
                </div>            
            <?php            
        }        
        if( $this->data['method']=='POST' ) {
            
            ?>
                <?php echo "Success, Payment added"; ?>
            <?php
            
        }        
    }
?>
