<?php

    if( $this->data ) {
        
        if( $this->data['method']=='GET' ) {
            
            ?>
                <div class="panel panel-default">
                    <div class="panel-body">
                    <div>
                        <h2> Make Payment </h2>
                    </div>
                    <div id="preview" class="panel panel-success"></div>
                        <form id="budgetPayment" name="budgetPayment" class="form-inline" action="<?php echo $this->baseUrl(); ?>/users/dashboard/budgetpaynow/format/html" method="post">
                            <input type="hidden" name="service_id" value="<?php echo $this->data['service_id']; ?>" />
                            <input type="hidden" name="booking_id" value="<?php echo $this->data['booking_id']; ?>" />
                            <div class="form-group">
                                <select class="form-control" name="payee">
                                    <option value="">--Who is making the payment ?--</option>
                                    <option value="self">Self</option>
                                    <option value="mom">Mom</option>
                                    <option value="dad">Dad</option>
                                    <option value="relative">Relative</option>
                                    <option value="friend">Friend</option>
                                    <option value="others">Others</option>
                                </select>
                            </div>    
                            <div class="separator top"></div>
                            
                            <div class="form-group">
                                <input type="text" required class="form-control" name="amount" placeholder="Enter amount to pay!!!" />
                            </div>
                            
                            <div class="form-group">
                                <select class="form-control" name="payType">
                                    <option value="">--Choose Payment Mod ?--</option>
                                    <option value="Visa/Debit">Visa/Debit</option>
                                    <option value="paypal">Paypal</option>
                                    <option value="cash">Cash</option>
                                    <option value="creditcard">Credit Card</option>
                                    <option value="others">Others</option>
                                </select>
                            </div>
                            
                        </form>
                        
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div id="makepayment" class="btn btn-primary">Add Payment</div>
                            </div>
                            <div class="col-md-6">
                                <button href="javascript:void(0)" class="close sprited" id="close_x" style="float: right;">close</button>
                            </div>
                        </div>
                    </div>
                </div>
            <?php
            
        }
        
        if( $this->data['method']=='POST' ) {
            
            ?>
                <?php echo "Success, Payment added"; ?>
            <?php
            
        }
        
    }

?>