<?php $this->placeholder('userstaticfiles')->captureStart() ?>
<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>    
    <div class="col-sm-9 mp-up-lyt" style="min-height:500px;">
		<div class="my_all_job_list jb-cntn-lst mtp">
			<div>
                            <div>
                                <h3>Guest List</h3>                                
                                    <!-- tab navigation starts -->                                    
                                    <div id="content">
                                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                            <li class="active"><a href="#red" data-toggle="tab">Overview</a></li>
                                            <li><a href="#orange" data-toggle="tab">Ceremony</a></li>
                                            <li><a href="#yellow" data-toggle="tab">Reception</a></li>
                                            <li><a href="#green" data-toggle="tab">More</a></li>
                                        </ul>
                                        
                                        <div id="my-tab-content" class="tab-content">
                                        <div class="tab-pane active" id="red">
						<div class="row">
						    <div class="col-sm-2"><a class="guestlistoperation" identifier="add_household" href="javascript:void(0)" data-string="">+ Add Households</a></div>
						    <div class="col-sm-2"><a class="guestlistoperation" identifier="add_gifts" href="javascript:void(0)" data-string="">Gifts</a></div>
						    <div class="col-sm-2"><a class="guestlistoperation" identifier="invitations" href="javascript:void(0)" data-string="">Invitations</a></div>
						    <div class="col-sm-2"><a class="glist_stats" href="javascript:void(0)" data-string="">Stats</a></div>
						</div>
                                            
						<div id="overview" class="row">
							    <table class="dynamicTable colVis table orders_table" id="my_jobs_listing">
									<!-- Table heading -->
									<thead class="bg-gray">
										<tr>
											<th>Household (guests)</th>
											<th>Address</th>
											<th>Invitation Sent</th>
											<th>Attending Ceremony</th>
											<th>Seated at Reception</th>
											<th>Gift Received</th>
											<th>Actions</th>
										</tr>
									</thead>
									<!-- // Table heading END -->
									<!-- Table body --> 
									<tbody>                                                    
									    <?php
										if( $this->data['data'] ) {
										    foreach( $this->data['data'] as $data => $values ) {
										    ?>
										    <tr class="jobseekers_">
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										    </tr>
										    <?php
										} }
									    ?>
									</tbody>                                                
							    </table> 
						</div>
                                        </div>
                                        
                                        <div class="tab-pane" id="orange">
                                            <h1>Orange</h1>
                                            <p>orange orange orange orange orange</p>
                                        </div>
                                        <div class="tab-pane" id="yellow">
                                            <h1>Yellow</h1>
                                            <p>yellow yellow yellow yellow yellow</p>
                                        </div>
                                        <div class="tab-pane" id="green">
                                            <h1>Green</h1>
                                            <p>green green green green green</p>
                                        </div>
                                        <div class="tab-pane" id="blue">
                                            <h1>Blue</h1>
                                            <p>blue blue blue blue blue</p>
                                        </div>
                                        </div>
                                    </div>                                    
                                    <!-- tab-content ends -->
                            </div>
                        </div>
                </div>
    </div>    
<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script>
    jQuery(document).ready(function($){
	    
	    $("a.guestlistoperation").click(function(e){
			//alert("ok");
			e.preventDefault();
			$("#create_account").load('<?php echo $this->baseUrl(); ?>/users/dashboard/guestlistoperation/format/html', function(){           
				    $(this).lightbox_me({			 
						centered: true,
						onLoad: function() { 
							    $(this).find('.form input:first').focus()
							    $(this).removeClass('hide');
							    //valiadate();
							    $('.close').click(function(){						    
									$(this).trigger('close');						    
							    })
							    $('.form').bootstrapValidator({
									submitHandler: function(validator, form, submitButton) {
									// validator is the BootstrapValidator instance
									// form is the jQuery object present the current form
									    var opts = {
										success: function(data) {
										    if($.trim(data) == 'Email id already exists.'){
										       $('#preview').html(data);
										       setTimeout(function(){
											    $('#preview').html("");
										       }, 3000);
										    }else {
										       $('#preview').html(data); 
										    }
										    
										}
									    };
									    $(form).ajaxSubmit(opts);
									},
									message: 'This value is not valid',
									feedbackIcons: {
									    valid: 'glyphicon glyphicon-ok',
									    invalid: 'glyphicon glyphicon-remove',
									    validating: 'glyphicon glyphicon-refresh'
									},
									fields: {
									    email: {
										trigger: 'blur',
										validators: {
										    notEmpty: {
											message: 'The email address is required and can\'t be empty'
										    },
										    emailAddress: {
											message: 'The input is not a valid email address'
										    }
										}
									    },
									    password: {
										validators: {
										    notEmpty: {
											message: 'The password is required and can\'t be empty'
										    }
										}
									    },
									    confirmPassword: {
										validators: {
										    notEmpty: {
											message: 'The confirm password is required and can\'t be empty'
										    },
										    identical: {
											field: 'password',
											message: 'The password and its confirm are not the same'
										    }
										}
									    }
									}
							    });
						},
						closeClick: false,
						appearEase: "swing",			     
				    }); 
			});		
	    });
	    
	    $('[data-toggle="tabajax"]').click(function(e) {
		var $this = $(this),
		loadurl = $this.attr('href'),
		targ = $this.attr('data-target');
    
		// @ajax get request to load the data
		$.post(loadurl, function(data) {	    
		    $(targ).html(data);
		});
		
		$this.tab('show');
		return false;
	    });	    
    });   
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
    