<?php $this->placeholder('userstaticfiles')->captureStart() ?>

<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>

    
    <div class="col-sm-9 mp-up-lyt" style="min-height:500px;">
		<div class="my_all_job_list jb-cntn-lst mtp">
			<div>
                            <div>
                                <h3>Job List</h3>
                                <table class="dynamicTable colVis table orders_table" id="my_jobs_listing">

				<!-- Table heading -->
				<thead class="bg-gray">
					<tr>
						<th>Job</th>
						<th>Title</th>
						<th>Description</th>
						<th>Applicants</th>
						<th>Actions</th>
					</tr>
				</thead>
				<!-- // Table heading END -->
	
				<!-- Table body --> 
				<tbody>
                                    
                                    <?php
                                        if( $this->data['data'] ) {
                                            foreach( $this->data['data'] as $data => $values ) {
                                            ?>
                                            <tr class="jobseekers_<?php echo $values['job']; ?>">
                                                <td>#<?php echo $values['job']; ?></td>
                                                <td><?php echo $values['title']; ?></td>
                                                <td>
                                                    <span id="jobDescription"><?php echo $values['description']; ?></span><br />
                                                    <b>Budget:</b><span id="">$<?php echo $values['budget']; ?></span>                                                    
                                                </td>
						<td><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/jobseekers/job/<?php echo $values['job']; ?>"><?php echo $values['countvalue']; ?></a></td>
                                                <td>
                                                    <a class="edit" href="<?php echo $this->baseUrl(); ?>/users/job/edit/id/<?php echo $values['job']; ?>/owner/<?php echo $values['user_id']; ?>"></a>
                                                    <a class="delete" href="#" class="delete" data="<?php echo $values['job']; ?>"></a>
                                                </td>
                                            </tr>
                                            <?php
                                        } } else {
                                            echo "No job posted by you !!!";
                                        }
                                    ?>
                                </tbody>
                                
                                </table>                                
                            </div>
			    <div id="operation_status" class="col-md-3"></div>
                        </div>
	       </div>
    </div>
    

<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script>
	    jQuery(document).ready(function($){
			$("a.delete").each(function(index){				    
				    $(this).click(function(e){						
						e.preventDefault();
						//Form Validation goes here....
						$.ajax({
							    cache: false,
							    url : "<?php echo $this->baseUrl(); ?>/users/job/del/format/html",
							    type: "GET",
							    //dataType : "json",
							    data : {'data':$(this).attr('data')},
							    //context : Form,
							    success : function(result){
									//$(this)[0].reset();
									$("#operation_status").html(result).promise().done(function(){
										    
										    location.reload();
									    
									});
							    },
							    error : function(){
								    $(this).html("Error!");
							    }
						});
						
				    });
				    
			});	    
	    });   
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
