<?php $sess = new Zend_Session_Namespace('UserSession'); ?>
<?php $this->placeholder('sidebar')->captureStart() ?>

<div class="col-md-3">
	
	
			    
</div>

<?php $this->placeholder('sidebar')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<article class="col-sm-9 mp-up-lyt">
                            <div id="final_image"></div>
			    <form class="form-horizontal" id="upload_form" enctype="multipart/form-data" method="post" action="<?php echo PUBLIC_URI; ?>/admin/media-uploader/index/format/html" onsubmit="return checkForm()">
							<!-- Column -->
							<div class="row">
								<strong>Profile Image</strong>
							</div>
							<!-- hidden crop params -->
							<input type="hidden" id="x1" name="x1" />
							<input type="hidden" id="y1" name="y1" />
							<input type="hidden" id="x2" name="x2" />
							<input type="hidden" id="y2" name="y2" />
							<input type="hidden" id="profile" name="section" value="user-avatar" />
							<input type="hidden" id="sess" name="user" value="<?php echo $sess->userId; ?>">
							<div class="separator top"></div>
							<div class="row">
								<div class="error alert alert-danger">Click Select Image to change profile pic.</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="step2 hide">Loading.....</div>
									<img id="preview" src="<?php echo PUBLIC_URI; ?>/media/<?php echo $sess->userId; ?>/user-avatar_<?php echo $sess->userId; ?>_0_250x250<?php echo $this->data['media'][0]['type']; ?>" />															
									<div id="preview-pane" style="display: none;">
										<div class="preview-container" style="width: 250px; height: 250px;">
											<img src="" class="jcrop-preview img-responsive img-clean" alt="Preview Pan" />
										</div>
									</div>
								</div>
							</div>
							<div class="separator bottom"></div>
							<div class="row">
									<div class="fileupload fileupload-new margin-none" data-provides="fileupload">
										<div class="input-group">
											<!--<div class="form-control col-md-3"><i class="fa fa-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>-->
											<span class="input-group-btn">
												<span class="btn-fl-up"><span class="fileupload-new">Select Image</span><span class="fileupload-exists">Change</span>
													<input type="file" reuired="true" size="30" class="margin-none form-control" name="image_file" id="image_file" onchange="fileSelectHandler()"/>
												</span>
												<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
											</span>
										</div>
									</div>
									<div class="separator top">
										<div class="form-actions" style="margin: 0;">
											<button type="submit" id="form-submit" class="btn btn-primary"><i class="fa fa-check"></i>Upload Image</button>
										</div>
									</div>
							</div>
							<div class="row">
								<div class="info">
									<label>File size</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filesize" name="filesize" />
									</div>
									<div class="separator bottom"></div>
									<label>Type</label>
							
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filetype" name="filetype" />
									</div>
									<div class="separator bottom"></div>
								
									<label>Image dimension</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filedim" name="filedim" />
									</div>
									<div class="separator bottom"></div>
						
									<label>W</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="w" name="w" value="200"/>
										<input type="hidden" class="form-control" id="ww" name="ww" value="200"/>
									</div>
									<div class="separator bottom"></div>
									<label>H</label>
								
									<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
									<input type="text" class="form-control" id="h" name="h" value="200" />
									<input type="hidden" class="form-control" id="hh" name="hh" value="200"/>
								</div>
								<div class="separator bottom"></div>
							</div>
			</form>
</article>
<?php $this->placeholder('slider')->captureEnd() ?>
<?php $this->placeholder('testjavascripts')->captureStart() ?>
	<script src="<?php echo $this->baseUrl().'/css/assets/components/core/js/jquery.Jcrop.min.js'; ?>" type="text/javascript"></script>
	<script src="<?php echo $this->baseUrl().'/css/assets/components/core/js/script.js'; ?>" type="text/javascript" ></script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>