<?php $this->placeholder('slider')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('UserSession'); ?>
<div class="col-md-9">
    <form class="form-horizontal" id="upload_form" enctype="multipart/form-data" method="post" action="">
        <div class="row">
        <div class="col-md-6">
        
            <div class="form-group">
		<label class="col-md-3 control-label">First name</label>
                <div class="col-md-9">
		    <div class="input-group">
			<input type="text" placeholder="Enter your first name !" class="form-control" value="<?php echo $this->data['data'][0]->first_name; ?>" name="first_name" required="true">
                        <span data-original-title="First name is mandatory" data-placement="top" data-container="body" data-toggle="tooltip" class="input-group-addon"><i class="fa fa-question-circle"></i></span>
		    </div>
		</div>
	    </div>
            
            <div class="form-group">
		<label class="col-md-3 control-label">Last name</label>
                <div class="col-md-9">
		    <div class="input-group">
			<input type="text" placeholder="Enter your last name !" class="form-control" value="<?php echo $this->data['data'][0]->last_name; ?>" name="last_name" required="true">
			<span data-original-title="Last name is mandatory" data-placement="top" data-container="body" data-toggle="tooltip" class="input-group-addon"><i class="fa fa-question-circle"></i></span>
		    </div>
		</div>
	    </div>
            
            <div class="form-group">
		<label class="col-md-3 control-label">Date of birth</label>
                <div class="col-md-9">
		    <div class="input-group">
			<input type="text" placeholder="Enter your Date Of Birth !" class="form-control" id="datepicker1" value="<?php echo $this->data['data'][0]->date_of_birth; ?>" name="date_of_birth" required="true">
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		    </div>
		</div>
	    </div>
        
        </div>
        
        <div class="col-md-6">
        
            <div class="form-group">
		<label class="col-md-3 control-label">Gender</label>
		<div class="col-md-9">
		    <select class="form-control" value="Male" name="gender" required="true">
			<option selected="selected"><?php echo $this->data['data'][0]->gender; ?></option>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
		    </select>
		</div>
	    </div>
            
            <div class="form-group">
		<label class="col-md-3 control-label">Age</label>
                <div class="col-md-9">
		    <input type="text" class="form-control" value="<?php echo $this->data['data'][0]->age; ?>" required="true" name="age">
		</div>
	    </div>
        
        </div>
        </div>
        <div class="row">					
							<!-- Column -->
							<div class="col-md-3">
								<strong>Contact details</strong>
								<p class="muted"><?php echo $this->data['data'][0]->address; ?></p>
							</div>
							<!-- // Column END -->						
							<!-- Column -->
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-6">
										<label for="inputPhone">Phone</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone"></i></span>
											<input type="text" placeholder="Enter your phone number !" class="form-control" value="<?php echo $this->data['data'][0]->phone; ?>" name="phonenumber" id="inputPhone">
										</div>
										<div class="separator bottom"></div>
											
										<label for="inputEmail">E-mail</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
											<input type="text" placeholder="Enter your email !" class="form-control" value="<?php echo $this->data['data'][0]->email; ?>" name="email" id="inputEmail">
										</div>
										<div class="separator bottom"></div>
										
										<label for="inputWebsite">Website</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-link"></i></span>
											<input type="text" placeholder="Application Url !" class="form-control" value="<?php echo $this->data['data'][0]->website; ?>" name="website" id="inputWebsite">
										</div>
										<div class="separator bottom"></div>
									</div>
									<div class="col-md-6">
										<label for="inputFacebook">Facebook</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-facebook"></i></span>
											<input type="text" placeholder="Enter facebook ID !" class="form-control" value="<?php echo $this->data['data'][0]->fb_name; ?>" name="fb_name" id="inputFacebook">
										</div>
										<div class="separator bottom"></div>
										
										<label for="inputTwitter">Twitter</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
											<input type="text" placeholder="Enter your twitter ID !" class="form-control" value="<?php echo $this->data['data'][0]->tw_name; ?>" name="tw_name" id="inputTwitter">
										</div>
										<div class="separator bottom"></div>
										
										<label for="inputSkype">Skype ID</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-skype"></i></span>
											<input type="text" placeholder="mySkypeID" class="form-control" value="<?php echo $this->data['data'][0]->sky_name; ?>" name="sky_name" id="inputSkype">
										</div>
										<div class="separator bottom"></div>
									
										<label for="inputgplus">Google</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
											<input type="text" placeholder="google ID" class="form-control" value="<?php echo $this->data['data'][0]->gplus_name; ?>" name="gplus_name" id="inputgplus">
										</div>
										<div class="separator bottom"></div>
									</div>
								</div>
							</div>
							<!-- // Column END -->						
						</div>
        <div class="row">
            <textarea id="mustHaveId" class="form-control" placeholder="Enter your biography" rows="5" name="bio" required="true">
                <?php echo $this->data['data'][0]->bio; ?>
            </textarea>
        </div>
        <div class="row">
            <div style="margin: 0;" class="form-actions">
		<button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Save changes</button>
	    </div>
        </div>
    </form>
</div>
<?php $this->placeholder('slider')->captureEnd() ?>