<?php $this->placeholder('userstaticfiles')->captureStart() ?>

<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<div class="wrapper newjob col-md-9 mp-up-lyt">  
    <div>
		<div class="user_create_new_job">
			<div class="row">                            
                            <div class="fd-mx-cntnt">
                                <div id="output"></div><!-- to see the output of the ajax request -->
                                <h3 class="col-sm-8">Post A Feedback</h3>
                                <p id="preview" class="bg-warning"></p>
                                <form class="form-horizontal" role="form" action="<?php echo $this->baseUrl(); ?>/dashboard/reviews" method="POST">
                                    <input type="hidden" name="about_who" value="site" />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Feedback & Review</label>
                                        <div class="col-sm-8">
                                            <textarea style="height: 150px;" name="feedback" rows="5" class="form-control" id="inputEmail3" placeholder="Please enter the feedback description !!"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                    	
                                        <div class="col-sm-8">
                                            <button type="submit" class="btn btn-primary">Add new feedback</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                             </div>
                            <div class="row">                                
                                <?php
                                    if( $this->data['data'] ) {
                                        ?>
                                            <strong>Feedback List</strong>
                                        <?php
                                        echo "<ul class='list-group'>";
                                            foreach( $this->data['data'] as $data => $values ) {
                                                ?>
                                                    <li class="review_<?php echo $values['id']; ?> list-group-item">
                                                        <div class="row">
                                                            <div class="col-sm-1">#<?php echo $values['id']; ?></div>
                                                            <div class="col-md-9">
                                                                <?php echo $values['feedback_review']; ?>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <b>On: </b><?php echo $values['added_on']; ?><br />
                                                                <b>About: </b><?php echo $values['about_who']; ?>
                                                            </div>
                                                            <div class="col-sm-1"><a data="<?php echo $values['id']; ?>" class="review_d" href="javascript:void(0)">Remove</a></div>
                                                        </div>
                                                    </li>
                                                <?php
                                            }
                                        echo "</ul>";
                                    }
                                ?>                                
                            </div> <!-- feedback division ends -->
                       
	       </div>
    </div>
</div>
<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script>
    
    jQuery(document).ready(function($){
        
        $("#startDate").datepicker({dateFormat:"yy-dd-mm"});//	YYYY-DD-MM
        $("#endDate").datepicker({dateFormat:"yy-dd-mm"});//	YYYY-DD-MM
        
	//alert("jQuery working");
	$("form").submit(function(e){
		e.preventDefault();
		var data = {}
		var Form = this;

		//Gathering the Data
		$.each(this.elements, function(i, v){
		    var input = $(v);
		    data[input.attr("name")] = input.val();
		    delete data["undefined"];
        	});
                
		//Form Validation goes here....
		$.ajax({
			cache: false,
			//url : 'http://hopto-api.greygoo.io/v1/users',
			type: "POST",
			//dataType : "json",
                        //data : JSON.stringify(data),
			data : data,
			//context : Form,
			success : function(result){
				//$(this)[0].reset();
				$("#output").html(result);
			},
			error : function(){
				$(this).html("Error!");
			}
		});
	});
        
        // @delete review
        $("a.review_d").each(function(index){
            var id = $(this).attr("data");
            $(this).click(function( e ){
                e.preventDefault();
                
                //Form Validation goes here....
		$.ajax({
			cache: false,
			url : '<?php echo $this->baseUrl(); ?>/users/dashboard/deletereview',
			type: "POST",
			//dataType : "json",
                        //data : JSON.stringify(data),
			data : {id:id},
			//context : Form,
			success : function(result){
				//$(this)[0].reset();
                                $("li.review_"+id).addClass('hide');
				$("#output").html(result);
			},
			error : function(){
				$(this).html("Error!");
			}
		});
                
            });
        });
    });
    
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>