<?php $this->placeholder('userstaticfiles')->captureStart() ?>

<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/minified/themes/default.min.css" type="text/css" media="all" />
<style>
			form div {
				padding: .5em;
			}
			code:before {
				position: absolute;
				content: 'Code:';
				top: -1.35em;
				left: 0;
			}
			code {
				margin-top: 1.5em;
				position: relative;
				background: #eee;
				border: 1px solid #aaa;
				white-space: pre;
				padding: .25em;
				min-height: 1.25em;
			}
			code:before, code {
				display: block;
				text-align: left;
			}

			.de_activate > a {
			    background: none repeat scroll 0 0 #920000;
			    border-radius: 9px 9px 9px 9px;
			    color: #FFFFFF;
			    display: inline-block;
			    margin-left: 41px;
			    margin-top: 25px;
			    padding: 10px;
			}	
</style>

<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<?php $db=Zend_Registry::get("db"); ?>
    <div class="col-sm-9 mp-up-lyt" style="min-height:500px;">
		<div class="user_create_new_job">
			<div class="row">
                            <div class="col-sm-9">
                                <h3>Account Settings</h3>
                                <p id="preview" class="bg-warning"></p>
                                <?php if( $this->data['data'] ) {; ?>
                                <?php foreach( $this->data['data'] as $data => $values ) {; ?>
                                <form class="form-horizontal" role="form" action="" method="POST">
                                
                                    <div class="col-md-6"><!-- left side -->                                        
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="first_name" value="<?php echo $firstName = (isset($values['first_name'])) ? $values['first_name'] : ''; ?>" class="form-control" id="inputEmail3" placeholder="Please enter job title!!">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="last_name" value="<?php echo $lastName = (isset($values['last_name'])) ? $values['last_name'] : ''; ?>" class="form-control" id="inputEmail3" placeholder="Please enter job title!!">
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">DOB</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="date_of_birth" value="<?php echo $dateOfBirth = (isset($values['date_of_birth'])) ? $values['date_of_birth'] : ''; ?>" name="date_of_birth" class="form-control" id="inputEmail3" placeholder="Please enter your date of birth !!">
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Gender</label>
                                            <div class="col-sm-10">
                                                <select name="gender" class="form-control">
                                                    <option selected="selected" value="<?php echo $gender = (isset($values['gender'])) ? $values['gender'] : ''; ?>"><?php echo $gender = (isset($values['gender'])) ? $values['gender'] : ''; ?></option>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Address</label>
                                            <div class="col-sm-10">
                                                <textarea type="text" rows="3" id="address" name="address" class="form-control" id="inputEmail3" placeholder="Please update your gender !!"><?php echo $gender = (isset($values['address'])) ? $values['address'] : ''; ?></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Skype Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="sky_name" value="<?php echo $gender = (isset($values['sky_name'])) ? $values['sky_name'] : ''; ?>" name="sky_name" class="form-control" id="inputEmail3" placeholder="User's facebook name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="email"  readonly="readonly" value="<?php echo $gender = (isset($values['email'])) ? $values['email'] : ''; ?>" name="email" class="form-control" id="inputEmail3" placeholder="User email, primary email ID !!">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6"><!-- right side -->
                                        
                                        
                                        
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Facebook Username</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="fb_name" value="<?php echo $gender = (isset($values['fb_name'])) ? $values['fb_name'] : ''; ?>" name="fb_name" class="form-control" id="inputEmail3" placeholder="User's facebook name">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Twitter Username</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="tw_name" value="<?php echo $gender = (isset($values['tw_name'])) ? $values['tw_name'] : ''; ?>" name="tw_name" class="form-control" id="inputEmail3" placeholder="User's twitter name">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Google Username</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="gplus_name" value="<?php echo $gender = (isset($values['gplus_name'])) ? $values['gplus_name'] : ''; ?>" name="gplus_name" class="form-control" id="inputEmail3" placeholder="User's google name">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Age</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="age" value="<?php echo $gender = (isset($values['age'])) ? $values['age'] : ''; ?>" name="age" class="form-control" id="inputEmail3" placeholder="User's age">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Pincode</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="age" value="<?php echo $gender = (isset($values['pincode'])) ? $values['pincode'] : ''; ?>" name="pincode" class="form-control" id="inputEmail3" placeholder="User's Pincode">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Phone Number</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="phone" value="<?php echo $gender = (isset($values['phone'])) ? $values['phone'] : ''; ?>" name="phone" class="form-control" id="inputEmail3" placeholder="User's phonenumber">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class=""><!-- profile bottom display the address of the user -->                                        
                                        <div class="form-group ifrma-hyt">
                                            <div class="col-sm-12">
                                                <textarea name="bio" rows="5" class="form-control" id="inputEmail3" placeholder="About Me"><?php echo $gender = (isset($values['bio'])) ? $values['bio'] : ''; ?></textarea>
                                            </div>
                                        </div>                                        
                                    </div>
                                    
                                    <div class="form-group"> <!-- main submit button -->
                                      <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary sv-chng-btn">Save Changes</button>
                                      </div>
                                    </div>                                
                                </form>                                
                            </div>
                            
                            <!-- sidebar division to show profile image of the user -->
                            <div class="col-sm-3 mrgn-rsp-mb">
                                <h3>Profile Image</h3>
                                <?php
                                    $media = $db->fetchAll("select type from media where section=? and owner=?", array('user-avatar',$values['id']), 2);
                                    if( $media ) {                                            
                                            ?>
                                            <a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mypic">
                                                <img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $values['id']; ?>/user-avatar_<?php echo $values['id']; ?>_0_250x250<?php echo $media[0]['type']; ?>" alt="Profile Image">
                                            </a>
                                            <?php
                                    } else {
                                            ?>
                                            <a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mypic">
                                                <img src="<?php echo $this->baseUrl(); ?>/images/msg-pro.jpg" alt="Profile Image">
                                            </a>  
                                            <?php
                                    }
                                ?>     
                                  <div class="de_activate text-center"><a style="margin-left:0px;" href="javascript:void(0);" id="Deactivate_User">Deactivate Your Account</a></div>
                            <?php } ?><!-- foreach ends here -->
                            <?php } ?><!-- if else ends here again -->
                        </div>                           
                            </div>
			 
	       </div>
    </div>
    

<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/minified/jquery.sceditor.bbcode.min.js"></script>
<script>
    
    jQuery(document).ready(function($){
        
	    $("#date_of_birth").datepicker({dateFormat:"yy-dd-mm"});//	YYYY-DD-MM
        
	    //alert("jQuery working");
	    $("form").submit(function(e){
			e.preventDefault();
			var data = {}
			var Form = this;

			//Gathering the Data
			$.each(this.elements, function(i, v){
				    var input = $(v);
				    data[input.attr("name")] = input.val();
				    delete data["undefined"];
			});
                
			//Form Validation goes here....
			$.ajax({
				    cache: false,
				    url : '<?php echo $this->baseUrl(); ?>/users/dashboard/settings',
				    type: "POST",
				    //dataType : "json",
				    //data : JSON.stringify(data),
				    data : data,
				    context : Form,
				    success : function(result){
					    //$(this)[0].reset();
					    $("#preview").html(result);
				    },
				    error : function(){
					    $(this).html("Error!");
				    }
			});
	    });
	
	    // Source: http://www.backalleycoder.com/2011/03/20/link-tag-css-stylesheet-load-event/
			var loadCSS = function(url, callback){
				var link = document.createElement('link');
				link.type = 'text/css';
				link.rel = 'stylesheet';
				link.href = url;
				link.id = 'theme-style';

				document.getElementsByTagName('head')[0].appendChild(link);

				var img = document.createElement('img');
				img.onerror = function(){
					if(callback) callback(link);
				}
				img.src = url;
			}

			//$(document).ready(function() {
				var initEditor = function() {
					$("textarea#inputEmail3").sceditor({
						plugins: 'bbcode',
						style: "<?php echo $this->baseUrl(); ?>/minified/jquery.sceditor.default.min.css"
					});
				};

				$("#theme").change(function() {
					var theme = "<?php echo $this->baseUrl(); ?>/minified/themes/" + $(this).val() + ".min.css";

					$("textarea#inputEmail3").sceditor("instance").destroy();
					$("link:first").remove();
					$("#theme-style").remove();

					loadCSS(theme, initEditor);
				});

				initEditor();
			//});

		
		$("#Deactivate_User").click(function(e){
			var question = confirm("Are you sure you want to Deactivate your Account ?");
			if(question){
				$.ajax({
				    cache: false,
				    url : '<?php echo $this->baseUrl(); ?>/users/dashboard/deactivate',
				    type: "GET",
				    success : function(result){
					   if(result.status == 'success'){
						window.location.href = "<?php echo $this->baseUrl(); ?>";
					   }else{
						console.log("can't deactivate your account");
					   	window.location.href = "<?php echo $this->baseUrl(); ?>/users/dashboard/settings";
					   }	
				    },
				    error : function(){
					    console.log("error sucks");
					    window.location.href = "<?php echo $this->baseUrl(); ?>/users/dashboard/settings";
				    }
			       });
		        }
		});
	
    	});
    
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
