<?php $sess = new Zend_Session_Namespace('UserSession'); ?>
<?php $this->placeholder('slider')->captureStart() ?>

 <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/assets/components/library/jquery-ui/css/jquery.ui.chatbox.css" />
 <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/assets/components/library/jquery-ui/css/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/assets/components/library/jquery-ui/css/jquery-ui.css" />

<style type="text/css">
	.ui-chatbox{
		 bottom: 6% !important;
	}
</style>




<article class="col-sm-9 my-list-cntct mp-up-lyt">
		<div class="heading-buttons bg-white border-bottom innerAll">
			<h3 class="content-heading padding-none pull-left">Contacts</h3>
				<div class="clearfix"></div>
		</div>
		<div class="input-group input-lg ">
		 	 <input type="text" class="form-control" placeholder="Search Contact">
		  	 <div class="input-group-btn"><button class="btn btn-primary" type="button" value="Search">Search</button></div>
		</div>

	<?php

	 // echo "<pre>";
		// print_r($this->data['media']); die();
	?>
	<div class="innerLR border-top">
		
		<div class="row row-merge">
			
		<?php
			$img="";
			if($this->data['users']) {
				foreach ($this->data['users'] as $key => $user) {
				
					foreach ($this->data['media'] as $key => $image) {
					
						//if ($user['user_id'] == $image['owner']) {

						//	$img = PUBLIC_URI."/media/".$image['owner']."/".$image['section']."_".$image['owner']."_0_51x51".$image['owner']."";
 	$img = PUBLIC_URI."/media/".$image['owner']."/user-avatar"."_".$image['owner']."_0_51x51".$image['type'];
//echo "<pre>"; print_r($img); die;
						//} 
					}
		?>
						<div class="col-md-6 bg-white border-bottom ">
								<div class="row">
									<div class="col-xs-9">
										<div class="media">
											<a class="pull-left" href="#">
												<img class="media-object" src="<?php if($img) { echo $img; } else { echo PUBLIC_URI."/images/bid-pic.jpg"; } ?>" alt="User Pic">
											</a>
											<div class="media-body innerAll half">
												 <h4 class="media-heading padding-none"><a href=""><?php echo $user['first_name'].' '.$user['last_name']; ?></a> </h4>
												 <small class="text-success"><i class="fa fa-check"></i> Friend</small> 
												 <p><?php echo $user['address']; echo $user['id'];  ?></p>
												  <?php if( $user['on_off'] == 1 ){ ?>
												  <p class="text-success"><i class="fa fa-fw fa-circle"></i> Online</p>
												 <?php }else{ ?>
												 <p class="text-error"><i class="fa fa-fw fa-circle"></i> Offline</p>
												 <?php  }  ?>
											</div>
										</div>
									</div>
										<div class="col-xs-3 ">
											<div class="innerAll half text-right">
												<div class="innerT half">
													<a href="javascript:void(0);" class="userchat"><i class="fa fa-envelope-o"></i>
														<form class="form-horizontal" onsubmit="signInOut(<?php echo $user['favorite_id']; ?>);return false" id="signInForm" name="signInForm">
															<input id="userName" type="hidden" value="<?php echo $user['favorite_id']; ?>">
															<span class="hide" id="signInName">User name</span>
															<input id="signInButt" name="signIn" type="submit" value="Chat">
															<input type="hidden" name="receiver_id">
														</form>														
													</a>
													<a class="favoriteLink" case="message" href="javascript:void(0);" id="<?php echo $user['favorite_id']; ?>">
														Send Message
													</a>
													<a class="favoriteLink" case="review" href="javascript:void(0);" id="<?php echo $user['favorite_id']; ?>">
														Write Review
													</a>
												</div>
											</div>
										</div>
								</div>
						</div>
					<?php
				}

			}else{
		?>
			<div>No Contacts found.</div>
		<?php
				}
		?>

		</div>
	</div>	<div id="chat_div"></div>
						
</article>
<?php $this->placeholder('slider')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/library/jquery-ui/js/jquery-ui.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/js/chatu.js"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/core/js/ajax.js"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/core/js/chatboxu.js"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/library/jquery/jquery.ui.chatboxu.js?v=v1.2.3"></script>

<script>    
jQuery(document).ready(function($){	
	$("a.favoriteLink").click(function(e){
		e.preventDefault(); // let only click on one link at a time
		$("#create_account").load('<?php echo $this->baseUrl(); ?>/users/dashboard/favorite/format/html?vendor_id='+$(this).attr("id")+'&case='+$(this).attr("case")+'', function(){
			$(this).lightbox_me({			 
				centered: true,
				onLoad: function() { 
					$(this).find('.form input:first').focus()
					$(this).removeClass('hide');
					
					//valiadate();
					$('.close').click(function(){					    
					    $(this).trigger('close');    					    
					})
				 
					//alert("jQuery working");
					$("form.favorite").submit(function(e){
						e.preventDefault();
						var data = {}
						var Form = this;
				
						//Gathering the Data
						$.each(this.elements, function(i, v){
						    var input = $(v);
						    data[input.attr("name")] = input.val();
						    delete data["undefined"];
						});
						
						//Form Validation goes here....
						$.ajax({
							cache: false,
							url : '<?php echo $this->baseUrl(); ?>'+$(this).attr('action'),
							type: "POST",
							//dataType : "json",
							//data : JSON.stringify(data),
							data : data,
							//context : Form,
							success : function(result){
								//$(this)[0].reset();
								$("#output").html(result);
							},
							error : function(){
								$(this).html("Error!");
							}
						});
					});
				},
				closeClick: false,
				appearEase: "swing",			     
			}); 
		});
		e.preventDefault();        
	});
});    
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
