<?php $this->placeholder('content')->captureStart() ?>
<?php $latestMessageKey = key(array_slice($this->data['messages'], -1, 1, true)); 

 $ts1 = strtotime($this->data['messages'][$latestMessageKey]->date);
 $ts2 = strtotime(date('Y-m-d H:i:s'));

 $seconds_diff = $ts2 - $ts1;
 $day_diff = floor($seconds_diff/3600/24);
 $hour_diff = floor($seconds_diff/3600);
 $Message_year =  date('Y', $ts1);
 $Current_year =  date('Y', $ts2);
 $year_diff = $Current_year - $Message_year;

 if($year_diff > 0){
	if( $hour_diff == 1 ) $yrs =  'year';	
	else $yrs =  'years';
        $showDate = $year_diff. ' '.$yrs;

 }elseif($day_diff > 0){
	if( $hour_diff == 1 ) $hrs =  'day';	
	else $dys =  'days';
	$showDate = $day_diff. ' '. $dys ;

 }elseif($hour_diff > 0){ 
	if( $hour_diff == 1 ) $hrs =  'hour';	
	else $hrs =  'hours';
 	$showDate = $hour_diff. ' '. $hrs;

 }else{
	$showDate = $seconds_diff. ' seconds';
 }


?>

	<h1 class="bg-white content-heading border-bottom">Dashboard</h1>
	<div class="bg-white innerAll border-bottom">
		<!-- <ul class="menubar">
			<li class="active"><a href="index.html?lang=en">Dashboard</a></li>
			<li><a href="#"><span class="badge badge-primary pull-right">30</span> Button</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Dropdown Link #1</a></li>
					<li><a href="#">Dropdown Link #2</a></li>
					<li><a href="#">Dropdown Link #3</a></li>
				</ul>
			</li> 
		</ul> -->
	</div>
	<div class="innerAll spacing-x2">

		<div class="row">
	<!--		<div class="col-md-3 col-sm-6">
				<div class="panel-3d">
					<div class="front">

						<div class="widget text-center">
							<div class="widget-body padding-none">
								<div>
									<div class="innerAll bg-inverse">
										<p class="lead text-white strong margin-none"><i class="icon-graph-up-1"></i><br/>47,340</p>
									</div>
									<div class="innerAll">
										<button class="btn btn-inverse">View Statistics</button>
									</div>
								</div>
							</div>
						</div>

					</div>
				<div class="back">

					<div class="widget widget-inverse widget-scroll" data-scroll-height="165px">
						<div class="widget-head">
							<button class="btn btn-xs btn-default pull-right"><i class="fa fa-times"></i></button>
							<h4 class="heading">Statistics</h4>
						</div>
						<div class="widget-body padding-none">
							
							<div>
								<table class="table table-condensed">
									<!-- Table body -->
									<!--<tbody>-->
										
																				<!-- Table row -->
										<!--<tr>
											<td class="center">Oct</td>
											<td><strong>27,340<strong></td>
											<td><a href="#">mosaicpro.biz</a></td>
										</tr>-->
										<!-- // Table row END -->
										<!-- Table row -->
									<!--	<tr>
											<td class="center">Oct</td>
											<td><strong>10,340<strong></td>	
											<td><a href="#">themeforest.net</a></td>
										</tr>-->
										<!-- // Table row END -->
										<!-- Table row -->
										<!--<tr>
											<td class="center">Oct</td>
											<td><strong>1,130<strong></td>
											<td><a href="#">mosaicpro.biz</a></td>
										</tr>-->
										<!-- // Table row END -->
										<!-- Table row -->
										<!--<tr>
											<td class="center">Oct</td>
											<td><strong>130<strong></td>
											<td><a href="#">adriandemian.biz</a></td>
										</tr>-->
										<!-- // Table row END -->
																				<!-- Table row -->
										<!--<tr>
											<td class="center">Oct</td>
											<td><strong>27,340<strong></td>
											<td><a href="#">mosaicpro.biz</a></td>
										</tr>-->
										<!-- // Table row END -->
										<!-- Table row -->
										<!--<tr>
											<td class="center">Oct</td>
											<td><strong>10,340<strong></td>	
											<td><a href="#">themeforest.net</a></td>
										</tr>-->
										<!-- // Table row END -->
										<!-- Table row -->
										<!--<tr>
											<td class="center">Oct</td>
											<td><strong>1,130<strong></td>
											<td><a href="#">mosaicpro.biz</a></td>
										</tr>-->
										<!-- // Table row END -->
										<!-- Table row -->
										<!--<tr>
											<td class="center">Oct</td>
											<td><strong>130<strong></td>
											<td><a href="#">adriandemian.biz</a></td>
										</tr>-->
										<!-- // Table row END -->
										
									<!--</tbody>-->
									<!-- // Table body END -->
									
								<!--</table>-->
								<!-- // Table END -->

				<!--			</div>

						</div>
					</div>
				</div>
			</div>
		</div>-->
		<div class="col-md-3 col-sm-6">
			<div class="panel-3d">
				<div class="front">

					<div class="widget text-center">
						<div class="widget-body padding-none">
							<div>
								<div class="innerAll bg-default">
									<p class="lead strong margin-none"><i class="icon-add-to-cart"></i><br/>
<?php if( !empty($this->data['OrderCount']) ) { echo $this->data['OrderCount']; }else { echo "No" ; } ?> Orders</p>
								</div>
								<div class="innerAll">
									<a href="<?php echo $this->baseUrl();?>/admin/orders" class="btn btn-default">View Orders</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="back">
					<div class="widget widget-inverse widget-scroll" data-scroll-height="165px">
						<div class="widget-head">
							<button class="btn btn-xs btn-default pull-right"><i class="fa fa-times"></i></button>
							<h4 class="heading">Orders</h4>
						</div>
						<div class="widget-body padding-none">
							<div>
								<div class="box-generic border-none text-center">
									<p class="margin-none">Orders Total</p>
									<p><strong class="text-large text-primary">&euro;99,134</strong></p>
									<p class="margin-none"><span class="text-success strong">15%</span> <i class="fa fa-fw fa-arrow-up text-success"></i> last 30 days</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="panel-3d">
				<div class="front">
					
					<div class="widget text-center">
						<div class="widget-body padding-none">
							<div>
								<div class="innerAll bg-success">
									<p class="lead strong margin-none text-white"><i class="icon-note-pad"></i><br/><?php if( !empty($this->data['bookingCount']) ) { echo $this->data['bookingCount']; }else { echo "No" ; } ?> Bookings</p>
								</div>
								<div class="innerAll">
									<a href="<?php echo $this->baseUrl(); ?>/admin/booking" class="btn btn-success">View Bookings</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="back">
					<div class="widget widget-inverse widget-scroll" data-scroll-height="165px">
						<div class="widget-head">
							<button class="btn btn-xs btn-default pull-right"><i class="fa fa-times"></i></button>
							<h4 class="heading">Meetings</h4>
						</div>
						<div class="widget-body padding-none">
							<div>
								<div class="media innerAll half margin-none">
		                            <a class="pull-left" href="#">
		                                <img src="<?php echo $this->baseUrl(); ?>/css/assets//images/people/50/15.jpg" alt="" class="img-circle media-object"> 
		                            </a>
		                            <div class="media-body ">
		                                <a href="" class="strong text-success"> <i class="fa fa-circle"></i> Jane Smith</a> 
										<div class="clearfix"></div>
		                                <em>10:20 AM - 21/11/2013</em>
		                            </div>
		                        </div>
		                        <hr class="margin-none"/>

		                        <div class="media innerAll half margin-none">
		                            <a class="pull-left" href="#">
		                                <img src="<?php echo $this->baseUrl(); ?>/css/assets//images/people/50/19.jpg" alt="" class="img-circle media-object"> 
		                            </a>
		                            <div class="media-body ">
		                                <a href="" class="strong text-primary"> <i class="fa fa-circle"></i> Mary Deidre</a> 
										<div class="clearfix"></div>
		                                <em>10:20 AM - 21/11/2013</em>
		                            </div>
		                        </div>
		                    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="panel-3d">
				<div class="front">

					<div class="widget text-center">
						<div class="widget-body padding-none">
							<div>
								<div class="bg-info innerAll">
									<p class="lead strong margin-none text-white"><i class="icon-envelope-2"></i><br/><?php if(!empty($this->data['messages'])){ $Msgcount = count($this->data['messages']); if($Msgcount > 0) { echo $Msgcount; } }else{ echo 'No'; } ?> Messages</p>
								</div>
								<div class="innerAll">
									<button class="btn btn-info">View Messages</button>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="back">

					<div class="widget widget-inverse widget-scroll" data-scroll-height="165px">
						<div class="widget-head">
							<button class="btn btn-xs btn-default pull-right"><i class="fa fa-times"></i></button>
							<h4 class="heading">Messages</h4>
						</div>
						<div class="widget-body padding-none">
							<div>
								<div class="media innerAll">
								<i class="fa fa-chat fa-2x pull-left disabled"></i>
									<div class="media-body">
										<?php if(!empty($this->data['messages'])) { ?>	
										<div class="pull-right label label-default"><?php echo $showDate; ?></div>
										<a href="<?php echo $this->baseUrl(); ?>/admin/messages/view/id/<?php echo $this->data['messages'][$latestMessageKey]->conv_id; ?>/to/<?php echo $this->data['messages'][$latestMessageKey]->by_from;?>" class="text-info">

											<?php 

									$Musername = $this->data['messages'][$latestMessageKey]->first_name;

										if( !empty($Musername) ){
											echo $Musername. ' ' .$this->data['messages'][$latestMessageKey]->last_name;
										}else{
											echo $this->data['messages'][$latestMessageKey]->email;
										}  

										?>

										</a> <em>wrote: </em>
										<p>
											<?php
											$str  = implode(' ', array_slice(explode(' ', $this->data['messages'][$latestMessageKey]->message), 0, 6));
											if(str_word_count($this->data['messages'][$latestMessageKey]->message) > 6){ echo $str . '..' ; } else {  echo $this->data['messages'][$latestMessageKey]->message ;  }
											
											?> 
										</p>
										<a href="<?php echo $this->baseUrl(); ?>/admin/messages" class="btn btn-info btn-xs">read message</a>                           <?php } else{ echo "There is no new message."; } ?>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

<div class="row">
     <div class="col-md-9">

<!-- Chat -->
<!--<div class="widget widget-inverse widget-chat" data-builder-exclude>

	<div class="widget-head">
		<h4 class="heading"><i class="icon-comment-fill-1"></i> Chat</h3>
	</div>
	<div class="widget-body padding-none border-bottom">-->
	
	<!-- Slim Scroll -->
<!--	<div class="slim-scroll chat-items" data-scroll-height="235px" data-scroll-size="0">-->
		
		<!-- Media item -->
		<!--<div class="media innerAll border-bottom">
			<small class="author"><a href="#" title="" class="strong">Martin</a></small>
			<img src="<?php echo $this->baseUrl(); ?>/css/assets/images/people/50/2.jpg" alt="" class="img-circle media-object pull-left">
			<div class="media-body">
				<small class="date"><cite>just now</cite></small>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae accumsan mauris. Donec vitae nibh felis, facilisis bibendum sapien.</p>
			</div>
		</div>-->
		<!-- // Media item END -->
		
		<!-- Media item -->
		<!--<div class="media innerAll border-bottom right">
			<small class="author"><a href="#" title="" class="strong">John Doe</a></small>
		    <img src="<?php echo $this->baseUrl(); ?>/css/assets/images/people/50/5.jpg" alt="" class="img-circle media-object pull-right" > 
			<div class="media-body">
				<small class="date"><cite>15 seconds ago</cite></small>
				<p>In ultricies ante eget tortor euismod vitae molestie eros hendrerit. Cras tristique, orci ac lacinia aliquet, velit risus laoreet lectus, eget sollicitudin metus orci non nulla.</p>
			</div>
		</div>-->
		<!-- // Media item END -->
		
		<!-- Media item -->
		<!--<div class="media innerAll">
			<small class="author"><a href="#" title="" class="strong">Ricky</a></small>
		    <img src="<?php echo $this->baseUrl(); ?>/css/assets/images/people/50/7.jpg" alt="" class="img-circle media-object pull-left" > 
			<div class="media-body">
				<small class="date"><cite>5 minutes ago</cite></small>
				<p>Pellentesque ac turpis turpis. Aliquam erat volutpat. Proin semper auctor mauris vel tempor. Ut eget turpis neque. Nam ultricies tortor eu odio ultricies euismod.</p>
			</div>
		</div>-->
		<!-- // Media item END -->
		
	<!--</div>-->
	<!-- // Slim Scroll END -->
	
<!--	</div>
	
	<div class="chat-controls bg-default innerAll half">
		<div class="">
			<form class="margin-none">
				<div class="input-group">
					<input type="text" name="message" class="form-control" placeholder="Type your message .." />
					<div class="input-group-btn">
						<a type="submit" class="btn btn-primary"><i class="fa fa-comments-o"></i></a>
					</div>
				</div>
			</form>
		</div>
	</div>
	
</div>-->
<!-- // Chat END -->
</div>
	<!--	
		<div class="col-md-3">-->
			
			<!-- Widget -->
		<!--	<div class="widget widget-inverse">-->
		
				<!-- Widget Heading -->
			<!--	<div class="widget-head">
					<h4 class="heading glyphicons calendar"><i></i>Mini Calendar</h4>
				</div>-->
				<!-- // Widget Heading END -->
	<!--
				<div class="widget-body innerAll half">
					<div id="datepicker-inline"></div>
				</div>
			</div>-->
			<!-- // Widget END -->	
	<!--	</div>-->

					
		</div>
	</div>
</div>
<?php $this->placeholder('content')->captureEnd() ?>
