<!DOCTYPE html>
<html>
	<head>
		<title>Email</title>
	</head>
	<body>
		<table style="width:620px;margin:0 auto;">

			<tr>
				<td style="border-bottom:1px solid #cdcdcd;"><a href="<?php echo PUBLIC_URI ;?>" target="_blank"><img style="margin:0;padding:0;border:0;vertical-align:middle;" src="<?php echo PUBLIC_URI; ?>/images/logo.png" alt="" /></a></td>
			</tr>
			<tr>
				<td style="padding:20px 0;font-family:Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; color:#59595b;">
					<span style="font-size:16px;">Dear User[<?php echo $this->email; ?>]</span>
					<p style="font-size:14px; margin-top:40px;">Gus Sanchez has sent you activation code.<br />
					<br />
Your Password Reset code for quinceanera is: <?php echo $this->password_activation_key; ?><br/> To reset your password, please click here:  <a href ="<?php echo PUBLIC_URI; ?>/users/index/forget-password" target="_blank"> Click Here </a><br /><br />
					This is an automtically generated email. Please do not respond to this email.</p>
				</td>
			</tr>	
			<tr>
				<td><img src="images/bike.png" alt="" /></td>
			</tr>
			<tr>
				<td>
					<p style="font-size:14px;font-family:Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; color:#59595b;">Thanks,<br />
					The Quinceaneraplug Team</p>
				</td>
			</tr>
		</table>
	</body>
</html>
