<?php
    $UserSession = new Zend_Session_Namespace('UserSession');
    $db=Zend_Registry::get("db");
    $graphic = $db->fetchAll('select * from media where section=? order by id DESC', array('user-avatar'), 2);
    $cat = $db->fetchAll('select * from vendor_category order by id DESC', array('user-avatar'), 2);
    $countries = $db->fetchAll('select * from countries order by country_id DESC', array(), 2);
    $cities = $db->fetchAll('select * from cities order by cid DESC', array(), 2);
    $favorite = $db->fetchAll('select favorite_id from favorites where user_id=?', array($UserSession->userId));
    
    $favrt = array();
    if($favorite){
	foreach($favorite as $key => $value){
	    array_push($favrt,$value->favorite_id);
	}
    }
   $adds = $db->fetchAll("select * from media where section=? and owner=?and status=? order by id DESC", array('advertisement',20,1), 2);
   //$adds = $db->fetchAll("SELECT  a.title, a.remote_url,m.id,m.owner, m.type  FROM advertisements as a inner join media as m on a.media_id = m.id where m.section= ? and a.status=? ", array('advertisement', 1), 2);
?>
<!-- slider section -->
<?php $this->placeholder('slider')->captureStart() ?>
<!-- banner start here -->

<div class="mode_slideshow">
  <div class="forcefullwidth_wrapper_tp_banner">
    
	<div class="tp-banner-container">
		<div class="tp-banner " id="home">
			<ul>
				<?php
				    $i=1;
				    foreach( $this->data['slider'] as $data => $value ) {
					?>					    
					    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
						<!-- MAIN IMAGE -->
						<img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $value['owner']; ?>/<?php echo $value['section']; ?>_<?php echo $value['owner']; ?>_<?php echo $value['id']; ?>_1680x590<?php echo $value['type']; ?>"   alt=""  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
	
						<!-- LAYERS -->
						<div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider"
								data-x="center" data-hoffset="0"
								data-y="60"
								data-speed="500"
								data-start="800"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power1.easeIn"
								data-captionhidden="off"
								style="z-index: 6"><h2 class="text-white custom-font title "><?php echo $value['title']; ?></h2>
	
						</div>
						<div class="tp-caption sfb slider tp-resizeme slider"
							data-x="center"
							data-hoffset="0"
							data-y="240"
							data-speed="800"
							data-start="1000"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6">	<a href="#" class="btn btn-purple btn-lg  btn-large m-r-10"></a>
						</div>
						<div class="tp-caption fade slider tp-resizeme slider"
							data-x="center"
							data-hoffset="0"
							data-y="300"
							data-speed="500"
							data-start="800"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6">	<a href="#" class="text-white m-r-10"></a>
						</div>
					    </li>
					    
					<?php
					$i++;
				    }	
				?>
			</ul>
		</div>
	</div>
</div></div>

<!-- banner start here -->
	
<?php $this->placeholder('slider')->captureEnd() ?>

<!-- frist tab section starts -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>

<!--cat link -->

<div class="mode_megamenu">

<div class="container_24">

<div style="display: block;" class="cs_mega_menu" id="menu">
<ul class="ul_mega_menu">
<!--<li class=" menu_item menu_first level-1 parent"> <a class="title_menu_parent" href="javascript:void(0);"> New Arrivals</a>

<div class="options_list" style="width: 798.644px; margin-left: 0px;">

<div class="option" style="width: 798.644px; float: left;">

<div class="div_static">

<div class="static_menu_6"><h3>Online WeddingDay for Men and Women</h3>

<div class="static_content">Any shopaholic would fall in love with this layout, ET WeddingDay Responsive Prestashop theme. Super neat design, really modern and high fashion skin for the website. With variety available colors, probably, your website will be congruent with your store image. Need to change? You want a very own color combination? Pieces of cake, you can change it to any color you wish with color variation function. .
</div><h3 class="title_2">ET WeddingDay description</h3>

<div class="static_content">Are you wondering how about its functionality? You will be truly impressed with its features. The most noteworthy thing is responsive layout which will automatically resize layout when changing screen size. Large size slideshow plus promotion blocks blow fresh air into the website and to make it more glamour and magnificent. Vertical navigation sorts all categories in the most logical way which is shown along the way visitors scroll down. Extremely flexible product widget and latest view widget will save you massive time in managing and administrating website and products. Advance layered navigation extension is a stunning filter for visit to search for closest results.
</div>
</div>
</div>
</div> 

<span class="spanOption" style="width: 800px;">
</span>
</div> 

<span class="spanOptionList" style="width: 800px;">
</span></li>
<li class=" menu_item level-1 parent"> <a class="title_menu_parent" href="javascript:void(0);"> Men's</a>

<div class="options_list" style="width: 349.407px; margin-left: 0px;">

<div class="option" style="width: 349.407px; float: left;">
<ul class="column product " style="width: 349.407px;">
<li class="ajax_block_product">

<div class="center_block">

<div class="image"> <a class="product_image_menu" href="javascript:void(0);" title="Quisque pharetra faucibus ante ut pretium"> <img src="images/163-medium_default.jpg" alt="Quisque pharetra faucibus ante ut pretium"> </a>
</div>

<div class="name_product"><h3><a alt="Quisque pharetra faucibus ante ut pretium" href="javascript:void(0);" title="Quisque pharetra faucibus ante ut pretium">Quisque pharetra faucibus ante ut...</a></h3>
</div>

<p class="price_container">

<span class="price">$98.00
</span></p>
</div></li>
<li class="ajax_block_product">

<div class="center_block">

<div class="image"> <a class="product_image_menu" href="javascript:void(0);" title="Integer condimentum ante quis  augue vestibulum"> <img src="images/170-medium_default.jpg" alt="Integer condimentum ante quis  augue vestibulum"> </a>
</div>

<div class="name_product"><h3><a alt="Integer condimentum ante quis  augue vestibulum" href="javascript:void(0);" title="Integer condimentum ante quis  augue vestibulum">Integer condimentum ante quis  augue...</a></h3>
</div>

<p class="price_container">

<span class="price">$98.00
</span></p>
</div></li>
</ul> 

<span class="spanColumn" style="width: 350px;">
</span>
</div> 

<span class="spanOption" style="width: 350px;">
</span>
</div> 

<span class="spanOptionList" style="width: 350px;">
</span></li>
<li class=" menu_item level-1 parent"> <a class="title_menu_parent" href="javascript:void(0);"> Women's</a>

<div class="options_list" style="width: 199.661px; margin-left: 0px;">

<div class="option" style="width: 199.661px; float: left;">
<ul class="column level_0" style="width: 199.661px;">
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Eliquam elementum tellus</a></li>
<li class="category_item parent"> <a class="cat_child" href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=11&amp;controller=category&amp;id_lang=1"> Aliquam elementum</a>

<div class="sub_menu" style="width: 200px; margin-left: 0px;">
<ul style="width: 199.661px;" class="level_1">
<li><a href="javascript:void(0);"> turpis porta at ultricie</a></li>
<li><a href="javascript:void(0);"> Praesent sollicitudin</a></li>
<li><a href="javascript:void(0);"> sem neque vestibu</a></li>
</ul>
</div></li>
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Porta at ultricies diam</a></li>
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Aliquam nibh ligula</a></li>
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Nam in magna a lorem</a></li>
</ul> 

<span class="spanColumn" style="width: 200px;">
</span>
</div> 

<span class="spanOption" style="width: 200px;">
</span>
</div> 

<span class="spanOptionList" style="width: 200px;">
</span></li>
<li class=" menu_item level-1 parent"> <a class="title_menu_parent" href="javascript:void(0);"> Dresses</a>

<div class="options_list" style="width: 1178px; margin-left: -463.5px;">

<div class="option" style="width: 392.666px; float: left;">

<div class="div_static">

<div class="static_menu_6">

<p class="cs_st_img"><img src="images/m_chis.png" alt="" height="84" width="216"></p>

<p>Any shopaholic would fall in love with this layout, ET Boutique Responsive Prestashop theme. Super neat design, really modern and high fashion skin for the website. With variety available colors, probably, your website will be congruent with your store image. Need to change? You want a very own color combination? Pieces of cake, you can change it to any color you wish with color variation function.</p>
</div>
</div>
</div> 

<span class="spanOption" style="width: 393.333px;">
</span>

<div class="option" style="width: 196.334px; float: left;">
<ul class="column product " style="width: 196.334px;">
<li class="ajax_block_product">

<div class="center_block">

<div class="image"> <a class="product_image_menu" href="javascript:void(0);" title="Integer condimentum ante quis  augue vestibulum"> <img src="images/170-medium_default.jpg" alt="Integer condimentum ante quis  augue vestibulum"> </a>
</div>

<div class="name_product"><h3><a alt="Integer condimentum ante quis  augue vestibulum" href="javascript:void(0);" title="Integer condimentum ante quis  augue vestibulum">Integer condimentum ante quis  augue...</a></h3>
</div>

<p class="price_container">

<span class="price">$98.00
</span></p>
</div></li>
</ul> 

<span class="spanColumn" style="width: 196.667px;">
</span>
</div> 

<span class="spanOption" style="width: 196.667px;">
</span>

<div class="option" style="width: 196.334px; float: left;">
<ul class="column level_0" style="width: 196.334px;">
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Eliquam elementum tellus</a></li>
<li class="category_item parent"> <a class="cat_child" href="javascript:void(0);"> Aliquam elementum</a>

<div class="sub_menu" style="width: 196.667px; margin-left: 0px;">
<ul style="width: 196.334px;" class="level_1">
<li><a href="javascript:void(0);"> turpis porta at ultricie</a></li>
<li><a href="javascript:void(0);"> Praesent sollicitudin</a></li>
<li><a href="javascript:void(0);"> sem neque vestibu</a></li>
</ul>
</div></li>
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Porta at ultricies diam</a></li>
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Aliquam nibh ligula</a></li>
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Nam in magna a lorem</a></li>
</ul> 

<span class="spanColumn" style="width: 196.667px;">
</span>
</div> 

<span class="spanOption" style="width: 196.667px;">
</span>

<div class="option" style="width: 196.334px; float: left;">
<ul class="column level_0" style="width: 196.334px;">
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Eliquam elementum tellus</a></li>
<li class="category_item parent"> <a class="cat_child" href="javascript:void(0);"> Aliquam elementum</a>

<div class="sub_menu" style="width: 196.667px; margin-left: 0px;">
<ul style="width: 196.334px;" class="level_1">
<li><a href="javascript:void(0);"> turpis porta at ultricie</a></li>
<li><a href="javascript:void(0);"> Praesent sollicitudin</a></li>
<li><a href="javascript:void(0);"> sem neque vestibu</a></li>
</ul>
</div></li>
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Porta at ultricies diam</a></li>
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Aliquam nibh ligula</a></li>
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Nam in magna a lorem</a></li>
</ul> 

<span class="spanColumn" style="width: 196.667px;">
</span>
</div> 

<span class="spanOption" style="width: 196.667px;">
</span>

<div class="option" style="width: 196.334px; float: left;">
<ul class="column level_0" style="width: 196.334px;">
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> turpis porta at ultricie</a></li>
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> Praesent sollicitudin</a></li>
<li class="category_item"> <a class="cat_child" href="javascript:void(0);"> sem neque vestibu</a></li>
</ul> 

<span class="spanColumn" style="width: 196.667px;">
</span>
</div> 

<span class="spanOption" style="width: 196.667px;">
</span>
</div> 

<span class="spanOptionList" style="width: 1180px;">
</span></li>
<li class="cs_m_manufacter menu_item level-1 parent"> <a class="title_menu_parent" href=""> Outerwear</a>

<div class="options_list" style="width: 698.814px; margin-left: -103.5px;">

<div class="option" style="width: 698.814px; float: left;">
<ul class="column manufacture" style="width: 698.814px;">
<li class="product_item"> <a class="img_manu" href="" title="Azzaro"> <img src="images/3-manu_default.jpg" alt=""></a></li>
<li class="product_item"> <a class="img_manu" href="" title="Boss"> <img src="images/4-manu_default.jpg" alt=""></a></li>
<li class="product_item"> <a class="img_manu" href="" title="Bugati"> <img src="images/5-manu_default.jpg" alt=""></a></li>
<li class="product_item"> <a class="img_manu" href="" title="Calvin Klein"> <img src="images/6-manu_default.jpg" alt=""></a></li>
<li class="product_item"> <a class="img_manu" href="" title="Chris"> <img src="images/7-manu_default.jpg" alt=""></a></li>
<li class="product_item"> <a class="img_manu" href="" title="Clinique"> <img src="images/8-manu_default.jpg" alt=""></a></li>
<li class="product_item"> <a class="img_manu" href="" title="dkny"> <img src="images/9-manu_default.jpg" alt=""></a></li>
<li class="product_item"> <a class="img_manu" href="" title="estee"> <img src="images/10-manu_default.jpg" alt=""></a></li>
<li class="product_item"> <a class="img_manu" href="" title="paul smith"> <img src="images/11-manu_default.jpg" alt=""></a></li>
<li class="product_item"> <a class="img_manu" href="" title="tomy"> <img src="images/12-manu_default.jpg" alt=""></a></li>
</ul> 

<span class="spanColumn" style="width: 700px;">
</span>
</div> 

<span class="spanOption" style="width: 700px;">
</span>
</div> 

<span class="spanOptionList" style="width: 700px;">
</span></li>
<li class="cs_hide_p menu_item level-1 parent"> <a class="title_menu_parent" href="javascript:void(0);"> Best Seller</a>

<div class="options_list" style="width: 249.576px; margin-left: 0px;">

<div class="option" style="width: 249.576px; float: left;">
<ul class="column product " style="width: 249.576px;">
<li class="ajax_block_product">

<div class="center_block">

<div class="image"> <a class="product_image_menu" href="" title="Fusce placerat erat sit amet tellus facilisis"> <img src="images/197-home_default.jpg" alt="Fusce placerat erat sit amet tellus facilisis"> </a>
</div>

<div class="name_product"><h3><a alt="Fusce placerat erat sit amet tellus facilisis" href="" title="Fusce placerat erat sit amet tellus facilisis">Fusce placerat erat sit amet tellus...</a></h3>
</div>

<p class="price_container">

<span class="price">$97.00
</span></p>
</div></li>
</ul> 

<span class="spanColumn" style="width: 250px;">
</span>
</div> 

<span class="spanOption" style="width: 250px;">
</span>

<div class="option" style="width: 249.576px; float: left;">
<ul class="column level_0" style="width: 249.576px;">
<li class="category_item"> <a class="cat_child" href=""> Eliquam elementum tellus</a></li>
<li class="category_item parent"> <a class="cat_child" href=""> Aliquam elementum</a>

<div class="sub_menu" style="width: 250px; margin-left: 0px;">
<ul style="width: 249.576px;" class="level_1">
<li><a href=""> turpis porta at ultricie</a></li>
<li><a href=""> Praesent sollicitudin</a></li>
<li><a href=""> sem neque vestibu</a></li>
</ul>
</div></li>
<li class="category_item"> <a class="cat_child" href=""> Porta at ultricies diam</a></li>
<li class="category_item"> <a class="cat_child" href=""> Aliquam nibh ligula</a></li>
<li class="category_item"> <a class="cat_child" href=""> Nam in magna a lorem</a></li>
</ul> 

<span class="spanColumn" style="width: 250px;">
</span>
</div> 

<span class="spanOption" style="width: 250px;">
</span>
</div> 

<span class="spanOptionList" style="width: 250px;">
</span></li>
<li class=" menu_item level-1"> <a class="title_menu_parent" href="javascript:void(0);"> Sale</a></li>
<li class=" menu_item level-1"> <a class="title_menu_parent" href="javascript:void(0);"> Shoes</a></li> -->
<li class=" menu_item menu_last level-1"> <a class="title_menu_parent" href="javascript:void(0);"> Blog</a></li>
</ul>
</div>


<div style="display: none;" id="megamenu-responsive">
<ul id="megamenu-responsive-root">
<li class="menu-toggle">

<p></p>Navigation</li>
<li class="root">
<ul>
<li class=""><a href="">

<span>Home
</span></a>
<ul>
<li class=""><a href="">

<span>Men's
</span></a></li>
<li class="parent ">

<p>+</p><a href="">

<span>Women's
</span></a>
<ul>
<li class=""><a href="">

<span>Eliquam elementum tellus
</span></a></li>
<li class="parent ">

<p>+</p><a href="">

<span>Aliquam elementum
</span></a>
<ul>
<li class=""><a href="">

<span> turpis porta at ultricie
</span></a></li>
<li class=""><a href="">

<span> Praesent sollicitudin
</span></a></li>
<li class=""><a href="">

<span>sem neque vestibu
</span></a></li>
</ul></li>
<li class=""><a href="">

<span>Porta at ultricies diam
</span></a></li>
<li class=""><a href="">

<span>Aliquam nibh ligula
</span></a></li>
<li class=""><a href="">

<span>Nam in magna a lorem
</span></a></li>
</ul></li>
<li class=""><a href="">

<span>Dresses
</span></a></li>
<li class=""><a href="">

<span>outerwear
</span></a></li>
<li class=""><a href="">

<span>Shoes
</span></a></li>
<li class=""><a href="">

<span>Jewelry
</span></a></li>
<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=9&amp;controller=category&amp;id_lang=1">

<span>Accessories
</span></a></li>
</ul></li>
</ul></li>
</ul>
</div>
</div>
</div>

<!-- cat link end  -->


<!-- small banner slider  -->

<div class="cs_mode_contain mode_megamenu">
<div class="manufacturerContainer">

<div class="list_manufacturer responsive top_banner_slider">

<div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1072px; height: 180px !important; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
	<ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 3752px; height: 180px !important;" id="scroller">
	
		<?php 

			if( $adds ) {

				foreach( $adds as $add ){
	   
		?>
		<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="150"> <a href="<?php echo $add['remote_url']; ?>" title="<?php echo $add['title']; ?>"> <img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $add['owner']; ?>/advertisement_<?php echo $add['owner'];?>_<?php echo $add['id']; ?>_280x180<?php echo $add['type']; ?>" alt="<?php echo $add['title']; ?>"></a></li>
	
		<?php 		}
			}else{
				//echo "Currently there is no advertisement";
			
		 ?>
<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="300"> <a href="" title="Boss"> <img src="images/bn_2.jpg" alt="Boss"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="450"> <a href="" title="Bugati"> <img src="images/bn_3.jpg" alt="Bugati"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="600"> <a href="" title="Calvin Klein"> <img src="images/bn_2.jpg" alt="Calvin Klein"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="750"> <a href="" title="Chris"> <img src="images/bn_1.jpg" alt="Chris"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="900"> <a href="" title="Clinique"> <img src="images/bn_2.jpg" alt="Clinique"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="1050"> <a href="" title="dkny"> <img src="images/bn_3.jpg" alt="dkny"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="1200"> <a href="" title="estee"> <img src="images/bn_1.jpg" alt="estee"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="1350"> <a href="" title="paul smith"> <img src="images/bn_2.jpg" alt="paul smith"></a></li>
	<li style="width: 280px;" class="not-animated" data-animate="bounceIn" data-delay="1500"> <a href="" title="tomy"> <img src="images/bn_3.jpg" alt="tomy"></a></li> 
	<?php } ?></ul>
</div> <a style="display: block;" class="prev btn" href="#" id="prev_cs_manu">&lt;</a> <a style="display: block;" class="next btn" href="#" id="next_cs_manu">&gt;</a>
</div>
</div>
<script type="text/javascript">/* <![CDATA[ */$(document).ready(function(){$("#scroller").carouFredSel({auto:false,responsive:true,width:'100%',height:'variable',onWindowResize:'debounce',prev:'#prev_cs_manu',next:'#next_cs_manu',swipe:{onTouch:true},items:{width:280,height:'auto',visible:{min:2,max:10}},scroll:{items:4,direction:'left',duration:500,onBefore:function(data){if(touch==false){var that=$("#scroller");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');items=that.find('.animated');items.removeClass('animated').unbind('appear');}}}});});/* ]]> */
</script></div>

<!-- small banner slider end  -->
<div class="cs_mode_contain mode_megamenu">
 
<div class="home_top_tab">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id="ul_cs_tab">
    <li class="refreshCarousel ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><h4 class="title_block">
      <span><a class="g_bm1_t" href="#tabs-1">Find a local vendor</a></span></h4>
    </li>  
    <li class="refreshCarousel ui-state-default ui-corner-top"><h4 class="title_block">
	<span><a class="g_bm1_t" href="#tabs-2">Venue Ideas</a></span></h4>
    </li>
    <li class="refreshCarousel ui-state-default ui-corner-top"><h4 class="title_block">
	<span><a class="g_bm1_t" href="#tabs-3">What XV girls are saying ?</a></span></h4>
    </li>
    <li class="refreshCarousel ui-state-default ui-corner-top"><h4 class="title_block">
	<span><a class="g_bm1_t" href="#tabs-4">Ideas &amp; Tips</a></span></h4>
    </li>	
</ul>

<div class="title_tab_hide_show" style="display: none;"> New Arrivals
</div>

<div class="tabs-carousel ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-1">

<div class="cycleElementsContainer" id="cycle-1">

<div id="elements-1">

<div class="responsive">
  
  <aside class="side-nav">
	<h1 class="head">Search Vendors</h1>
	<section class="search-vendor">
	    <form action="<?php echo $this->baseUrl(); ?>/vendor/search/vsearch/format/html" id="vendor_search" name="vendor_search" method="POST">
	   <label> <h4> <a id="reset_search_form" href="javascript:void(0)">Click To Reset Search Filters </a></h4></label>
		<label>By Keyword / Zip Code</label>	
		<input type="search" name="search_key" placeholder="enter keywords" />
		<label>By State</label>
		<select name="state">
	        <option value="">--Select State--</option>

			<option  value="AL"  >ALABAMA</option>
			<option  value="AK"  >ALASKA</option>
			<option  value="AS"  >AMERICAN SAMOA</option>
			<option  value="AZ"  >ARIZONA</option>
			<option  value="AR"  >ARKANSAS</option>
			<option  value="CA"  >CALIFORNIA</option>
			<option  value="CO"  >COLORADO</option>
			<option  value="CT"  >CONNECTICUT</option>
			<option  value="DE"  >DELAWARE</option>
			<option  value="DC"  >DISTRICT OF COLUMBIA</option>
			<option  value="FM"  >FEDERATED STATES OF MICRONESIA</option>
			<option  value="FL"  >FLORIDA</option>
			<option  value="GA"  >GEORGIA</option>
			<option  value="GU"  >GUAM</option>
			<option  value="HI"  >HAWAII</option>
			<option  value="ID"  >IDAHO</option>
			<option  value="IL"  >ILLINOIS</option>
			<option  value="IN"  >INDIANA</option>
			<option  value="IA"  >IOWA</option>
			<option  value="KS"  >KANSAS</option>
			<option  value="KY"  >KENTUCKY</option>
			<option  value="LA"  >LOUISIANA</option>
			<option  value="ME"  >MAINE</option>
			<option  value="MH"  >MARSHALL ISLANDS</option>
			<option  value="MD"  >MARYLAND</option>
			<option  value="MA"  >MASSACHUSETTS</option>
			<option  value="MI"  >MICHIGAN</option>
			<option  value="MN"  >MINNESOTA</option>
			<option  value="MS"  >MISSISSIPPI</option>
			<option  value="MO"  >MISSOURI</option>
			<option  value="MT"  >MONTANA</option>
			<option  value="NE"  >NEBRASKA</option>
			<option  value="NV"  >NEVADA</option>
			<option  value="NH"  >NEW HAMPSHIRE</option>
			<option  value="NJ"  >NEW JERSEY</option>
			<option  value="NM"  >NEW MEXICO</option>
			<option  value="NY"  >NEW YORK</option>
			<option  value="NC"  >NORTH CAROLINA</option>
			<option  value="ND"  >NORTH DAKOTA</option>
			<option  value="MP"  >NORTHERN MARIANA ISLANDS</option>
			<option  value="OH"  >OHIO</option>
			<option  value="OK"  >OKLAHOMA</option>
			<option  value="OR"  >OREGON</option>
			<option  value="PW"  >PALAU</option>
			<option  value="PA"  >PENNSYLVANIA</option>
			<option  value="PR"  >PUERTO RICO</option>
			<option  value="RI"  >RHODE ISLAND</option>
			<option  value="SC"  >SOUTH CAROLINA</option>
			<option  value="SD"  >SOUTH DAKOTA</option>
			<option  value="TN"  >TENNESSEE</option>
			<option  value="TX"  >TEXAS</option>
			<option  value="UT"  >UTAH</option>
			<option  value="VT"  >VERMONT</option>
			<option  value="VI"  >VIRGIN ISLANDS</option>
			<option  value="VA"  >VIRGINIA</option>
			<option  value="WA"  >WASHINGTON</option>
			<option  value="WV"  >WEST VIRGINIA</option>
			<option  value="WI"  >WISCONSIN</option>
			<option  value="WY"  >WYOMING</option>
		</select>
		<!--select name="country">
        <option value="">--Select Country--</option>
		    <?php
		    
			foreach( $countries as $con => $country ) {
			    ?>
				<option value="<?php echo $country['short_name']; ?>"><?php echo $country['short_name']; ?></option>
			    <?php
			}
		    
		    ?>
		</select-->
		<label>By Rating  </label>
		<span id="rate_val">
			<div style="float:left" class="star_content clearfix"><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>
		</span>
		<!--<ul class="star">
                                            <?php
                                            
                                                for($i=0; $i<5; $i++) {
                                                    echo '<li><a href="#"><img src="images/star.png" alt="" /></a></li>';
                                                }
		    
		    ?>
		</ul>-->
		<input type="range" id="rate" name="rating" min="0" max="5" value="0" />

		<!--<label>By Distance</label>
		<select>
			<option>1-25 Miles</option>
			<option>1-25 Miles</option>
			<option>1-25 Miles</option>
			<option>1-25 Miles</option>
			<option>1-25 Miles</option>
		</select>-->
		<?php
		echo "<label>Service Type</label><div class='description' style='min-height:327px;'>";
		    foreach($cat as $category => $categories ) {
			?>
			<div class="checkbox">
			    <input type="checkbox" name="category[]" value="<?php echo $categories['id']; ?>" id="check<?php echo $categories['id']; ?>" />
			    <label for="check<?php echo $categories['id']; ?>"><?php echo $categories['category_name']; ?></label>
			</div>
			<?php
		    }
		echo "</div>";
		?>
	    </form>
	</section>							
</aside>

<article class="vendor-info">
	<div class='sucs-ms-srch' style="display: none;"></div>
	<div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1200px; height: 562px; margin: 0px; overflow: auto;" class="caroufredsel_wrapper">
	<ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4080px; height: 562px;" class="product-list" id="carousel2">
		<li class="ajax_block_product first_item item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="150"></li>
	
	</ul>
	<section  class='' style='min-height:559px; margin-top:0px;'>								
		<?php if($this->data['vendor']) {; ?>
		<div class="search-content">
			<?php $countVendor = 1 ; foreach($this->data['vendor'] as $vendor => $record ) {
			foreach( $graphic as $g => $i ) {
				if($i['owner']==$record['user_id']) {

					$src = $this->baseUrl()."/media/".$record['user_id']."/user-avatar_".$record['user_id']."_0_250x250".$i['type'];

				} else {
					$src = $this->baseUrl()."/images/people_s.png";
				}
			}								    
			?>  
			<div class="pro-rpt-spc">
				<div class="profile-pic">
					<div class="table">
						<span>
							<img src="<?php echo $src; ?>" alt="<?php echo $record['company_name']; ?>" />
						</span>
					</div>
					<div style='float:left;margin-left:10px;margin-right:10px;'>Rating:</div>
					<div class="star_content clearfix" style='float:left'>
						<?php 
						$db_rating = $record[ 'rating'];

						for($i=1;$i<=5;$i++){
							//echo "<li><a href='javascript:;void(0);'></a></li>";
							?>
							<div class="star <?php if($i  <= $db_rating) { ?> star_on <?php } ?>">
							</div>
						<?php }  ?>

					</div>
				</div>
				<div class="vendor-name">
					<p class="vendor-title"><?php (isset($record['company_name'])) ? print('Company: '.$record['company_name']) : 'Compnay name not found !'; ?></p>
					<div class="description">
						<p><?php (isset($record['address'])) ? print('Address: '.$record['address']) : 'Address not found !'; ?><br />
						<?php (isset($record['city'])) ? print('City: '.$record['city'].',') : 'City not found !'; ?> <?php (isset($record['country'])) ? print('Country: '.$record['country']) : 'country not found !'; ?> <?php (isset($record['zipcode'])) ? print('zipcode: '.$record['zipcode']) : 'zipcode not found !'; ?><br />
						<?php (isset($record['phone'])) ? print('Phone: '.$record['phone']) : 'phone not found !'; ?><br />
						<?php (isset($record['fax'])) ? print('Fax: '.$record['fax']) : 'fax not found !'; ?><br />
						</p>
					</div>
				</div>
				<div class="about">
					<p class="vendor-title">About Us</p>
					<div class="description">
						<p><?php (isset($record['about'])) ? print('About: '.$record['about']) : 'Biography not found !'; ?></p>
					</div>
				</div>

				<div class="">
					<div id="target" class="rate-model"></div>
					<ul class="nav nav-pills">
						<li class=""><a href="<?php echo $this->baseUrl(); ?>/vendor/homepage/index/id/<?php (isset($record['user_id'])) ? print($record['user_id']) : ''; ?>">Portfolio</a></li>
						<?php if( isset($UserSession->userId) ) {; ?>
						<li class=""><a href="javascript:void(0);" data-key="call_<?php echo $countVendor; ?>" class="callback_quote" >Request Call Back / Quote </a></li>
						<li class=""><a href="javascript:void(0);" data-key="call_<?php echo $countVendor; ?>" class="request_appointment" >Request Appointment</a></li>
						<li class="<?php if($favrt){$key  = array_search( $record['user_id'], $favrt ); if ( false !== $key ) { echo "favourite-icon"; } else { echo ""; } }?>"><a href="javascript:void(0);" data-key="call_<?php echo $countVendor; ?>" class="request_favorite">Add to favorite</a></li>
						<li class=""><a href="javascript:void(0);" data-key="call_<?php echo $countVendor; ?>" id="like_<?php echo $countVendor; ?>" class="request_like"><?php if($record['like']) { echo "Like [ ". $record['like'] ." ]"; }else{ echo "Like" ; } ?></a></li>                                                                                     
						<?php } else { ?>
						<li class=""><a id="login" href="javascript:void(0);" >Request Call Back / Quote </a></li>
						<li class=""><a id="login" href="javascript:void(0);" >Request Appointment</a></li>
						<li class=""><a id="login" href="javascript:void(0);">Add to favorite</a></li>
						<li class=""><a id="login" href="javascript:void(0);">Like [ ]</a></li>
						<?php } ?>
					</ul>
				</div>

				<div class="clear"></div>
			</div>
			<div class="slide-rqst-cl" data-check= "<?php echo $countVendor; ?>" id="call_<?php echo $countVendor; ?>" style="display: none;">
				<a href="javascript:void(0);" class="close-sld-cntn"></a>
				<form name="quote" id="quoteform<?php echo $countVendor; ?>" class="quote-form" action="<?php $this->baseUrl(); ?>/users/operations/callbackquote/format/html" method="post">
				<div class="s-rqs-ct">

					<div class="rqst-cl-bk">
						<div class="cl-bk-rd">
							<input type="radio" name="radiog_dark" value="quote"  id="radio4_<?php echo $countVendor; ?>" class="css-checkbox" checked="true" /><label for="radio4_<?php echo $countVendor; ?>" class="css-label radGroup2">Request a call back / Quote</label>				
						</div>
						<div class="cl-bk-ip cell" id="cellno<?php echo $countVendor; ?>">
							<input type="text" required class="celno" name="cell_no" placeholder="Enter your cell # here" />
						</div>
					</div>
					<div class="rqst-cl-bk">
						<div class="cl-bk-rd">
							<input type="radio" name="radiog_dark" value="apoint"  id="radio5_<?php echo $countVendor; ?>" class="css-checkbox"/><label for="radio5_<?php echo $countVendor; ?>" class="css-label radGroup2">Request an appointment</label>		
						</div>
						<div class="cl-bk-ip rqstipt-width" id="rqstipt<?php echo $countVendor; ?>">
							<input type="text" class="stepExample1" name="start_time" placeholder="Enter start time" />
							<input type="text" class="stepExample2" name="end_time" placeholder="Enter end time" />
							<input type="text" class="appointmentDate" name="appointmentDate" readonly='true' placeholder="Select date" /><input type="hidden" name="date-com" value="">
						</div>
					</div>
				</div>
				<div class="rqst-evnt-info">
					<h4 class="ent-info-hd">Event Info</h4>
					<div class="rqst-ent-rpt">
						<label>Event Date</label>
						<input type="text"  required class="hasDatePickerWithCal" name="event_date" readonly='true' value=""/>
					</div>
					<div class="rqst-ent-rpt">
						<label>Guest</label>
						<input type="text" id="guest" required name="guests"/>
						<span id="guest-check" style="display: none;color:red;">Integer value required !!!</span>
					</div>
					<div class="rqst-ent-rpt">
						<label>Location</label>
						<input type="text"  required class="input-large city_home" value="San Diego, California, United States" name="location" id="city" placeholder="City, State, Country" style="width: 250px"  />
					</div>
					<div class="rqst-ent-rpt">
						<textarea name="comments" required ></textarea>
					</div>
						<input type="hidden" name="vendor_member" value="<?php echo $record['user_id'] ; ?>">
					<div class="rqst-btn">
						<button type="submit" class="btn btn-primary form-quote" >Send  Request</button>
					</div>
				</div>
				</form>
			</div>

			<?php 
			$countVendor++;
			} ?> <!-- foreach closed -->
		</div>
		<?php } else { ?> <!-- if condition closed -->

		<?php } ?>
		<!--<input type="button" class="see-more" value="See More" />-->
		<div class="clear"></div>
	</section>
</article>
						
  
  
</div>


</div>
</div>
</div>

<!--- Venue idea start --->

<div class="tabs-carousel ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tabs-2">

<div class="cycleElementsContainer" id="cycle-2">

<div id="elements-2">

<div class="list_carousel responsive">

<div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1200px; height: 562px; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
<ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4080px; height: 562px;" class="product-list" id="carousel2">
<?php 
	if( isset($this->data['venueidea'][0] ) ) {
	foreach( $this->data['venueidea'] as $data => $value ) { ?>
<li class="ajax_block_product first_item item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="150">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="<?php echo PUBLIC_URI; ?>/media/<?php  echo $value['owner']; ?>/venueidea_<?php echo $value['owner']; ?>_<?php  echo $value['id'];?>_400x400<?php echo $value->type;?>" alt="Quisque pharetra faucibus ante ut pretium" /> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Quisque pharetra faucibus ante ut pretium"> <?php echo $value['description']; ?>   </a></h3>
</div>

<div class="star_content clearfix">

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>
</div>
</div>
</div>
</div>

</li>
<?php } }else{
		echo"There is no Venue Idea";		
	} ?>
</ul>
</div>

<div class="cclearfix">
</div> <a style="display: block;" class="bt prev" href="#" id="prev2">&lt;</a> <a style="display: block;" class="bt next" href="#" id="next2">&gt;</a>
</div>
</div>
</div>
</div>

<!--Venue idea end-->

<div class="tabs-carousel ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tabs-3">

<div class="cycleElementsContainer" id="cycle-4">

<div id="elements-4">

<div class="list_carousel responsive">

<div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1200px; height: 562px; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
<ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4080px; height: 562px;" class="product-list" id="carousel4">
<li class="ajax_block_product first_item item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="150">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/163-p_slider_home.jpg" alt="Quisque pharetra faucibus ante ut pretium"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Quisque pharetra faucibus ante ut pretium">Quisque pharetra faucibus ante ut pretium</a></h3>
</div>

<div class="star_content clearfix">

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/170-p_slider_home.jpg" alt="Integer condimentum ante quis  augue vestibulum"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Integer condimentum ante quis  augue vestibulum">Integer condimentum ante quis  augue vestibulum</a></h3>
</div>

</div>
</div>
</div></li>
<li class="ajax_block_product  item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="450">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/177-p_slider_home.jpg" alt="Nulla tincidunt porttitor enim ut euismod "> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Nulla tincidunt porttitor enim ut euismod ">Nulla tincidunt porttitor enim ut euismod </a></h3>
</div>

<div class="star_content clearfix">

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star">
</div>

<div class="star">
</div>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/184-p_slider_home.jpg" alt="Nunc sit amet libero ac lacus pellentesque"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Nunc sit amet libero ac lacus pellentesque">Nunc sit amet libero ac lacus pellentesque</a></h3>
</div>

</div>
</div>
</div></li>
<li class="ajax_block_product  last_item_of_line item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="750">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/191-p_slider_home.jpg" alt=" Nullam at risus quis nibh posuere non in massa"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title=" Nullam at risus quis nibh posuere non in massa"> Nullam at risus quis nibh posuere non in massa</a></h3>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/197-p_slider_home.jpg" alt="Fusce placerat erat sit amet tellus facilisis"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Fusce placerat erat sit amet tellus facilisis">Fusce placerat erat sit amet tellus facilisis</a></h3>
</div>

</div>
</div>
</div></li>
<li class="ajax_block_product  item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="1050">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/203-p_slider_home.jpg" alt="Quisque pharetra faucibus ante ut pretium"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Quisque pharetra faucibus ante ut pretium">Quisque pharetra faucibus ante ut pretium</a></h3>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/209-p_slider_home.jpg" alt="Suspendisse a lacus eu mi blandit Luctus"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Suspendisse a lacus eu mi blandit Luctus">Suspendisse a lacus eu mi blandit Luctus</a></h3>
</div>

</div>
</div>
</div></li>
<li class="ajax_block_product  item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="1350">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/216-p_slider_home.jpg" alt="Aenean sit amet purus sapien uctus tempor enim"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Aenean sit amet purus sapien uctus tempor enim">Aenean sit amet purus sapien uctus tempor enim</a></h3>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/223-p_slider_home.jpg" alt="Mauris diam augue, rhoncus nec nec"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Mauris diam augue, rhoncus nec nec">Mauris diam augue, rhoncus nec nec</a></h3>
</div>

</div>
</div></li>
<li class="ajax_block_product last_item last_item_of_line item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="1650">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/233-p_slider_home.jpg" alt="volutpat orci. Curabitur porta porttitor velit"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="volutpat orci. Curabitur porta porttitor velit">volutpat orci. Curabitur porta porttitor velit</a></h3>
</div>

<div class="star_content clearfix">

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star">
</div>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/240-p_slider_home.jpg" alt="Aliquam consequat rhoncus vulputate"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Aliquam consequat rhoncus vulputate">Aliquam consequat rhoncus vulputate</a></h3>
</div>

</div>
</div>
</div></li>
</ul>
</div>

<div class="cclearfix"></div>
<a style="display: block;" class="bt prev" href="#" id="prev4">&lt;</a> <a style="display: block;" class="bt next" href="#" id="next4">&gt;</a>
</div>
</div>
</div>
</div>

</div>
<script>
// ******************** For Vendor Search Start ********************************************
$(document).ready(function (e){
var rating0 = '<div style="float:left" class="star_content clearfix"><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>';
var rating1 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>';
var rating2 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>';
var rating3 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star"></div><div class="star"></div></div>';
var rating4 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star"></div></div>';
var rating5 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div></div>';

	$("#reset_search_form").click(function (e){
		document.getElementById("vendor_search").reset();
		$("#rate_val").html(rating0);
	});

	$("#rate").on("change",function(e){
		
			if($(this).val()==1){
				$("#rate_val").html(rating1);
			}else if($(this).val()==2){
				$("#rate_val").html(rating2);
			}else if($(this).val()==3){
				$("#rate_val").html(rating3);
			}else if($(this).val()==4){
				$("#rate_val").html(rating4);
			}else if($(this).val()==5){
				$("#rate_val").html(rating5);
			}else{
				$("#rate_val").html(rating0);
			}
	});
});
// ******************** For Vendor Search End  ********************************************
</script> 

<script type="text/javascript">/* <![CDATA[ */$(document).ready(function(){initCarousel();cs_resize();});$(window).resize(function(){if(!isMobile())
{cs_resize();}});function cs_resize(){if(getWidthBrowser()<767){$('#tabs').tabs('destroy');$('#ul_cs_tab').hide();$('#tabs div.title_tab_hide_show').show();}else{$('#tabs').tabs({fx:{opacity:'toggle'}});$('.tabs-carousel').show();$('#ul_cs_tab').show();$('#tabs div.title_tab_hide_show').hide();}}
function initCarousel(){$('#carousel1').carouFredSel({responsive:true,width:'100%',height:'variable',onWindowResize:'debounce',prev:'#prev1',next:'#next1',auto:false,swipe:{onTouch:true},items:{width:290,height:'auto',visible:{min:1,max:5}},scroll:{items:2,direction:'left',duration:500,onBefore:function(data){if(touch==false){var that=$("#carousel1");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');items=that.find('.animated');items.removeClass('animated').unbind('appear');}}}});$('#carousel2').carouFredSel({responsive:true,width:'100%',height:'variable',onWindowResize:'debounce',prev:'#prev2',next:'#next2',auto:false,swipe:{onTouch:true},items:{width:290,height:'auto',visible:{min:1,max:5}},scroll:{items:2,direction:'left',duration:500,onBefore:function(data){if(touch==false){var that=$("#carousel2");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');items=that.find('.animated');items.removeClass('animated').unbind('appear');}}}});$('#carousel3').carouFredSel({responsive:true,width:'100%',height:'variable',onWindowResize:'debounce',prev:'#prev3',next:'#next3',auto:false,swipe:{onTouch:true},items:{width:290,height:'auto',visible:{min:1,max:5}},scroll:{items:2,direction:'left',duration:500,onBefore:function(data){if(touch==false){var that=$("#carousel3");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');items=that.find('.animated');items.removeClass('animated').unbind('appear');}}}});$('#carousel4').carouFredSel({responsive:true,width:'100%',height:'variable',onWindowResize:'debounce',prev:'#prev4',next:'#next4',auto:false,swipe:{onTouch:true},items:{width:290,height:'auto',visible:{min:1,max:5}},scroll:{items:2,direction:'left',duration:500,onBefore:function(data){if(touch==false){var that=$("#carousel4");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');items=that.find('.animated');items.removeClass('animated').unbind('appear');}}}});}
function isMobile()
{if(navigator.userAgent.match(/(iPhone)|(iPod)/i)){return true;}
else
{return false;}}
function isIpad()
{if(navigator.userAgent.match(/iPad/i)){return true;}
else
{return false;}}
function unAnimated()
{if(touch==false){var that=$("#carousel1");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');}
if(touch==false){var that=$("#carousel2");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');}
if(touch==false){var that=$("#carousel3");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');}
if(touch==false){var that=$("#carousel4");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');}}/* ]]> */
</script>

</div></div>

  <script>
            jQuery(function ($) {
                jeoquery.defaultData.userName = 'tompi';
                $(".city_home").jeoCityAutoComplete({callback: function(city) { if (console) console.log(city);}});
                //prettyPrint();
            });
    </script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl().'/js/jeoquery.js';?>"></script>  
<!-- mid part box end  -->
  

<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<?php $this->placeholder('second-tab-area')->captureStart() ?>		
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl().'/js/general/operations.js'; ?>" type="text/javascript" ></script>

<script src="<?php echo $this->baseUrl().'/js/vendorsearch.js'; ?>" type="text/javascript" ></script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
<?php $this->placeholder('culprit')->captureStart() ?>
<script src="<?php echo $this->baseUrl().'/js/af386943ba396e44373c56840d7ab3c3.js';?>" type="text/javascript"></script>
<?php $this->placeholder('culprit')->captureEnd() ?>

