.royalSlider {
	width: 600px;
	height: 400px;
	position: relative;
	direction: ltr;
}

.royalSlider > * {
	float: left;
}

.rsWebkit3d .rsSlide {
	-webkit-transform: translateZ(0);
}

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
	-webkit-backface-visibility: hidden;
}

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
	-webkit-transform: none;
}

.rsOverflow {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	float: left;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsVisibleNearbyWrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	left: 0;
	top: 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsVisibleNearbyWrap .rsOverflow {
	position: absolute;
	left: 0;
	top: 0;
}

.rsContainer {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow {
	cursor: pointer;
}

.rsThumb {
	float: left;
	position: relative;
}

.rsArrow,
.rsNav,
.rsThumbsArrow {
	opacity: 1;
	-webkit-transition:opacity 0.3s linear;
	-moz-transition:opacity 0.3s linear;
	-o-transition:opacity 0.3s linear;
	transition:opacity 0.3s linear;
}

.rsHidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}

.rsGCaption {
	width: 100%;
	float: left;
	text-align: center;
}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
	position: fixed !important;
	height: auto !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 2147483647 !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
	opacity: 1 !important;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition:  0s;
	transition:  0s;
	display: none;
}

.rsSlide {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
	height: auto;
}

.rsContent {
	width: 100%;
	height: 100%;
	position: relative;
}

.rsPreloader {
	position:absolute;
	z-index: 0; 
}

.rsNav {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}

.rsNavItem {
	-webkit-tap-highlight-color:rgba(0,0,0,0.25);
	background:#aaa;
	height:15px;
	padding:2px;
	width:15px;
	border-radius:100%;
	display:inline-block;
	cursor:pointer;
	margin:10px 5px;
}

.rsArrowIcn {
	width:27px;
	height:43px;
	position:absolute;
	top:42%;
}

.rsArrowLeft .rsArrowIcn {
	background:url(../images/prev.png) no-repeat;
	left:10px;
}

.rsArrowRight .rsArrowIcn {
	background:url(../images/nxt.png) no-repeat;
	right:10px;
}

.rsBullets {
	float:none;
	width:100%;
	text-align:center;
	position:absolute;
	bottom:90px;
}

.rsNavSelected span {
	background:#5f5f5f;
	display:block;
	height:11px;
	width:11px;
	border-radius:100%;
}

.rsThumbs {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	float: left;
	z-index: 22;
}

.rsTabs {
	float: left;
	background: none !important;
}

.rsTabs,
.rsThumbs {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsVideoContainer {
	/*left: 0;
	top: 0;
	position: absolute;*/
	/*width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	float: left;*/
	width: auto;
	height: auto;
	line-height: 0;
	position: relative;
}

.rsVideoFrameHolder {
	position: absolute;
	left: 0;
	top: 0;
	background: #141414;
	opacity: 0;
	-webkit-transition: .3s;
}

.rsVideoFrameHolder.rsVideoActive {
	opacity: 1;
}

.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
	position: absolute;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 44px;
}

img.rsImg {
	max-width: none;
}

.grab-cursor {
	cursor:url(grab.png) 8 8, move;
}

.grabbing-cursor{ 
	cursor:url(grabbing.png) 8 8, move;
}

.rsNoDrag {
	cursor: auto;
}

.rsLink {
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	display:block;  
	z-index: 20;
	background: url(blank.gif);
}

#full-width-slider {
	width: 100%;
	color: #000;
}

.coloredBlock {
	padding: 12px;
	background: rgba(255,0,0,0.6);
	color: #FFF;
	width: 200px;
	left: 20%;
	top: 5%;
}

.infoBlock {
	position: absolute;
	top: 160px;
	right: 30px;
	left: auto;
	width:44%;
	background: #FFF;
	background: rgba(255, 255, 255, 0.8);
}

.rsWhitebg {
	background:rgba(255,255,255,0.5);
	padding:10px 20px 20px;
}

.infoBlockLeftBlack {
	color: #FFF;
	left: 190px;
	background:none;
	right: auto;
}

.infoBlock h4 {
	font-size:3.5em;
	font-family:Open Sans Light, Arial, Helvetica, sans-serif;
	color:#333333;
	margin: 0;
	padding-bottom: 3px;
}

.infoBlock p {
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:2em;
	color:#333333;
	margin: 4px 0 0;
}

.infoBlock a {
	color: #FFF;
	text-decoration: underline;
}

.photosBy {
	position: absolute;
	line-height: 24px;
	font-size: 12px;
	background: #FFF;
	color: #000;
	padding: 0px 10px;
	position: absolute;
	left: 12px;
	bottom: 12px;
	top: auto;
	border-radius: 2px;
	z-index: 25; 
} 

.photosBy a {
	color: #000;
}

.fullWidth {
	max-width: 1260px;
	margin: 0 auto;
}

p.rsbutton {
	background:#d84d46;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:3.5em;
	text-transform:uppercase;
	text-align:center;
	color:#fff;
	margin-top:15px;
	padding:0;
}

p.rsbutton a {
	padding:15px 0;
	text-decoration:none;
	display:block;
}

.rsBottomStrap {
	position:absolute;
	bottom:0;
	left:0;
	background:rgba(255,255,255,0.5);
	width:100%;
}

article.bottom {
	padding:0 40px;
	width:100%;
	margin:0 auto;
}

article.bottom:after {
	content:"";
	display:block;
	clear:both;
}

article.bottom section {
	width:25%;
	float:left;
	padding:10px 10px 15px 20px;
	border-left:1px solid #c2c2c2;
}

article.bottom section:first-child {
	border-left:0;
}

h4.part-heading {
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:1.4em;
	color:#52504d;
	padding:5px 0;
}

p.number {
	display:inline-block;
	color:#52504d;
	font-family:Open Sans Light, Arial, Helvetica, sans-serif;
	font-size:3.5em;
	vertical-align:middle;
	line-height:27px;
}

img.image {
	vertical-align:middle;
}

/*@media screen and (min-width:960px) and (min-height:660px) {
	.heroSlider .rsOverflow,
	.royalSlider.heroSlider {
		height: 520px !important;
	}
}*/

.sliderQuestions {
	width:100%;
	margin:20px 0 0;
	/*border:1px solid #ccc;*/
}

@media screen and (min-width:1600px) {
	#full-width-slider {
		max-width:98%;
		margin:0 auto;
	}
}

@media screen and (min-width:960px) and (min-height:1000px) {
	.heroSlider .rsOverflow,
	.royalSlider.heroSlider {
		height: 660px !important;
	}
}
@media screen and (min-width: 0px) and (max-width: 800px) {
	.royalSlider.heroSlider,
	.royalSlider.heroSlider .rsOverflow {
		height: 300px !important;
}
	.infoBlock {
		padding: 10px;
		height: auto;
		max-height: 100%;
		min-width: 40%;
		left: 5px;
		top: 5px;
		right: auto;
		font-size: 12px;
	}

	.infoBlock h3 {
		font-size: 14px;
		line-height: 17px;
	}
	.royalSlider.heroSlider.sliderQuestions,
	.royalSlider.heroSlider.sliderQuestions .rsOverflow {
		height:765px!important;
	}
	

}

@media screen and (max-width:600px) {
	.container_nohide {
		display:block!important;
	}
}