ul.social {
	width:255px;
	margin:0 auto;
	float:none;
}

ul.sign {
	width:272px;
	float:none;
	margin:10px auto;
}

section.top-bar {
	padding-bottom:10px;
}

img.shadow {
	vertical-align:top;
}

input[type=button].start-planning {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

aside.side-nav {
	width:100%;
	float:none;
}

article.vendor-info {
	width:100%;
	float:none;
	margin-top:20px;
}

article.special-banner > img, article.special-banner figure {
	float:none;
	width:100%;
	max-height:inherit;
	overflow:visible;
}

article.special-banner figure {
	margin-top:20px;
}

/*.four-block .blog,
.five-block .blog,
.four-block .blog:nth-of-type(4n+1),
.four-block .blog:nth-of-type(3n+1),
.five-block .blog,
.five-block .blog:nth-of-type(5n+1),
.five-block .blog:nth-of-type(4n+1),
.five-block .blog:nth-of-type(3n+1) {
	width:48%;
	clear:none;
	margin-left:0;
}

.four-block .blog:nth-of-type(odd),
.five-block .blog:nth-of-type(odd) {
	clear:left;
}

.four-block .blog:nth-of-type(even),
.five-block .blog:nth-of-type(even) {
	float:right;
	clear:right;
}*/

ul.navigation {
	width:100%;
	display:none;
	margin-top:30px;
}

ul.navigation li {
	float: none;
	overflow: hidden;
	display:block;
}

.sliderContainer, img.shadow {
	display:none;
}

.icon {
	display:block;
	position:absolute;
}

img.logo {
	float:right;
	width:80%;
}

.menu {
	clear:both;
}

ul.navigation {
	background:#222;
}

ul.navigation li {
	display:block;
	color:#fff;
	text-align:center;
	font-size:2em;
	border-bottom:1px solid rgba(255,255,255,0.2);
}

ul.navigation li a {
	padding:10px 0;
	display:block;
}

ul.navigation li:hover, ul.navigation li.active {
	background:#000;
}

ul.navigation li.last {
	display:none;
}

ul.navigation li:first-child {
	border-top:1px solid rgba(255,255,255,0.2);
}

#content.mobile-nav {
	left:70%;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	transition:all 1s;
	width:600px;
}

ul.options {
	width:100%;
}

article.left-side, article.right-side {
	width:100%;
	float:none;
	clear:both;
	margin-top:30px;
}

article.right-side {
	margin-bottom:30px;
}

.wrapper.side-margins {
	margin-top:30px;
}

section.promo-block {
	width:100%;
	clear:both;
	float:none;
	margin-top:30px;
}

h1.promo-title {
	font-size:30px;
}

article.themer-bar {
	margin-top:20px;
}

ul.side-menu > li,
ul.side-menu > li:nth-of-type(3n+1) {
	width:50%;
	clear:none;
}

ul.side-menu > li:nth-of-type(2n+1) {
	clear:left;
}

ul.dashboard-nav li {
	width:25%;
	display:block;
	float:left;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;
	border-left:0;
	border-top:0;
}

ul.dashboard-nav li:nth-last-child(-n+2) {
	border-bottom:0;
}

ul.dashboard-nav {
	display:block;
	border:1px solid #ededed;
}

ul.dashboard-nav li:nth-of-type(4n+1) {
	clear:left;
}

ul.dashboard-nav li:nth-of-type(4n+4) {
	border-right:0;
}

ul.dashboard-nav:before,
ul.dashboard-nav:after {
	clear:both;
	display:table;
	content:"";
}

.bio-info {
	width:100%;
	float:none;
	clear:both;
}

.general-info {
	width:80%;
}

.recent, .chat, .graph-block, section.testimonials {
	width:100%;
	float:none;
}

hr.long-line {
	display:none;
}

.chat {
	padding-left:0;
}

section.full-w table tr td, section.full-w table tr, section.full-w table {
	display:block;
	width:100%;
}

section.full-w table tr:first-child {
	display:none;
}

section.full-w table tbody {
	display:block;
	width:100%;
}

section.full-w table tr td.address {
	width:100%;
	max-width:100%;
}

section.full-w table tr {
	padding:10px;
	border-top:1px solid #D4D4D4;
}

section.full-w table, section.auth-user table tr td {
	border:0;
}

section.full-w table {
	border-bottom:1px solid #d4d4d4;
}

table.order-details, section.comment {
	float:none;
	width:100%;
}

ul.tabs li:last-child {
	clear:left;
	float:left;
	margin-top:10px;
}

.posted-bid-table table, .posted-bid-table table tbody, .posted-bid-table table tr, .posted-bid-table table th, .posted-bid-table table td {
	display:block;
}

.posted-bid-table table tr:first-child {
	display:none;
}

.posted-bid-table table tr td {
	float:left;
}

.posted-bid-table table td {
	text-align:left;
}

.posted-bid-table table tr:before,
.posted-bid-table table tr:after {
	clear:both;
	display:table;
	content:"";
}

.posted-bid-table table tr:nth-child(even) {
	background:#f7f7f7;
}

.centerAlign img {
	width:auto;
}

.posted-bid-table table {
	border-top:0;
}

ul.appointments-sort li:nth-child(odd) {
	clear:left;
}

ul.appointments-sort li {
	margin-bottom:10px;
}

section.two-blocks,
section.two-blocks + section.two-blocks {
	float:none;
	width:100%;
	margin-top:10px;
}

section.payment-info table.plans-s, section.payment-info table.plans-s th, section.payment-info table.plans-s td, section.payment-info table.plans-s tr, section.payment-info table.plans-s tbody {
	display:block;
}

section.payment-info table.plans-s td, section.payment-info table.plans-s td:before {
	float:left;
	width:50%;
}

section.payment-info table.plans-s td:first-child:before {
	content:"Card";
}

section.payment-info table.plans-s td:nth-child(2):before {
	content:"Name";
}

section.payment-info table.plans-s td:nth-child(3):before {
	content:"Card Type";
}

section.payment-info table.plans-s td:nth-child(4):before {
	content:"Bank Name";
}

section.payment-info table.plans-s td:nth-child(5):before {
	content:"CVV Code";
}

section.payment-info table.plans-s td:nth-child(6):before {
	content:"Start Date";
}

section.payment-info table.plans-s td:nth-child(7):before {
	content:"Exp. Date";
}

section.payment-info table.plans-s td:nth-child(8):before {
	content:"Primary";
}

section.payment-info table.plans-s tr:before,
section.payment-info table.plans-s tr:after {
	clear:both;
	display:table;
	content:"";
}

section.payment-info table.plans-s tr:first-child {
	display:none;
}

section.payment-info table.plans-s tr {
	width:100%;
}

section.payment-info table.plans-s td:before {
	display:block;
	width:100%;
	float:left;
	color:#b2b2b2;
}

.msg-list, .msg-reply {
	width:100%;
	float:none;
	clear:both;
	margin-bottom:20px;
}

p.or-text {
	display:none;
}

.two-col-block {
	width:100%;
	clear:both;	
	float:none;
}

.borderRight {
	border-right:0;
}

.two-col-block ~ .two-col-block {
	border-top:1px solid #d7d7d7;
}

form.text-add {
	text-align:left;
}

.add-images {
	width:48%;
}

.add-images label {
	display:block;
}

.heading-edit {
	float:none;
	width:100%;
	clear:both;
}

.borderLeft {
	border-left:0;
}

table.invoice-listing, table.invoice-listing tr, table.invoice-listing td, table.invoice-listing th, table.invoice-listing tbody,table.invoice-listing thead {
	display:block;
}

table.invoice-listing td:before {
	display:block;
	float:left;
	width:100%;
	text-align:left;
	position:absolute;
	top:5px;
	left:0;
	padding:5px;
}

table.invoice-listing th {
	display:none;
}

table.invoice-listing td {
	position:relative;
	width:100%;
	float:right;
	text-align:right;
}

table.invoice-listing tr:after,
table.invoice-listing tr:before {
	clear:both;
	content:"";
	display:table;
}

table.invoice-listing tr {
	border-top:1px solid #d7d7d7;
}

p.status {
	width:50%;
	float:right;
}

table.invoice-listing td:nth-of-type(1):before {
	content:"Invoice #";
}

table.invoice-listing td:nth-of-type(2):before {
	content:"Status";
}

table.invoice-listing td:nth-of-type(3):before {
	content:"Issue Date";
}

table.invoice-listing td:nth-of-type(4):before {
	content:"Customer Name";
}

table.invoice-listing td:nth-of-type(5):before {
	content:"Amount";
}

table.invoice-listing td:nth-of-type(6):before {
	content:"Paid";
}

table.invoice-listing td:nth-of-type(7):before {
	content:"Balance";
}

table.invoice-listing td:nth-of-type(8):before {
	content:"Edit";
}

.left-sect,
.left-sect + .left-sect {
	width:100%;
	float:none;
}

.overview-btn {
	width:auto;
}

.vendor-account-sign td:first-child {
	max-width:100px;
}

.vendor-account-sign tr td {
	vertical-align:middle;
}

.topPaddings {
	margin-top:20px;
}

.option_for_vendor {
	float:none;
	width:100%;
	clear:both;
}

.three_col_block {
	width:100%;
	float:none;
	clear:both;
	margin-top:10px;
}

.three_col_block:nth-of-type(n+2) {
	margin-left:0;
}

input.add_new2[type="button"] {
	margin-left:5px;
}

.two_col_block + .two_col_block, .two_col_block {
	width:100%;
	float:none;
	clear:both;
	margin-top:10px;
}

.profile_det2 td:nth-of-type(3) {
	max-width:none;
}

.profile_det2, .profile_det2 tbody, .profile_det2 th, .profile_det2 tr, .profile_det2 td, .diff_accounts tbody, .diff_accounts, .diff_accounts tr, .diff_accounts td, .diff_accounts th {
	display:block;
}

.profile_det2 tr:first-child, .diff_accounts tr:first-child {
	position:absolute;
	top:-99999em;
}

.profile_det2 tr, .diff_accounts tr {
	position:relative;
}

.profile_det2 td:before, .diff_accounts td:before {
	position:absolute;
	left:0;
	display:block;
	width:50%;
}

.profile_det2 td, .diff_accounts td {
	width:50%;
	float:right;
	clear:right;
}

.profile_det2 td:nth-of-type(1):before {
	content:"Name";
}

.profile_det2 td:nth-of-type(2):before {
	content:"User";
}

.profile_det2 td:nth-of-type(3):before {
	content:"Email";
}

.diff_accounts td:nth-of-type(1):before {
	content:"Name";
}

.diff_accounts td:nth-of-type(2):before {
	content:"User Type";
}

.diff_accounts td:nth-of-type(3):before {
	content:"Company Name";
}

.diff_accounts td:nth-of-type(4):before {
	content:"Email";
}

.diff_accounts td:nth-of-type(5):before {
	content:"Address";
}

.diff_accounts td:nth-of-type(6):before {
	content:"Authorize";
}

.profile_det2 td:last-of-type, .diff_accounts td:last-of-type {
	text-align:left;
}

.profile_det2 tr:after,
.profile_det2 tr:before,
.diff_accounts tr:after,
.diff_accounts tr:before {
	content:"";
	clear:both;
	display:table;
}

.profile_det2 tr, .diff_accounts tr {
	padding:15px 0;
	border-bottom:1px solid #ededed;
}

.profile_det2 tr:last-of-type, .diff_accounts tr:last-of-type {
	border-bottom:0;
}

.diff_accounts .address {
	max-width:none;
}

.narrow_bar, .wide_bar {
	width:100%;
	clear:both;
	float:none;
	margin-top:20px;
}

.guest_list tr {
	width:100%;
	float:none;
	clear:both;
}

.equalHeightContainer {
	overflow:visible;
}

.equalHeight {
	padding:0;
	margin:0;
}

.graph-user, .graph-user + .graph-user, .twocolblock, .twocolblock + .twocolblock {
	float:none;
	width:100%;
	clear:both;
	margin-top:10px;
}

.company_enter td input[type="text"] {
	width:100%;
}

.sliderQuestions .two-col-block2 {
	margin-top:0;
}

.sub_menu {
	position:static;
	width:100%;
}

ul.navigation li:hover .sub_menu {
	display:none;
}

ul.navigation li .sub_menu li {
	color:#222;
}

ul.navigation li .sub_menu li:hover {
	color:#fff;
}

ul.navigation li > a:first-of-type:nth-last-child(2):after {
	border-top-color:#fff;
	position:static;
	width:0;
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
}

.mail_side_bar, .mail_box {
	width:100%;
	float:none;
	padding-bottom:0;
}

.mail_box {
	margin-top:20px;
}

.mail_desc {
	border:0;
}

.payment_table, .payment_table td, .payment_table tbody, .payment_table th, .payment_table tr {
	display:block;
}

.payment_table th {
	display:none;
}

.payment_table td:first-of-type {
	display:none;
}

.payment_table td:first-of-type:before {
	content:"";
	display:none;
}

.payment_table td:nth-of-type(2):before {
	content:"Date:";
}

.payment_table td:nth-of-type(3):before {
	content:"Amount:";
}

.payment_table td:nth-of-type(4):before {
	content:"Contributor:";
}

.payment_table td:nth-of-type(5):before {
	content:"Notes:";
}

.payment_table td:nth-of-type(6):before {
	content:"Status:";
}

.payment_table td:nth-of-type(7):before {
	content:"Actions:";
}

.payment_table td:before {
	display:block;
	position:absolute;
	width:100%;
	left:-100%;
	top:0;
	padding:5px;
}

.payment_table td {
	position:relative;
	width:50%;
	float:right;
	clear:both;;
	border:0;
	text-align:left;
}

.payment_table tr {
	border:1px solid #e6e6e6;
	text-align:left;
}

.payment_table tr:after {
	clear:both;
	display:block;
	content:"";
}

.payment_table tr:nth-of-type(n+2) {
	border-top:0;
}

.savings_overview .three-col-block {
	float:none;
	width:100%;
	clear:both;
}

.sort-options, .sort-options td, .sort-options tr, .sort-options th, .sort-options tbody {
	display:block;
}

.sort-options td {
	width:50%;
	float:left;
	padding:10px;
}

.sort-options td input, .sort-options td select {
	max-width:100%;
	width:100%;
}

.sort-options td:nth-of-type(odd) {
	clear:left;
}

.sort-options tr:after {
	clear:both;
	content:"";
	display:block;
}

.add-images6 {
	width:100%;
}

#calendar > table, #calendar > table thead, #calendar > table tbody, #calendar > table tr, #calendar > table td, #calendar > table th {
	display:block;
}

#calendar > table .fc-header-left, #calendar > table .fc-header-center, #calendar > table .fc-header-right {
	display:inline-block;
	width:auto;
	margin-right:10px;
	margin-left:10px;
}

#calendar > table {
	text-align:center;
}

#three_col_grid .show-container {
	padding:5px;
}

.show-container h1, .show-container p {
	word-wrap:break-word;
}

#two_col_grid .show-container {
	padding:5px;
}

.task_tabs li {
	float:none;
	border:0;
	border-top:1px solid #ccc;
	text-align:center;
}

.task_tabs {
	border-top:0;
}

section.welcome {
	padding:0;
}

.noPaddingSmall {
	padding:1px;
}

.input-group .form-control:first-child {
	width:100%;
	clear:both;
	display:block;
}

.fileupload.fileupload-new.margin-none .input-group {
	display:block;
}

.input-group-btn {
	display:block;
	position:static;
	margin:10px 0 0;
	clear:both;
}