body
{
	color:#2b2b2b;
}
img
{
	max-width:100%;
}
.v-m-l-n
{
	border:1px solid #e8e8e8;
}
.v-m-l h4
{
	margin-top:15px;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}
.cm-lg
{
	padding:5px;
	border:1px solid #ddd;
	margin-bottom:10px;
	max-width:100%;
	display:inline-block;
}
.vd-cn
{
	width:100%;
	display:inline-block;
	margin-top:20px;
}
.cm-dm a
{
	font-weight:bold;
	display:inline-block;
	width:100%;
	color:#ec1f78;
	margin-bottom:10px;
}
.nav-rating
{
	padding:5px 15px;
	padding-top:8px;
	margin-top:10px;
	margin-bottom:0px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.nav-rating li
{
	display:inline-block;
	vertical-align:top;
	width:auto;
}
.nav-rating li span
{
	margin-right:10px;
	display:inline-block;
	margin-top:-4px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
}
.nav-rating li a
{
	padding:10px;
	display:inline-block;
	cursor:default;
	margin-right:5px;
	background:url("../images/star-rating.png") center 0px no-repeat;
}
.nav-rating.nav-lyk
{
	margin-top:0px;
	border-top:none;
	margin-bottom:15px;
}
.abt-rpt h4
{
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;	
}
.less-read
{
	display:none;
}
.abt-rpt .read
{
    font-size: 12px;
    margin-bottom: 20px;
    min-height: 60px;
    overflow: hidden;
    text-align: justify;
    transition: all 0.3s linear 0s;
}
.abt-rpt .read a
{
	color:#6f6f6f;
}
.abt-rpt .read a:hover
{
	text-decoration:underline;
}
.abt-rpt p strong
{
	font-weight:normal;

	vertical-align:bottom;
	font-size:14px;
}
.lng-tl span
{
	padding:10px 15px;
	border-top:1px solid #ddd;
	font-size:15px;
	width:100%;
	display:inline-block;
	border-bottom:1px solid #ddd;
	border-top:none;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
}
.lng-tl span em
{
	font-weight:normal;
	margin-left:5px;
	font-size:12px;
	text-transform:capitalize;
	font-style:normal;
}
.lng-tl .row:first-child span
{
	border-top:1px solid #ddd !important;
}
.md-scl-lnk .cs_i_follow
{
	margin:7px 0px;
}
.md-scl-lnk .cs_i_follow p a
{
	margin:0px 2px;
}
.md-scl-lnk .cs_i_follow p a img
{
	width:25px;
}
.md-scl-lnk .cs_i_follow p
{
	margin:2px 0px;
}
.md-scl-lnk .cs_i_follow .label
{
	color:#555;
	padding:0px;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
}
.v-loc
{
	padding-top:15px;
	border-top:1px solid #ddd;
}
.pd-nn
{
	padding-right:0px;
}
.map-data
{
	margin-bottom:5px;
	display:inline-block;
	width:100%;
}
.map-data h4
{
	color:#ec1f78;
	padding:0px;
	margin:0px;
	font-size:14px;
}
.map-data p
{
	font-size:14px;
	word-wrap:break-word;
	margin-top:0px;
}
.v-adrs
{
	color: #555;
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0 0px;
}
.insurd
{
	margin-bottom:0px;
	padding-bottom:8px;
	border-bottom:none;
}
.insurd input
{
	margin-right:5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	outline:none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	background:none;
	border-bottom:2px solid #ec1f78;
}

.navbar-default
{
	background:none;
	min-height:100%;
	margin-bottom:0px;
	border:none;
	text-align:center;
}
.navbar-default .navbar-nav > li
{
	float:none;
	display:inline-block;
}
.navbar-default .nav.navbar-nav
{
	float:none;
	display:inline-block;
}
.navbar-nav > li > a {
    padding:10px 0px;
  	border-bottom:2px solid #fff;
}
.navbar-nav > li 
{
	padding-left:15px;
	padding-right:15px;	
}
.navbar-nav > li > a:hover
{
	border-bottom:2px solid #ec1f78;
}
.portfolio-hd {
    border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    padding: 8px;
    position: relative;
}
a.v-port-vwd
{
	background: none repeat scroll 0 0 #ec1f78;
    border: none;
    color: #fff;
    top: 5px;
	padding:4px 12px;
	position:absolute;
	border-radius:6px;
	font-size:14px;
	-webkit-border-radius:6px;
	-ms-border-radius:6px;
	right:10px;
}
a.v-port-vwd:hover
{
	background:#e0166e;
}
.top-nav
{
	margin-top:15px;
}
.top-nav li
{
	 border: 1px solid #eee;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: -3px;
    overflow: hidden;
    position: relative;
    width: 22.81%;
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
}
.top-nav li:hover
{
	box-shadow:0px 0px 2px 0px #ddd;
	-webkit-box-shadow:0px 0px 2px 0px #ddd;
	-ms-box-shadow:0px 0px 2px 0px #ddd;
}
.top-nav li:hover img
{
	transform:scale(1.3);
	-webkit-transform:scale(1.3);
	-ms-transform:scale(1.3);
}
.top-nav li:hover .cs_hide
{
	bottom:0px;
	opacity:1;
}
.top-nav li .cs_hide .star
{
	display:inline-block;
	float:none;
}
.top-nav li .cs_hide
{
	background:#e6e6e6;
	bottom: -200px;
	opacity:0;
	position: absolute;
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	width: 100%;
	padding-top:5px;
	z-index: 100;
	text-align:center;
}
input[type=radio].css-checkbox {
	display:none;
}
input[type=radio].css-checkbox + label.css-label {
	padding-left:26px;
	height:auto; 
	display:inline-block;
	line-height:inherit;
	background-repeat:no-repeat;
	font-size:12px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=radio].css-checkbox:checked + label.css-label {
	background-image:url(../images/checkbox-buttons.png);
	
}
label.css-label {
	background-image:url(../images/uncheckbox-buttons.png);
	background-position:left center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin-right:15px;
	margin-top:-4px;
	user-select: none;
}
@media (min-width:991px)
{
.cm-dm
{
	margin-top:6px;
	padding-left:0px;	
}
}
.vd-cn .pro-rpt-spc .table
{
	margin-left:0px;	
}
.see-more
{
	margin-top:30px;
	margin-bottom:40px;
	text-align:center;
	width:100%;
	display:inline-block;
}
.see-more a
{
	color:#ec1f78;
	font-size:14px;
	text-decoration:underline;
}
.see-more a:hover
{
	text-decoration:none;
}
.spek-lng
{
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
    display: inline-block;
    font-size: 15px;
    padding: 9px 15px;
	padding-top:7px;
    width: 100%;
		
}
.spek-lng li
{
	width:auto;
	display:inline-block;
	font-size:12px;
	margin-right:5px;
}
.spek-lng li p
{
	margin:0px;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	margin-right:5px;
}
.insurd.nav-rating li span
{
	margin-right:0px;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
}
.insurd li
{
	margin-right:7px;
}
@media (min-width:992px)
{
.v-m-l-n
{
	width:27%;
	border-left:none;
	border-top:none;
	border-bottom:none;
	background:#fdfdfd;
	border-right:none;
	box-shadow:-5px 0 5px -6px rgba(0, 0, 0, 0.25) inset;
}
.bdr-row
{
	border:1px solid #ddd;
}
.v-m-r-n
{
	width:73%;
	
}
}
.personal_inf
{
	margin-top:60px;
}
.about
{
	position:relative;
}
.description p {
    color: #2b2b2b;
    font-size: 13px;
}
.description
{
	padding-left:0px;
}
.pro-rpt-spc .table
{
	margin-left:0px;
}
.vnd-stts
{
	color:#999;
}
.vnd-stts em
{
	width:10px;
	height:10px;
	margin-right:4px;
	background:#cccccc;
	display:inline-block;	
	border-radius:50%;
}
.text-success em
{
	width:10px;
	height:10px;
	margin-right:4px;
	background:#3c763d;
	display:inline-block;	
	border-radius:50%;
}
a.positionFix
{
	top:0px;
}
.no-img
{
	text-align:center;
	margin-top:25px;
	opacity:0.7;
}
a.map-link 
{
	margin-top:15px;
	font-weight:bold;
	color:#428bca;
	display:inline-block;
}
#mapModal .modal-body
{
	padding:15px;
}
a.map-link:focus, a.map-link:active
{
	text-decoration:none;
}
.closeModal
{
	background:#555;
    color: #ffffff;
    float: right;
    font-family: 'Comic Sans MS';
    font-size: 12px;
    margin-right: -12px;
	position:relative;
	z-index:99999;
    margin-top: -12px;
    padding: 15px;
	background:url("../images/close-crop.png") no-repeat;
}
