<?php $this->placeholder('staticStylesheet')->captureStart() ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables_responsive.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables.min.css'); ?>
<?php $this->placeholder('staticStylesheet')->captureEnd() ?>
<?php $this->placeholder('content')->captureStart() ?>
<?php
    $db=Zend_Registry::get("db");
    $graphic = $db->fetchAll('select * from media where section=? OR section=? OR section=? OR section=?', array('slider','vendorvideoimage','vendorgallery','advertisement'), 2);
    //$cat = $db->fetchAll('select * from vendor_category order by id DESC', array('user-avatar'), 2);
    //$country = $db->fetchAll('select * from countries order by country_id DESC', array(), 2);
?>

<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />
<div class="innerAll spacing-x2">
	<!-- Widget -->
<div class="widget widget-tabs widget-tabs-gray border-bottom-none">
	<!-- Widget heading -->
	<div class="widget-head">
		<ul>
			<li class="active"><a class="glyphicons edit" href="#account-details" data-toggle="tab"><i></i>Pages</a></li>
			<li><a class="glyphicons settings" href="#profile-image" data-toggle="tab"><i></i>Home Page Slider</a></li>
			<li><a class="glyphicons settings" href="#profile-gallery" data-toggle="tab"><i></i>Gallery</a></li>
		</ul>
	</div>
	<!-- // Widget heading END -->	
	<div class="widget-body">
			<div class="tab-content">			
				<!-- Tab content -->
				<div class="tab-pane active" id="account-details">
					<form name="" id="account-details" class="form-horizontal" action="" method="POST">
						<input name="post_author" type="hidden" value="<?php echo $sess->user; ?>" id="" />
						<!-- Row -->
						<div class="row">					
							<!-- Column -->
							<div class="col-md-6">						
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Page Title</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="post_title" value="" class="form-control" placeholder="Enter your page title !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Page title is mandatory"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->							
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Meta Title</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="meta_title" value="" class="form-control" placeholder="Enter your meta title !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Meta title is mandatory"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Menu Order</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" id="menuOrder" name="menu_order" value="" class="form-control" placeholder="Only accept integer values, i.e 1,2,3 etc.." />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Menu order is mandatory"><i class="fa fa-question-circle"></i></span>
										</div>
										<span class="order-check" style="display: none;color:red;">Menu order you have entered is either already taken or in wrong format. Integer value required !!!</span>
									</div>
								</div>
								<!-- // Group END -->
							</div>
							<!-- // Column END -->
						
							<!-- Column -->
							<div class="col-md-6">
						
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Type</label>
									<div class="col-md-9">
										<select id="parent_type" required="true" name="post_type" value="" class="form-control">
											<option value="" selected="selected">--select page type--</option>
											<option value="page">Page</option>
											<option value="post">Post</option>
											<option value="blog">Blog</option>
											<option value="category">Category</option>
											<option value="others">Others..</option>
										</select>
									</div>
								</div>
								<!-- // Group END -->
							
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Parent</label>
									<div class="col-md-9">
										<select id="post_parent" name="parent" value="" class="form-control">
											<option value="" selected="selected">--select page type first--</option>
										</select>
									</div>
								</div>
								<!-- // Group END -->
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Menu Location</label>
									<div class="col-md-9">
										<select id="menu_location" required="true" name="menu_location" value="" class="form-control">
											<option value="" selected="selected">--select menu location--</option>
											<option value="top-navigation">Top Navigation</option>
											<option value="main-menu">Main Menu</option>
											<option value="sidebar">Sidebar</option>
											<option value="footer">Footer</option>
										</select>
									</div>
								</div>
								<!-- // Group END -->
							</div>
						<!-- // Column END -->						
						</div>
						<!-- // Row END -->					
						<div class="separator line bottom"></div>
						<div class="row">
							<textarea id="mustHave_1" class="wysihtml5 form-control" required="true" name="post_excerpt" class="form-control col-md-9" rows="3" placeholder="Enter small summary !!!"></textarea>
						</div>
						<div class="separator line bottom"></div>
						<div class="row">
							<textarea id="mustHave_2" class="wysihtml5 form-control" required="true" name="post_content" class="form-control" rows="5" placeholder="Enter page content !!!"></textarea>
						</div>
						<!-- Form actions -->
						<div class="separator top">
							<button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check"></i> Save changes</button>
							<button type="button" class="btn btn-default hide"><i class="fa fa-fw fa-times"></i> Cancel</button>
						</div>
						<!-- // Form actions END -->
						</form>
				</div>

				

				<!-- // Tab content END -->
				<div class="tab-pane" id="profile-image">
					<div id="final_image"></div>
					<form class="form-horizontal" id="upload_form" enctype="multipart/form-data" method="POST" action="<?php echo $this->baseUrl(); ?>/admin/media-uploader/index/format/html" onsubmit="return checkForm()">
							<!-- Column -->
							<div class="row">
								<strong>Profile Image</strong>
							</div>
							<!-- hidden crop params -->
							<input type="hidden" id="x1" name="x1" />
							<input type="hidden" id="y1" name="y1" />
							<input type="hidden" id="x2" name="x2" />
							<input type="hidden" id="y2" name="y2" />
							<input type="hidden" id="profile" name="section" value="slider" />
							<input type="hidden" id="sess" name="user" value="<?php echo $sess->user; ?>">
							<input type="hidden" id="multi" name="multi" value="1">
							<div class="separator top"></div>
							<div class="row">
								<div class="error alert alert-danger">Click Select Image to Slider's pic.</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="step2 hide">Loading.....</div>
									<img id="preview" src="" alt="Home Slider Image holder" />															
									<div id="preview-pane" style="display: none;">
										<div class="preview-container" style="width: 168px; height: 59px;">
											<img src="" class="jcrop-preview img-responsive img-clean" alt="Preview Pan" />
										</div>
									</div>
								</div>
							</div>
							<div class="separator bottom"></div>
							<div class="row">
									<div class="fileupload fileupload-new margin-none" data-provides="fileupload">
										<div class="input-group">
											<div class="form-control col-md-3"><i class="fa fa-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
											<span class="input-group-btn">
												<span class="btn btn-default btn-file"><span class="fileupload-new">Select Image</span><span class="fileupload-exists">Change</span>
													<input type="file" reuired="true" class="margin-none" name="image_file" id="image_file" onchange="fileSelectHandler()"/>
												</span>
												<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
											</span>
										</div>
									</div>
									<label>Title</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" required="true" class="form-control" id="imagetitle" name="title" />
									</div>
									<div class="separator bottom"></div>
									<label>Description</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" required="true" class="form-control" id="imagedescription" name="description" />
									</div>
									<div class="separator bottom"></div>
									<label>Link to page</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" required="true" class="form-control" id="imageguid" name="guid" />
									</div>
									<div class="separator bottom"></div>
									<div class="separator top">
										<div class="form-actions" style="margin: 0;">
											<button type="submit" id="form-submit" class="btn btn-primary"><i class="fa fa-check"></i>Upload Image</button>
										</div>
									</div>
							</div>
							<div class="row">
								<div class="info">
									<label>File size</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filesize" name="filesize" />
									</div>
									<div class="separator bottom"></div>
									<label>Type</label>
							
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filetype" name="filetype" />
									</div>
									<div class="separator bottom"></div>
								
									<label>Image dimension</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filedim" name="filedim" />
									</div>
									<div class="separator bottom"></div>
						
									<label>W</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="w" name="w" value="1680"/>
										<input type="hidden" class="form-control" id="ww" name="ww" value="1680"/>
									</div>
									<div class="separator bottom"></div>
									<label>H</label>
								
									<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
									<input type="text" class="form-control" id="h" name="h" value="590" />
									<input type="hidden" class="form-control" id="hh" name="hh" value="590"/>
								</div>
								<div class="separator bottom"></div>
							</div>
					</form>						
				</div>
			</div>
			<div class="tab-pane" id="profile-gallery">
				<div class="row">
					<table class="dynamicTable colVis table orders_table">
						<!-- Table heading -->
						<thead class="bg-gray">
							<tr>
								<th>Image</th>
								<th>Section</th>
								<th>Title</th>
								<th>Description</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<!-- // Table heading END -->
	
					<!-- Table body -->
					<tbody>	
					<?php
						if( $graphic ) {
							//echo "<pre>";
							//print_r( $graphic );
							foreach( $graphic as $data => $values ) {
								if($values['section']=='slider') {
									?>								
										<tr id="graphic_<?php echo $values['id']; ?>" class="gradeX order">
											<td><img style="width: 168px; height: 59px;" src="<?php echo $this->baseUrl(); ?>/media/<?php echo $values['owner']; ?>/<?php echo $values['section']; ?>_<?php echo $values['owner']; ?>_<?php echo $values['id']; ?>_1680x590<?php echo $values['type']; ?>" alt="Image not found !!!"></td>
											<td><?php echo $values['section']; ?></td>
											<td><?php echo $values['title']; ?></td>
											<td><?php echo $values['description']; ?></td>
											<td><input type="checkbox" media-id="<?php echo $values['id']; ?>" class="check" <?php if( $values['status'] == 1){ echo 'checked' ; }else { echo '' ; } ?>></td>
											<td class="center">
												<div class="btn-group btn-group-sm">
													<a class="btn btn-success" href="#"><i class="fa fa-pencil"></i></a>
													<a id="<?php echo $values['id']; ?>" onclick="return confirm('Are you sure to delete this record ?');" class="btn btn-danger" href="<?php echo $this->baseUrl(); ?>/admin/gallery/del?id=<?php echo $values['id']; ?>"><i class="fa fa-times"></i></a>
												</div>											
											</td>
										</tr>
										<!-- // Table row END -->
									<?php
								}
								if($values['section']=='vendorvideoimage') {
									?>								
										<tr id="graphic_<?php echo $values['id']; ?>" class="gradeX order">
											<td><img style="width: 168px; height: 59px;" src="<?php echo $this->baseUrl(); ?>/media/<?php echo $values['owner']; ?>/<?php echo $values['section']; ?>_<?php echo $values['owner']; ?>_<?php echo $values['id']; ?>_1680x590<?php echo $values['type']; ?>" alt="Image not found !!!"></td>
											<td><?php echo $values['section']; ?></td>
											<td><?php echo $values['title']; ?></td>
											<td><?php echo $values['description']; ?></td>
											<td><input type="checkbox" media-id="<?php echo $values['id']; ?>" class="check" <?php if( $values['status'] == 1){ echo 'checked' ; }else { echo '' ; } ?>></td>
											<td class="center">
												<div class="btn-group btn-group-sm">
													<a class="btn btn-success" href="#"><i class="fa fa-pencil"></i></a>
													<a id="<?php echo $values['id']; ?>" onclick="return confirm('Are you sure to delete this record ?');" class="btn btn-danger" href="<?php echo $this->baseUrl(); ?>/admin/gallery/del?id=<?php echo $values['id']; ?>"><i class="fa fa-times"></i></a>
												</div>											
											</td>
										</tr>
										<!-- // Table row END -->								
									<?php
								}
								if($values['section']=='vendorgallery') {
									?>								
										<tr id="graphic_<?php echo $values['id']; ?>" class="gradeX order">
											<td><img style="width: 168px; height: 59px;" src="<?php echo $this->baseUrl(); ?>/media/<?php echo $values['owner']; ?>/<?php echo $values['section']; ?>_<?php echo $values['owner']; ?>_<?php echo $values['id']; ?>_960x370<?php echo $values['type']; ?>" alt="Image not found !!!"></td>
											<td><?php echo $values['section']; ?></td>
											<td><?php echo $values['title']; ?></td>
											<td><?php echo $values['description']; ?></td>
											<td><input type="checkbox" media-id="<?php echo $values['id']; ?>" class="check" <?php if( $values['status'] == 1){ echo 'checked' ; }else { echo '' ; } ?>></td>
											<td class="center">
												<div class="btn-group btn-group-sm">
													<a class="btn btn-success" href="#"><i class="fa fa-pencil"></i></a>
													<a id="<?php echo $values['id']; ?>" onclick="return confirm('Are you sure to delete this record ?');" class="btn btn-danger" href="<?php echo $this->baseUrl(); ?>/admin/gallery/del?id=<?php echo $values['id']; ?>"><i class="fa fa-times"></i></a>
												</div>											
											</td>
										</tr>
										<!-- // Table row END -->								
									<?php
								}
								if($values['section']=='advertisement') {
									?>								
										<tr id="graphic_<?php echo $values['id']; ?>" class="gradeX order">
											<td><img style="width: 168px; height: 59px;" src="<?php echo $this->baseUrl(); ?>/media/<?php echo $values['owner']; ?>/<?php echo $values['section']; ?>_<?php echo $values['owner']; ?>_<?php echo $values['id']; ?>_280x180<?php echo $values['type']; ?>" alt="Image not found !!!"></td>
											<td><?php echo $values['section']; ?></td>
											<td><?php echo $values['title']; ?></td>
											<td><?php echo $values['description']; ?></td>
											<td><input type="checkbox" media-id="<?php echo $values['id']; ?>" class="check" <?php if( $values['status'] == 1){ echo 'checked' ; }else { echo '' ; } ?>></td>
											<td class="center">
												<div class="btn-group btn-group-sm">
													<a class="btn btn-success" href="#"><i class="fa fa-pencil"></i></a>
													<a id="<?php echo $values['id']; ?>" onclick="return confirm('Are you sure to delete this record ?');" class="btn btn-danger" href="<?php echo $this->baseUrl(); ?>/admin/gallery/del?id=<?php echo $values['id']; ?>"><i class="fa fa-times"></i></a>
												</div>											
											</td>
										</tr>
										<!-- // Table row END -->								
									<?php
								}
							}
						}
					?>
					</tbody>
					<!-- // Table body END -->
					</table><!-- // Table END -->
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	ul#mustHave_1-wysihtml5-toolbar li:nth-child(5){
		display: none;
	}
	ul#mustHave_2-wysihtml5-toolbar li:nth-child(5){
		display: none;
	}
</style>
<?php $this->placeholder('content')->captureEnd() ?>
<?php $this->placeholder('staticJavascript')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>

<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js?v=v1.2.3"></script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
