<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
    <div class="bg-white innerAll border-bottom">
	<ul class="menubar">
		<li><a href="#" onclick="window.history.go(-1); return false;"><span class="badge badge-primary pull-right"><-</span> Back </a></li>
	</ul>
    </div>
    <form method="POST" action="" class="form-horizontal" id="account-details" name="">
    <div class="innerAll spacing-x2">
            
            <div class="widget widget-tabs widget-tabs-gray border-bottom-none">
                    <!-- Widget heading -->
                    <div class="widget-head">
                            <ul>
                                <li class="active"><a data-toggle="tab" href="#account-details" class="glyphicons edit"><i></i>Account details</a></li>
                                <li><a data-toggle="tab" href="#account-settings" class="glyphicons settings"><i></i>Account settings</a></li>
                                <li><a data-toggle="tab" href="#account-actions" class="glyphicons settings"><i></i>Actions</a></li>
                            </ul>
                    </div>                    
                    <!-- // Widget heading END -->	
                    <div class="widget-body">
                        <div class="tab-content">			
                                    <!-- Tab content -->
                                    <div id="account-details" class="tab-pane active">
                                      
                                            <!-- Row -->
                                            <div class="row">					
                                                <!-- Column -->
                                                <div class="col-md-6">                                                            
                                                    <!-- Group -->
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">First name</label>
                                                        <div class="col-md-9">
                                                            <div class="input-group">
                                                                <input type="text" placeholder="Enter your first name !" class="form-control" value="<?php echo $this->data['buddies'][0]['first_name']; ?>" name="first_name" required="true">
                                                                <span data-original-title="First name is mandatory" data-placement="top" data-container="body" data-toggle="tooltip" class="input-group-addon"><i class="fa fa-question-circle"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- // Group END -->                                                                    
                                                    <!-- Group -->
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Last name</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <input type="text" placeholder="Enter your last name !" class="form-control" value="<?php echo $this->data['buddies'][0]['last_name']; ?>" name="last_name" required="true">
                                                                    <span data-original-title="Last name is mandatory" data-placement="top" data-container="body" data-toggle="tooltip" class="input-group-addon"><i class="fa fa-question-circle"></i></span>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <!-- // Group END -->                                                                    
                                                    <!-- Group -->
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Date of birth</label>
                                                        <div class="col-md-9">
                                                            <div class="input-group">
                                                                    <input type="text" placeholder="Enter your Date Of Birth !" class="form-control" id="datepicker1" value="<?php echo $this->data['buddies'][0]['date_of_birth']; ?>" name="date_of_birth" required="true">
                                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- // Group END -->							
                                                </div>
                                                <!-- // Column END -->                                                            
                                                <!-- Column -->
                                                <div class="col-md-6">
                                                    <!-- Group -->
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Gender</label>
                                                        <div class="col-md-9">
							   
                                                            <select class="form-control" value="Male" name="gender" required="true">
                                            
                                                                    <option value="Male" <?php if($this->data['buddies'][0]['gender']=='Male') {?> Selected='selected' <?php }?>>Male</option>
                                                                    <option value="Female" <?php if($this->data['buddies'][0]['gender']=='Female') {?> Selected='selected' <?php }?>>Female</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!-- // Group END -->
                                                                    
                                                    <!-- Group -->
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Age</label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" value="<?php echo $this->data['buddies'][0]['age']; ?>" required="true" name="age">
                                                            </div>
                                                    </div>
                                                    <!-- // Group END -->
                                                    
                                                    <!-- Group -->
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Role</label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" value="<?php if($this->data['buddies'][0]['role']==0){ echo "User"; } elseif($this->data['buddies'][0]['role']==2){ echo "Vendor"; } ?>" required="true" name="role">
                                                            </div>
                                                    </div>
                                                    <!-- // Group END -->
                                                    
                                                    <!-- Group -->
                                                    <!--<div class="form-group">
                                                        <label class="col-md-3 control-label">Status</label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" value="<?php if( $this->data['buddies'][0]['status']==0 ){ echo 'Blocked'; }; if( $this->data['buddies'][0]['status']==1 ){ echo 'Active'; }; ?>" required="true" name="status">
                                                            </div>
                                                    </div>-->
                                                    <!-- // Group END -->
                                                    
                                                </div>
                                                <!-- // Column END -->						
                                            </div>
                                            <!-- // Row END -->					
                                            <div class="separator line bottom"></div>
					
					    <textarea id="mustHaveId" required="true" name="bio" class="wysihtml5 form-control" rows="5"><?php echo $this->data['buddies'][0]['bio']; ?></textarea>  
                                            <!-- Form actions -->
                                            <div class="separator top">
                                               <button class="btn btn-primary hide" type="submit"><i class="fa fa-check"></i> Save changes</button>
                                                <button class="btn btn-default hide" type="button"><i class="fa fa-fw fa-times"></i> Cancel</button>
                                            </div>
                                                <!-- // Form actions END -->
                                    </div>
                                    <!-- // Tab content END -->
                                    <!-- Tab content -->
                                    <div id="account-settings" class="tab-pane">
                                                    
                                                        <div class="row">					
                                                                <!-- Column -->
                                                                <div class="col-md-3">
                                                                        <strong>Change password</strong>
                                                                        <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                </div>
                                                                <!-- // Column END -->						
                                                                <!-- Column -->
                                                                <div class="col-md-9">
                                                                        <label for="inputUsername">Username</label>
                                                                        <div class="input-group">
                                                                                <input type="text" id="inputUsername" class="form-control" value="<?php echo $this->data['buddies'][0]['email']; ?>" disabled="disabled" />
                                                                                <span class="input-group-addon" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="Username can't be changed"><i class="icon-question-sign"></i></span>
                                                                        </div>
                                                                        <div class="separator bottom"></div>
                                                                                        
                                                                        <!--<label for="inputPasswordOld">Old password</label>
                                                                        <div class="input-group">
                                                                                <input type="password" id="inputPasswordOld" class="form-control" value="" placeholder="Leave empty for no change" />
                                                                                <span class="input-group-addon" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="Leave empty if you don't wish to change the password"><i class="icon-question-sign"></i></span>
                                                                        </div>
                                                                        <div class="separator bottom"></div>
                                                                        
                                                                        <label for="inputPasswordNew">New password</label>
                                                                        <input type="password" id="inputPasswordNew" class="form-control" value="" placeholder="Leave empty for no change" />
                                                                        <div class="separator bottom"></div>
                                                                        
                                                                        <label for="inputPasswordNew2">Repeat new password</label>
                                                                        <input type="password" id="inputPasswordNew2" class="form-control" value="" placeholder="Leave empty for no change" />
                                                                        <div class="separator bottom"></div>-->
                                                                        <label for="inputUsername">Address</label>
                                                                        <textarea id="mustHaveId" required="true" name="address" class="wysihtml5 form-control" rows="5" placeholder="Leave empty for no change address"><?php echo $this->data['buddies'][0]['address']; ?></textarea>
                                                                        <div class="separator bottom"></div>
                                                                        <label for="inputPhone">Pincode</label>
                                                                        <div class="input-group">
                                                                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                                                <input type="text" id="inputPhone" name="pincode" value="<?php echo $this->data['buddies'][0]['pincode']; ?>" class="form-control" placeholder="Enter your phone number !" />
                                                                        </div>
                                                                </div>
                                                                <!-- // Column END -->
						
                                                        </div>
                                                        <!-- // Row END -->                                                    
                                                        <div class="separator line bottom"></div>					
                                                        <!-- Row -->
                                                        
                                                            <div class="row">					
                                                                    <!-- Column -->
                                                                    <div class="col-md-3">
                                                                            <strong>Contact details</strong>
                                                                            <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                    </div>
                                                                    <!-- // Column END -->						
                                                                    <!-- Column -->
                                                                    <div class="col-md-9">
                                                                            <div class="row">
                                                                                    <div class="col-md-6">
                                                                                            <label for="inputPhone">Phone</label>
                                                                                            <div class="input-group">
                                                                                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                                                                    <input type="text" placeholder="Enter your phone number !" class="form-control" value="<?php echo $this->data['buddies'][0]['phone']; ?>" name="phonenumber" id="inputPhone">
                                                                                            </div>
                                                                                            <div class="separator bottom"></div>
                                                                                                    
                                                                                            <label for="inputEmail">E-mail</label>
                                                                                            <div class="input-group">
                                                                                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                                                                    <input type="text" placeholder="Enter your email !" class="form-control" value="<?php echo $this->data['buddies'][0]['email']; ?>" name="email" id="inputEmail">
                                                                                            </div>
                                                                                            <div class="separator bottom"></div>
                                                                                            
                                                                                            <label for="inputWebsite">Website</label>
                                                                                            <div class="input-group">
                                                                                                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                                                                                    <input type="text" placeholder="Application Url !" class="form-control" value="<?php echo $this->data['buddies'][0]['website']; ?>" name="website" id="inputWebsite">
                                                                                            </div>
                                                                                            <div class="separator bottom"></div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                            <label for="inputFacebook">Facebook</label>
                                                                                            <div class="input-group">
                                                                                                    <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                                                                                    <input type="text" placeholder="Enter facebook ID !" class="form-control" value="<?php echo $this->data['buddies'][0]['fb_name']; ?>" name="fb_name" id="inputFacebook">
                                                                                            </div>
                                                                                            <div class="separator bottom"></div>
                                                                                            
                                                                                            <label for="inputTwitter">Twitter</label>
                                                                                            <div class="input-group">
                                                                                                    <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                                                                                    <input type="text" placeholder="Enter your twitter ID !" class="form-control" value="<?php echo $this->data['buddies'][0]['tw_name']; ?>" name="tw_name" id="inputTwitter">
                                                                                            </div>
                                                                                            <div class="separator bottom"></div>
                                                                                            
                                                                                            <label for="inputSkype">Skype ID</label>
                                                                                            <div class="input-group">
                                                                                                    <span class="input-group-addon"><i class="fa fa-skype"></i></span>
                                                                                                    <input type="text" placeholder="mySkypeID" class="form-control" value="<?php echo $this->data['buddies'][0]['sky_name']; ?>" name="sky_name" id="inputSkype">
                                                                                            </div>
                                                                                            <div class="separator bottom"></div>
                                                                                    
                                                                                            <label for="inputgplus">Google</label>
                                                                                            <div class="input-group">
                                                                                                    <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                                                                                                    <input type="text" placeholder="google ID" class="form-control" value="<?php echo $this->data['buddies'][0]['gplus_name']; ?>" name="gplus_name" id="inputgplus">
                                                                                            </div>
                                                                                            <div class="separator bottom"></div>
                                                                                    </div>
                                                                            </div>
                                                                    </div>
                                                                    <!-- // Column END -->						
                                                            </div>
                                                            <!-- // Row END -->
                                                    
                                                            <!-- Form actions -->
                                                            <div style="margin: 0;" class="form-actions">
                                                                    <button class="btn btn-primary hide" type="submit"><i class="fa fa-check"></i> Save changes</button>
                                                            </div>
                                         
                                    </div>
                                    
                                    <div id="account-actions" class="tab-pane">
                                        <div class="row">
                                            <div class="col-md-6">
                                                    <!-- Group -->
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Update Status</label>
                                                        <div class="col-md-9">
                                                           <!-- <form method="POST" action="" class="form-horizontal" id="account-details" name="">-->
								
                                                                <select class="form-control" value="Male" name="status" required="true">
                                                                    <option selected="selected"><?php if( $this->data['buddies'][0]['status']==0 ){ echo 'Blocked'; }; if( $this->data['buddies'][0]['status']==1 ){ echo 'Active'; }; ?></option>
                                                                    <option value="0">Block</option>
                                                                    <option value="1">Active</option>
								    
                                                                </select>
                                                                <input type="hidden" name="id" value="<?php echo $this->data['buddies'][0]['id']; ?>">
                                                                <div class="separator bottom"></div>
                                                                <!-- Form actions -->
                                                                <div style="margin: 0;" class="form-actions">
                                                                    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Save changes</button>
                                                                </div>
                                                            <!--</form>-->
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>
    </form>
<?php $this->placeholder('content')->captureEnd() ?>
