<?php $this->placeholder('staticStylesheet')->captureStart() ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables_responsive.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables.min.css'); ?>
<?php $this->placeholder('staticStylesheet')->captureEnd() ?>
<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<h1 class="bg-white content-heading border-bottom">Buddies</h1>
<div class="innerAll spacing-x2">
	<div class="widget widget-inverse">
		
		<div class="widget-head">
			<h4 class="heading">
				<a href="<?php echo $this->baseUrl(); ?>/admin/buddy">Manage My Buddies</a>
			</h4>
		</div>
		<div class="widget-body padding-bottom-none">
		<?php if( $this->data ) { ; ?>
			<!-- Table -->
			<table class="dynamicTable colVis table orders_table">

				<!-- Table heading -->
				<thead class="bg-gray">
					<tr>
						<th>Buddy Pic</th>
						<th>Buddy Name</th>
						<th>Email</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<!-- // Table heading END -->
	
				<!-- Table body --> 
				<tbody>					
					<?php
						if( $this->data['buddies'][0] ) {	
						
							foreach( $this->data['buddies'] as $data => $value ) {
								foreach( $this->data['media'] as $d => $v ) {
									if( $value['id']==$v['owner'] ) {										
										$t = $v['type'];
										$user_id = $value['id']; 
									} 									
								}
								?>						
									<!-- Table row -->
									<tr id="order_<?php echo $value['id']; ?>" class="gradeX order">
										<td>	<?php
												if( $user_id ) {
													
													?>
														<img class="img-circle" alt="profile image" src="<?php echo PUBLIC_URI; ?>/media/<?php echo $value['id']; ?>/user-avatar_<?php echo $value['id']; ?>_0_35x35<?php echo $value['type']; ?>" >
													<?php
													
												} else {
													?>
														<img class="img-circle" src="" alt="profile image">
													<?php
												}
											?>
										</td>
										<td><a href=#"<?php echo $value['name']; ?>"><?php echo $value['name']; ?></a></td>
										<td><a href="mailto:<?php echo $value['email']; ?>"><?php echo $value['email']; ?></a></td>
										<td><?php if( $value['status'] == 1){ echo 'Active'; }else{ echo "<span style='color: red; '>Blocked<span>"; } ?></td>
										<td class="center">
											<div class="btn-group btn-group-sm">
												<a class="btn btn-default" href="<?php echo $this->baseUrl(); ?>/admin/buddy/view?id=<?php echo $value['id']; ?>&type=buddy&case=view"><i class="fa fa-eye"></i></a>
												<a class="btn btn-success" href="<?php echo $this->baseUrl(); ?>/admin/buddy/edit?id=<?php echo $value['id']; ?>&type=buddy&case=edit"><i class="fa fa-pencil"></i></a>
												<a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete user !!!')" href="<?php echo $this->baseUrl(); ?>/admin/buddy/del?id=<?php echo $value['id']; ?>&type=buddy&case=del"><i class="fa fa-times"></i></a>									<div>											
										</td>
									</tr>
									<!-- // Table row END -->			
								<?php
								
							}
						} else {
							?>
								<tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No matching records found</td></tr>
							<?php
						}
					?>
		
				</tbody>
				<!-- // Table body END -->
	
			</table><!-- // Table END -->
		<?php } ?>
		</div>
	</div>
</div>
<?php $this->placeholder('content')->captureEnd() ?>
<?php $this->placeholder('staticJavascript')->captureStart() ?>
  <script src="<?php echo $this->baseUrl()?>/js/jquery.maskMoney.js" type="text/javascript"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
