<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
    <div class="bg-white innerAll border-bottom">
	<ul class="menubar">
		<li><a href="#" onclick="window.history.go(-1); return false;"><span class="badge badge-primary pull-right"><-</span> Back </a></li>
	</ul>
    </div>
    <div class="innerAll spacing-x2">
	<!-- Widget -->
	<div class="widget finances_summary widget-inverse">

		<div class="row row-merge">
			<!-- col -->
			<div class="col-sm-12 col-md-3">
						<!-- Profile Photo -->
						<div class="border-bottom">
							<a class="ajax-popup-link" href="#">

				<?php
$src = PUBLIC_URI.'/media/'. $this->data['buddies'][0]['id'].'/user-avatar_'.$this->data['buddies'][0]['id'].'_0_250x250'.$this->data['media'][0]['type'];
				    if (@getimagesize($src)) {
					$image = $src;
				    }else {
					$image = '';
				    } 
				?>
								<img alt="User Profile Pic" class="img-responsive img-clean" src="<?php echo $image; ?>">
							</a>
						</div>
						<div class="innerAll inner-2x text-center">
							<p class="lead strong margin-none"> </p>
							<p class="lead"></p>
						
							<div class="btn-group">
								<a class="btn btn-primary" href="<?php echo $this->baseUrl(); ?>/admin/messages"><i class="fa fa-plus fa-fw"></i>Messages</a>
								<a class="btn btn-primary btn-stroke" href="<?php echo $this->baseUrl(); ?>/admin/messages"><i class="fa fa-envelope"></i></a>
							</div>
						</div>
						<hr class="separator">
							

						<div class="innerAll border-bottom bg-gray">
							<h4 class="text-primary"><i class=""></i>Info</h4>
							<ul class="list-unstyled">
								<li><b>Email: </b><?php echo $this->data['buddies'][0]['email']; ?></li>
								<li><b>Phone: </b><?php echo $this->data['buddies'][0]['phone']; ?></li>
								<li><b>Address: </b><?php echo $this->data['buddies'][0]['address']; ?></li>
								
							</ul>
						</div>
						<!--<div class="innerAll border-bottom">
							<h4 class="text-primary"><i class=""></i> Experience</h4>
							<div class="innerAll half box-generic">
								<p class="margin-none strong">FLAT PLUS UI Design</p>
								<span >User Interface Design</span>
							</div>
							<div class="innerAll half box-generic">
								<p class="margin-none strong">FLAT PLUS UI Design</p>
								<span >User Interface Design</span>
							</div>
							<div class="innerAll half box-generic margin-none">
								<p class="margin-none strong">FLAT PLUS UI Design</p>
								<span >User Interface Design</span>
							</div>
							
							
						</div>
						<div class="innerAll">
							<h4 class="text-primary"><i class=""></i> Education</h4>
							<div class="bg-gray innerAll half box-generic">
								<p class="margin-none">Adobe Photoshop Cerficate</p>
								<span class="label label-default ">on 16 Dec 2013</span>
							</div>
							<div class="bg-gray innerAll half box-generic">
								<p class="margin-none">Bachelor Degree in Web Graphics</p>
								<span class="label label-default ">on 16 Dec 2013</span>
							</div>
							<a href="#" class="btn btn-primary btn-xs">View all</a>
						</div>-->

						
			</div> 
			<!-- // END col -->

		
			<!-- col -->
			<div class="col-lg-9 col-md-9 col-sm-12">

				<div class="innerAll half border-bottom">
					<h4 class="pull-left innerT half margin-none">Short Bio</h4>		
					<div class="clearfix"></div>
				
				</div>
				<div class="innerAll ">
					<p><?php echo $this->data['buddies'][0]['bio']; ?></p>
					<a class="btn btn-info btn-sm" href="http://mastersoftwaretechnologies.com/za/public/admin/index/aep"><i class="fa fa-download fa-fw"></i> View All</a>
				</div>

			

				<div class="innerAll half heading-buttons border-bottom">
					<h4 class="margin-none pull-left">Contact Info</h4>
					
					<button class="btn btn-default btn-xs  pull-right hide"><i class="fa fa-cog "></i></button> 
					
					<div class="clearfix"></div>
					
				</div>
				<div class="innerAll">
					<ul class="list-unstyled resume-documents">
						<li><a href=""><i class="fa fa-file-o"></i> Phone: <span><?php echo $this->data['buddies'][0]['phone']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Account From: <span><?php echo $this->data['buddies'][0]['date_joined']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Website: <span><?php echo $this->data['buddies'][0]['website']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Facebook: <span><?php echo $this->data['buddies'][0]['fb_name']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Twitter: <span><?php echo $this->data['buddies'][0]['tw_name']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Skype: <span><?php echo $this->data['buddies'][0]['sky_name']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Google Plus: <span><?php echo $this->data['buddies'][0]['gplus_name']; ?></span></a></li>
					</ul>
					<div class="clearfix"></div>
					<div class="innerLR innerB">
						<a class="btn btn-primary btn-sm" href="http://mastersoftwaretechnologies.com/za/public/admin/buddy"><i class="fa fa-pencil fa-fw"></i> View All </a>
					</div>
				</div>

		
				<!--<div class="innerAll half heading-buttons border-bottom">
					<h4 class="margin-none pull-left">Work History	</h4>
					
					<div class="clearfix"></div>
				</div>

				<ul class="timeline-activity list-unstyled">
					<li class="active">
						<i class="list-icon fa fa-share"></i>
						<div class="block block-inline">
							<div class="caret"></div>
							<div class="box-generic">
								<div class="timeline-top-info content-filled border-bottom">
									<i class="fa fa-user"></i> <a href="">Bill</a> got a review for <a href="" class="text-primary">FLAT PLUS UI Interface Design</a> from <a href="#"><img src="http://mastersoftwaretechnologies.com/za/public/css/assets/images/people/80/8.jpg" alt="photo" width="20"></a> <a href="">Andrew M.</a>
									<div class="timeline-bottom">
										<i class="fa fa-clock-o"></i> 2 days ago 
						
									</div>
								</div>
								<div class="media innerAll margin-none">
									<a class="pull-left" href="#"><img src="/css/assets//images/people/80/8.jpg" alt="photo" class="media-object" width="35"></a>
									<div class="media-body">
										<a href="" class="strong">Andrew</a> Good Job. Congrats and hope to see more admin templates like this in the future.
										<div class="timeline-bottom">
											<i class="fa fa-clock-o"></i> 2 days ago  
										</div>
									</div>
								</div>			
							</div>			
						</div>
					</li>

					<li>
						<i class="list-icon fa fa-share"></i>
						<div class="block block-inline">
							<div class="caret"></div>
							<div class="box-generic">
								<div class="timeline-top-info content-filled border-bottom">
									<i class="fa fa-user"></i> <a href="">Bill</a> got a review for <a href="" class="text-primary">Support &amp; Ticket System</a> from <a href="#"><img src="http://mastersoftwaretechnologies.com/za/public/css/assets/images/people/80/20.jpg" alt="photo" width="20"></a> <a href="">Andrew M.</a>
									<div class="timeline-bottom">
										<i class="fa fa-clock-o"></i> 2 days ago 
					 
									</div>
								</div>
								<div class="media innerAll margin-none">
									<a class="pull-left" href="#"><img src="/css/assets//images/people/80/20.jpg" alt="photo" class="media-object" width="35"></a>
									<div class="media-body">
										<a href="" class="strong">Bogdan</a> Good Job. Congrats and hope to see more admin templates like this in the future.
										<div class="timeline-bottom">
											<i class="fa fa-clock-o"></i> 2 days ago  
										</div>
									</div>
								</div>		    
							</div>			
						</div>
					</li>

					<li>
						<i class="list-icon fa fa-share"></i>
						<div class="block block-inline">
						<div class="caret"></div>
						<div class="box-generic">
							<div class="timeline-top-info content-filled border-bottom">
								<i class="fa fa-user"></i> <a href="">Bill</a> got a review for <a href="" class="text-primary">Project Management</a> from <a href="#"><img src="http://mastersoftwaretechnologies.com/za/public/css/assets/images/people/80/12.jpg" alt="photo" width="20"></a> <a href="">Andrew M.</a>
								<div class="timeline-bottom">
									<i class="fa fa-clock-o"></i> 2 days ago 
					 
								</div>
							</div>
							<div class="media innerAll margin-none">
								<a class="pull-left" href="#"><img src="/css/assets//images/people/80/12.jpg" alt="photo" class="media-object" width="35"></a>
								<div class="media-body">
									<a href="" class="strong">John </a> Good Job. Congrats and hope to see more admin templates like this in the future.
									<div class="timeline-bottom">
										<i class="fa fa-clock-o"></i> 2 days ago  
									</div>
								</div>
							</div>
		    
						</div>
			
						</div>
					</li>

					<li>
						<i class="list-icon fa fa-share"></i>
						<div class="block block-inline">
							<div class="caret"></div>
							<div class="box-generic">
								<div class="timeline-top-info content-filled border-bottom">
									<i class="fa fa-user"></i> <a href="">Bill</a> got a review for <a href="" class="text-primary">FLAT PLUS UI Interface Design</a> from <a href="#"><img src="http://mastersoftwaretechnologies.com/za/public/css/assets/images/people/80/10.jpg" alt="photo" width="20"></a> <a href="">Andrew M.</a>
									<div class="timeline-bottom">
										<i class="fa fa-clock-o"></i> 2 days ago 
					 
									</div>
								</div>
								<div class="media innerAll margin-none">
									<a class="pull-left" href="#"><img src="/css/assets//images/people/80/10.jpg" alt="photo" class="media-object" width="35"></a>
									<div class="media-body">
										<a href="" class="strong">Andrew</a> Good Job. Congrats and hope to see more admin templates like this in the future.
										<div class="timeline-bottom">
											<i class="fa fa-clock-o"></i> 2 days ago  
										</div>
									</div>
								</div>		    
							</div>
						</div>
					</li>
				</ul>-->
			</div> 
			<!-- // END col -->
		</div>		
		</div>
		<!-- // END row -->
	</div>

<?php $this->placeholder('content')->captureEnd() ?>
