<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />

<h1 class="bg-white content-heading border-bottom">Manage Ideas</h1>
<div class="bg-white innerAll border-bottom">
	<ul class="menubar">
		<li><a href="<?php echo $this->baseUrl(); ?>/admin/ideas">Manage Ideas</a></li>
	</ul>
</div>
<div class="innerAll spacing-x2">
	<!-- Widget -->
<div class="widget widget-tabs widget-tabs-gray border-bottom-none">

	<!-- Widget heading -->
	<div class="widget-head">
		<ul>
			<li class="active"><a class="glyphicons edit" href="#account-details" data-toggle="tab"><i></i>Add New Venue</a></li>
		</ul>
	</div>
	<!-- // Widget heading END -->
	

	<div class="widget-body">
			<div class="tab-content">			
				<!-- Tab content -->
				<div class="tab-pane active" id="account-details">
					<div id="final_image"></div>
					<form class="form-horizontal" id="upload_form" enctype="multipart/form-data" method="POST" action="<?php echo $this->baseUrl(); ?>/admin/media-uploader/index/format/html" onsubmit="return checkForm()">
							<!-- Column -->
							<div class="row">
								<strong>Profile Image</strong>
							</div>
							<!-- hidden crop params -->
							<input type="hidden" id="x1" name="x1" />
							<input type="hidden" id="y1" name="y1" />
							<input type="hidden" id="x2" name="x2" />
							<input type="hidden" id="y2" name="y2" />
							<input type="hidden" id="profile" name="section" value="venueidea" />
							<input type="hidden" id="sess" name="user" value="<?php echo $sess->user; ?>">
							<div class="separator top"></div>
							<div class="row">
								<div class="error alert alert-danger">Click Select Image to upload venue idea.</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="step2 hide">Loading.....</div>
									<img id="preview" src="" alt="Image Holder" />															
									<div id="preview-pane" style="display: none;">
										<div class="preview-container" style="width: 200px; height: 200px;">
											<img src="" class="jcrop-preview img-responsive img-clean" alt="Preview Pan" />
										</div>
									</div>
								</div>
							</div>
							<div class="separator bottom"></div>
							<div class="row">
									<div class="fileupload fileupload-new margin-none" data-provides="fileupload">
										<div class="input-group">
											<div class="form-control col-md-3"><i class="fa fa-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
											<span class="input-group-btn">
												<span class="btn btn-default btn-file"><span class="fileupload-new">Select Image</span><span class="fileupload-exists">Change</span>
													<input type="file" reuired="true" class="margin-none" name="image_file" id="image_file" onchange="fileSelectHandler()"/>
												</span>
												<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
											</span>
										</div>
									</div>
							</div>
							<div class="row">
								<div class="separator top"></div>
								<label>Venue Title</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone"></i></span>
									<input type="text" placeholder="Enter venue title" class="form-control" name="title" id="inputPhone">
								</div>
								<div class="separator bottom"></div>
								<label>Venue Description</label>
								<textarea id="mustHave5_" class="wysihtml5 form-control" required="true" name="description" class="form-control" rows="5" placeholder="Enter your biography"><?php echo $this->data['data'][0]['bio']; ?></textarea>
								<div class="separator top">
									<div class="form-actions" style="margin: 0;">
										<button type="submit" id="form-submit" class="btn btn-primary"><i class="fa fa-check"></i>Upload Image</button>
									</div>
								</div>
								<div class="info hide">
									<label>File size</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filesize" name="filesize" />
									</div>
									<div class="separator bottom"></div>
									<label>Type</label>
							
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filetype" name="filetype" />
									</div>
									<div class="separator bottom"></div>
								
									<label>Image dimension</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filedim" name="filedim" />
									</div>
									<div class="separator bottom"></div>
						
									<label>W</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="w" name="w" value="400"/>
										<input type="hidden" class="form-control" id="ww" name="ww" value="400"/>
									</div>
									<div class="separator bottom"></div>
									<label>H</label>
								
									<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
									<input type="text" class="form-control" id="h" name="h" value="400" />
									<input type="hidden" class="form-control" id="hh" name="hh" value="400"/>
								</div>
								<div class="separator bottom"></div>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	ul#mustHave5_-wysihtml5-toolbar li:nth-child(5){
		display: none;
	}
</style>

<?php $this->placeholder('content')->captureEnd() ?>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js?v=v1.2.3"></script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
