<!DOCTYPE html>
<html>
	<head>
		<title>Email</title>
	</head>
	<body>
		<table style="width:620px;margin:0 auto;">

			<tr>
				<td style="border-bottom:1px solid #cdcdcd;"><a href="<?php echo PUBLIC_URI ;?>" target="_blank"><img style="margin:0;padding:0;border:0;vertical-align:middle;" src="<?php echo PUBLIC_URI; ?>/images/logo.png" alt="" /></a></td>
			</tr>
			<tr>
				<td style="padding:20px 0;font-family:Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; color:#59595b;">
					<span style="font-size:16px;">Dear User[<?php echo $this->email; ?>]</span>
					<p style="font-size:14px; margin-top:40px;"><br />
					<br />
					Your Account has been <?php echo $this->status ; ?>.<br/>
				</td>
			</tr>
			<tr>
				<td><img src="images/bike.png" alt="" /></td>
			</tr>
			<tr>
				<td>
					<p style="font-size:14px;font-family:Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; color:#59595b;">Thanks,<br />
					The Quinceaneraplug Team</p>
				</td>
			</tr>
		</table>
	</body>
</html>
