<?php $this->placeholder('slider')->captureStart() ?>

<div class="wrapper">

  <div class="container-fluid">
      <div class="row">
  
    <div class="col-lg-4 col-lg-offset-4">
        <?php 
          if (isset($this->data['data']) && $this->data['status'] == 'valid') {

              echo "<span style='color:green;'>".$this->data['data'] . " <a id='login' href='javascript:void(0);'>User log in</a></span>";
          }else if(isset($this->data['data']) && $this->data['status'] == 'invalid'){

            echo "<span style='color:red;'>".$this->data['data']."</span>";
          }
        ?>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Forget Password</h3>
                    </div>

                    <div class="panel-body">
                        <form id="forget_password_form" action ="" method="POST" name="forget_password_form" >

                            <div class="form-group">
                                <input type="password" value="" class="form-control" name="password_reset_code" id="password_reset_code" placeholder="Enter Password Reset Code" />
                            </div>

                            <div class="form-group">
                                <input type="password" value="" class="form-control" name="new_password" id="new_password" placeholder="Enter your New Password" />
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" id="re_enter_new_password" name="re_enter_new_password" placeholder="Re-Enter your New Password"/>
                            </div>

                            
                            <div class="form-group">
                                <button type="submit" id="password_reset" name="password_reset"class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
  </div>

</div> 

<script type="text/javascript">
$(document).ready(function() {

    $('#forget_password_form').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
           password_reset_code: {
                validators: {
                    notEmpty: {
                        message: 'The password reset code is required and can\'t be empty'
                    }
                }
            },
            new_password: {
                validators: {
                    notEmpty: {
                        message: 'The new password is required and can\'t be empty'
                    },
                    identical: {
                        field: 're_enter_new_password',
                        message: 'The new password and its confirm are not the same'
                    }
                }
            },
            re_enter_new_password: {
                validators: {
                    notEmpty: {
                        message: 'The confirm new password is required and can\'t be empty'
                    },
                    identical: {
                        field: 'new_password',
                        message: 'The new password and its confirm are not the same'
                    }
                }
            }
        }
    });
});
</script>


<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>
