<?php $this->placeholder('slider')->captureStart() ?>
<div class="wrapper" style="min-height:500px;">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="alert alert-danger" id="notification">
					Login required !!!, kindly <strong><a id="login" href="javascript:void(0);">Click Here</a></strong> to get into your account.
				</div>
			</div>
			<div class="col-md-3"></div>
	       </div>
	</div>
</div>
  

<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>
