<?php 

  if ( $this->data['method'] == 'GET') {

    ?>
    <div class="panel panel-default login-cnntt">
      <div class="panel-body">
      <div id="preview" class="panel panel-success"></div>
     
       <legend>User Login</legend>

      <form role="form" class="form" action="<?php echo PUBLIC_URI; ?>/users/index/signin/format/html" method="post">

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input id="email" name="email" placeholder="Enter your email" class="form-control" >
          </div>

          <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" id="password" name="password" placeholder="Enter your password" class="form-control" >
          </div>

          <div>
              <label>
                  <input type="checkbox"> Remember Me
              </label>
          </div>

          <button type="submit" id="login" class="btn btn-default btn-primary">Submit</button>

      </form>

      <div>
      <div> <a class="lnk-tfrgt" href="<?php echo PUBLIC_URI; ?>/users/index/password-activation"> Forgot Password? </a> <div>

      <div>
      <a href="javascript:void(0);" class="close sprited" id="close_x">close</a>
      </div>

    </div>

    </div>
    </div>
  <?php
  }

  if ( $this->data['method'] == 'POST') {

      //echo "in post request";
      echo $this->data['data'];

      $status = $this->data['status'];
      $role = $this->data['role'];

      if($status == 'valid' && $role =='0' || $role =='10' ){

  ?>
        <script>
          setTimeout(function() {            
            window.location.href = "<?php echo PUBLIC_URI; ?>/users/dashboard/index";      
          }, 1000);          
        </script>

  <?php

      } else if ($status == 'valid' && $role =='2') {
  ?>
        <script>
          setTimeout(function() {
              window.location.href = "<?php echo PUBLIC_URI; ?>/vendor/dashboard/index";
          }, 1000);         
        </script>  
    <?php

      } else if($status == 'valid' && $role =='10') {
          
      }

  }

?>
