<?php

    if( $this->data['method'] == 'GET') {
  ?>
         <div class="panel panel-default login-cnntt">
            <div class="panel-body">
            <div>
                <h2> Sign up </h2>
            </div>
            <div id="preview" class="panel panel-success"></div>
                        <form id="defaultForm" class="form" action="<?php echo PUBLIC_URI; ?>/users/index/signup/format/html" method="post">
                            <div class="form-group">
                                <input type="text" value="" class="form-control" name="email" placeholder="Enter Email" />
                            </div>

                            <div class="form-group">
                                <input type="password" value="" class="form-control" name="password" placeholder="Enter Password" />
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" name="confirmPassword" value=""  placeholder="Confirm password" />
                            </div>
<!--                           <div class="form-group">
                                <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
                                <label class="control-label" for="checkboxes">Remember Me</label>
                            </div> -->
                            <div class="form-group">
                                <button type="submit"  id="create" class="btn btn-primary">Create Account</button>
                            </div>
                        </form>
                        <a href="javascript:void(0);" class="close sprited" id="close_x">close</a>
                    </div>
</div>
</div>
</div>

  <?php  } 
 
       if($this->data['method'] == 'POST'){
        
         if($this->data['resp']  ==  'success'){
            echo $this->data['data'].'<br><a  class="btn btn-success" href="'.PUBLIC_URI.'/users/index/account-activation">Activate My Account</a>';
         }elseif($this->data['resp']  ==  'error'){
             echo $this->data['data'];

         }
        
      
  
     }
  


 ?>
