<?php $this->placeholder('slider')->captureStart() ?>
<?php   $client_id = '0000000048120AFE';
        $client_secret = 'TWkKv7Nj5PCYEx7dJtR5Yw6PTcM1p-Zm';
        $redirect_uri = 'http://mastersoftwaretechnologies.com/za/public/users/index/msn-contacts';
        $urls_ = 'https://login.live.com/oauth20_authorize.srf?client_id='.$client_id.'&scope=wl.signin%20wl.basic%20wl.emails%20wl.contacts_emails&response_type=code&redirect_uri='.$redirect_uri;
        $UserSession = new Zend_Session_Namespace('UserSession'); 
		 // echo "<pre>"; print_r($this->data['editInfo']);die; 
?>
<form name="userinf" class="form-horizontal form-row-lnk" id="upload_form1" method="post" action="">
         <?php 
		  if(isset($this->message)){
		
			   echo "<div id='notification' class='alert alert-success' style='text-align:center;'>";
				    echo "<span style='color:green;'>$this->message</span>";
			   echo "</div>";
			    
			   ?>
			   
			<script>
		
				setTimeout(function(){
					$(".alert-success").hide();
					//window.location.href = "<?php echo $this->baseUrl(); ?>/users/dashboard;
					<?php header('location:/users/dashboard'); ?>
				}, 2000);
				
			</script>
			
		<?php
		}
	
         ?>
		 
		  <div class="wrapper wrap_bx">
            		<div class="wrap_row">
                		<ul id="nav-tab" class="nav nav-tabs tabs_nav" style="width:100%">
				  	<li class="active"><a class="nav_collect" href="#home" data-toggle="tab"><span class="nav_collect active"></span>New Booking</a></li>
				  	<li><a class="nav_collect2" href="#profile" data-toggle="tab"><span class="nav_collect2"></span>My Profile</a></li>
					<!--<li><a class="nav_collect2" href="<?php echo PUBLIC_URI; ?>/users/dashboard/mywebsite" data-toggle="tab"><span class="nav_collect2"></span>My Website</a></li>-->
				  <!--	<li><a class="nav_collect3" href="#messages" data-toggle="tab"><span class="nav_collect3"></span> My Checklist</a></li>
				  	<li><a class="nav_collect4" href="#settings" data-toggle="tab"><span class="nav_collect4"></span>Find Vendors</a></li>
				 	<li class="add_reg"><a  class="nav_collect5" href="#settings" data-toggle="tab"><span class="nav_collect5"></span> create & add registries</a></li>
				  	<li><a class="nav_collect6" href="#settings" data-toggle="tab"><span class="nav_collect6"></span> travel & destination</a></li> -->
				</ul>
			</div>
		  </div>
		
<div class="wrap_cont tb-bdr-btm">	
   <div class="tab-content">
	<div id="home" class="tab-pane active 123">	
        <div class="wrapper religion-wrapper setinfo first-step active">
				<h1 class="step-heading">Lets get to know you</h1>
				<h2 class="step-sub-heading">You Are ?</h2>
				<div class="blue-select religion">
					<select name="user_group"class="chosen-select metype">
						<option value="">Select An Option</option>
						<option value="Quinceanera">Quinceanera</option>
						<option value="Mom">Mom</option>
						<option value="Dad">Dad</option>
						<option value="Aunt">Aunt</option>
						<option value="Sister">Sister</option>
						<option value="Relative">Relative</option>
						<option value="Event Planner">Event Planner</option>
					</select>
				</div>
				<div class="clear"></div>
				<ul class="back-skip">
					<li><a class="skip" href="javascript:void(0);">Skip</a></li>
                			<li><a class="continue" href="javascript:void(0);">Continue</a></li>
					<li></li>
				</ul>
        </div> 
	<div class="wrapper setinfo religion-wrapper second-step"  style="display:none;">	 
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">Have you set a date ?</h2>
            <!-- div to load calendar-->
            <div id="div3_example"></div>
            
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>

        <div class="wrapper setinfo religion-wrapper third-step usrlg" style="display:none;">
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">Religion ?</h2>
            <div class="blue-select religion userreligion">
                <select class="chosen-select me-religion" name="religion">
                    <option value="">Select Religion</option>
                    <option value="Hindu">Hindu</option>
                    <option value="Christian">Christian</option>
                    <option value="Muslim">Muslim</option>
                </select>
            </div>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>

        <div class="wrapper setinfo religion-wrapper fourth-step" style="display:none;">
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">Will you have a ceremony(mass) ? </h2>
            <ul class="options">
                <li><input type="radio" id="yes" value="1" name="ceremony" /><label for="yes" class="checkbox">Yes</label></li>
                <li><input type="radio" id="no" value="0" name="ceremony" /><label for="no" class="checkbox">No</label></li>
                <li><input type="radio" id="not" value="2" name="ceremony" /><label for="not" class="checkbox">Not Required</label></li>
                <li></li>
            </ul>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>

        <div class="wrapper setinfo religion-wrapper fifth-step" style="display:none;">
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">How many damas will you have ? </h2>
            <div class="blue-select damas">
                <select name="damas" class="chosen-select my-damas">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
		    <option value="6">6</option>
		    <option value="7">7</option>
		    <option value="8">8</option>
		    <option value="9">9</option>
		    <option value="10">10</option>
		    <option value="11">11</option>
		    <option value="12">12</option>
		    <option value="13">13</option>
		    <option value="14">14</option>
		    <option value="15">15</option>
                </select>
            </div>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>

        <div class="wrapper setinfo religion-wrapper sixth-step" style="display:none;">
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">How many chambelanes will you have ? </h2>
            <div class="blue-select damas">
                <select name="chambelanes" class="chosen-select chambelanes">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
		    <option value="6">6</option>
		    <option value="7">7</option>
		    <option value="8">8</option>
		    <option value="9">9</option>
		    <option value="10">10</option>
		    <option value="11">11</option>
		    <option value="12">12</option>
		    <option value="13">13</option>
		    <option value="14">14</option>
		    <option value="15">15</option>
                </select>
            </div>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>


        <div class="wrapper setinfo religion-wrapper eighth-step" style="display:none;">
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">Type of quince ?</h2>
            <div class="blue-select religion">
                <select name="quince" class="chosen-select quince-type">
                    <option value="Traditional">Traditional</option>
                    <option value="Modern">Modern</option>
                </select>
            </div>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>

        <div class="wrapper setinfo religion-wrapper seventh-step" style="display:none;">
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">What are colors for your theme?</h2>	
            <div style='margin:20px auto;width:400px;'><label style='font-size:16px;margin-right:10px'>Select Your Theme Color:</label><input class="color {valueElement:'myValue1'}" style="border: 1px solid #cccccc;width:30px;height: 30px;"> <input id="myValue1" type='hidden' name='themecolor1'></div>
	    <div style='margin:20px auto;width:400px;'><label style='font-size:16px;margin-right:10px'>Select Your Theme Color:</label><input class="color {valueElement:'myValue2'}" style="border: 1px solid #cccccc;width:30px;height: 30px;"> <input id="myValue2" type='hidden' name='themecolor2'></div>
            <div class="clear"></div>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>
	      <div class="wrapper setinfo religion-wrapper eigth-step" style="display:none;">
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">What is your dress color?</h2>
            <div style='margin:20px auto;width:400px;'><label style='font-size:16px;margin-right:10px'>Select Your Dress Color:</label><input class="color {valueElement:'myValue3'}" style="border: 1px solid #cccccc;width:30px;height: 30px;"> <input id="myValue3" type='hidden' name='dresscolor1'></div>
	    <div style='margin:20px auto;width:400px;'><label style='font-size:16px;margin-right:10px'>Select Your Dress Color:</label><input class="color {valueElement:'myValue4'}" style="border: 1px solid #cccccc;width:30px;height: 30px;"> <input id="myValue4" type='hidden' name='dresscolor2'></div>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>
        <div class="wrapper setinfo religion-wrapper ninth-step" style="display:none;">
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">How many guests will attend ? </h2>
		<div class="money">
			<input type="text" name="guests" value="<?php if(isset( $this->data['editInfo'][0]) ){ echo $this->data['editInfo'][0]['guests']; } ?>" id="guests" placeholder="" />
	        </div>
            <div class="clear"></div>
             <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>

        <div class="wrapper setinfo religion-wrapper tenth-step" style="display:none;">
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">What is your Budget for your Event ?</h2>
		<div class="money">
			<label>$</label>
			<input type="text" style='width:250px' id="currency" name="spentmoney" value="<?php if(isset( $this->data['editInfo'][0]) ){ echo $this->data['editInfo'][0]['event_money']; } ?>"  placeholder="0.00" />
		</div>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>

        <div class="wrapper setinfo religion-wrapper eleventh-step" style="display:none;">
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">How much have you saved so far ? </h2>
            <div class="money">
                <label>$<label>
                <input name="moneysofor" style='width:250px' type="text" id="currency1" value="<?php if(isset( $this->data['editInfo'][0]) ){ echo $this->data['editInfo'][0]['saved_so_for']; } ?>" id="moneysofor" placeholder="0.00" />
            </div>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>
<!--     
        <div class="wrapper setinfo religion-wrapper twelve-step"  style="display:none;">
        	<h1 class="step-heading">Lets get to know you</h1>
        	<h2 class="step-sub-heading">Would you like to create a savings plan ? </h2>
        	<div class="blue-select religion">
        		<select name="create_plan" class="chosen-select saving-plan" id='addamt' onchange='addamount();'>
        			<option value="">Select</option>
        			<option value="1" >Yes</option>
        			<option value="2">No</option>
        		</select>
        	</div>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
	        <li><a class="skip"  href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>-->
	
     <!--   <div class="wrapper setinfo religion-wrapper thirteen-step" id='thirteen-step' style="display:none;">
        	<h1 class="step-heading">Lets get to know you</h1>
        	<h2 class="step-sub-heading">Enter amount you want to save per month? </h2>
        	<div class="money">
                <label>$<label>
                <input name="moneysofor" type="text" value="<?php //if(isset( $this->data['editInfo'][0]) ){ echo $this->data['editInfo'][0]['saved_so_for']; } ?>" id="moneysofor" placeholder="1" />
            </div>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip"  href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>-->
        <div class="wrapper setinfo religion-wrapper fourteen-step"  style="display:none;">
            <span id="changeaction"></span>
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">Import Contacts ? </h2>
            <ul class="options">
                <li><input type="checkbox" id="gmail" value="1" name="contactss[]" onchange="return popitup('https://accounts.google.com/o/oauth2/auth?client_id=830398842315-pq4jo2monq8bo4vi1ium6ajd48h97eac.apps.googleusercontent.com&redirect_uri=http://mastersoftwaretechnologies.com/za/public/users/index/gmail-contacts&scope=https://www.google.com/m8/feeds/&response_type=code')" /><label for="gmail" class="checkbox">Gmail</label>
                    
                </li>
                <li><input type="checkbox" id="fb" value="2" name="contactss[]" onchange="return popitupfym('http://mastersoftwaretechnologies.com/za/library/cloud/step_1_start.php', '<?php echo $UserSession->userId; ?>','facebook')" /><label for="fb" class="checkbox">Facebook</label>
                
                </li>
                <li><input type="checkbox" id="yahoo" value="3" name="contactss[]" onchange="return popitupfym1('http://mastersoftwaretechnologies.com/za/library/cloud/step_1_start.php', '<?php echo $UserSession->userId; ?>', 'yahoo')" /><label for="yahoo" class="checkbox">Yahoo</label>
                  
                </li>
                <li><input type="checkbox" id="msn" value="4" name="contactss[]" onchange="return popitup1('<?php echo $urls_ ; ?>')" /><label for="msn" class="checkbox">Msn</label>
                </li>        
                <li></li>
            </ul>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><a class="skip" href="javascript:void(0);">Skip</a></li>
                <li><a class="continue" href="javascript:void(0);">Continue</a></li>
                <li></li>
            </ul>
        </div>
        <div class="wrapper setinfo religion-wrapper fifteen-step" style="display:none;">
            <h1 class="step-heading">Lets get to know you</h1>
            <h2 class="step-sub-heading">Would you like to add another user to the account ? </h2>
            <ul class="options options2">
                <li><input type="radio" id="yes2" <?php if( isset( $this->data['editInfo'][0] ) && $this->data['editInfo'][0]['another_user_account'] == 1 ) { echo "checked" ; } ?> name="anotheruser" value="1" /><label for="yes2" class="checkbox">Yes</label>
                <div class="show-msg" style="color:green;"></div>
		  <?php if( !isset( $this->data['editInfo'][0] ) ) { ?>
                    <div class="form_import">
                        <input type="text" id="anotheruser" placeholder="Email" />
                        <span class="email_error" style="display:none;color:red;">Enter email</span>
                        <span class="email_invalid" style="display:none;color:red;">Enter valid email</span>
                        <input id="anotherpassword" type="password" placeholder="Password" />
                        <span class="pass_error" style="display:none;color:red;">Enter password</span>
                        <input id="cnfanotherpassword" type="password" placeholder="Re-enter Password" />
                        <span class="cnfpass_error" style="display:none;color:red;">Confirm password</span>
                        <span class="pass_invalid" style="display:none;color:red;">Please check your password.</span>
                        <input id="anotheraccount" type="button" value="Add Account" />
                    </div>
			<?php } ?>
                </li>
                <li><input type="radio" id="no2" <?php if( isset( $this->data['editInfo'][0] ) && $this->data['editInfo'][0]['another_user_account'] == 0 ) { echo "checked" ; } ?> name="anotheruser" value="0" /><label for="no2" class="checkbox">No</label></li>
                <li></li>
            </ul>
            <div class="clear"></div>
            <ul class="back-skip">
                <li><a class="back" href="javascript:void(0);">Back</a></li>
                <li><button type="submit" onClick="return Actioncheck();" class="btn right_btn">Create Event</button></li>
                <li></li>
            </ul>
            <input type="hidden" name="usetdate" value="" id="userdate" />
            
        </div>
  <!-- Progress Bar
	<div class="wrapper">
	   <div class="new_progress_bar_container">
		<div class="new_progress_bar"><span>20%</span></div>
	   </div>
	</div> -->
 <!-- Progress Bar ends-->
	</div><!-- home ends -->
		<div class="tab-pane" id="profile">
		  <section class="bio"><!-- @user profile start -->
			   <div class="profile-pic-place">
				    <img alt="Profile Image not set !!!" src="<?php if($this->data['media'][0]['type']) {  ?> <?php echo PUBLIC_URI; ?>/media/<?php echo $this->data['data'][0]->id; ?>/user-avatar_<?php echo $this->data['data'][0]->id; ?>_0_250x250<?php echo $this->data['media'][0]['type']; ?> <?php } else {  } ?>">
				    <ul class="social-m3">
					     <li><a href="#"><img alt="" src="images/fb3.png"></a></li>
					     <li><a href="#"><img alt="" src="images/twitter3.png"></a></li>
					     <li><a href="#"><img alt="" src="images/in3.png"></a></li>
				    </ul>
			   </div>
				    <div class="general-info usr-info-b">
					     <h2 class="info-heading"><?php echo $this->data['data'][0]->email; ?></h2>
					     <p class="info-text">Link Widget: <a href="<?php echo PUBLIC_URI; ?>/users/dashboard">View Complete Profile</a>&nbsp;&nbsp;<br><br>
						      <?php if($this->data['data'][0]->bio) { echo $this->data['data'][0]->bio; } else { echo "User has not set his biography yet !!!"; } ?>
					     </p>
				    </div>
				    <div class="bio-info">
					     <h2 class="info-heading">Bio <span>Personal Information</span></h2>
					     <ul class="personal-info">
						      <li><img alt="" src="images/ico1.jpg"><span><?php echo $this->data['data'][0]->first_name; ?>&nbsp;&nbsp;<?php echo $this->data['data'][0]->last_name; ?></span></li>
						      <li><img alt="" src="images/ico2.jpg">Gender: <a href="#"><?php echo $this->data['data'][0]->gender; ?></a></li>
						      <li><img alt="" src="images/ico3.jpg">Age: <a href="#"><?php echo $this->data['data'][0]->age; ?></a></li>
						      <li><img alt="" src="images/ico4.jpg">Facebook ID: <a href="#"><?php echo $this->data['data'][0]->fb_name; ?></a></li>
						      <li><img alt="" src="images/ico4.jpg">Twitter ID: <a href="#"><?php echo $this->data['data'][0]->tw_name; ?></a></li>
						      <li><img alt="" src="images/ico4.jpg">Skype: <a href="#"><?php echo $this->data['data'][0]->sky_name; ?></a></li>
						      <li><img alt="" src="images/ico4.jpg">Google Plus: <a href="#"><?php echo $this->data['data'][0]->gplus_name; ?></a></li>
					     </ul>
				    </div>
		  </section>
		</div>
		<!-- @user profile ends -->
		
		<div class="tab-pane" id="messages">
		   <h1 class="page-title coming-soon">Coming Soon</h1>
		</div>
		
		<div class="tab-pane" id="settings">
		   <h1 class="page-title coming-soon">Coming Soon</h1>
		</div>	
	</div>
    </div>
</form>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jscolor/jscolor.js"></script>

<script>
  $(function() {
    $('#currency').maskMoney();
     $('#currency1').maskMoney();
  })
</script>
 <!--  Open new window for gmail contacts. -->
<script type="text/javascript">
    function popitup(url) {

        if($("#gmail").is(':checked')){
            newwindow = window.open(url,'name','scrollbars=1,height=600,width=600');
            if (window.focus) {newwindow.focus()}
            return false;
        }
    }
    function popitup1(url) {
        if($("#msn").is(':checked')){
            newwindow = window.open(url,'name','scrollbars=1,height=600,width=600');
            if (window.focus) {newwindow.focus()}
            return false;            
        }
    }
   function popitupfym(url,ses,srvc){
        if($("#fb").is(':checked')){
            newwindow = window.open(url+'?ses='+ ses + '&srvc='+ srvc,'name','scrollbars=1,height=600,width=600');
            if (window.focus) { newwindow.focus() }
            return false;
        }   
   }

    function popitupfym1(url,ses,srvc){
        if($("#yahoo").is(':checked')) {
            newwindow = window.open(url+'?ses='+ ses + '&srvc='+ srvc,'name','scrollbars=1,height=600,width=600');
            if (window.focus) { newwindow.focus() }
            return false;
        } 
    }
    // last validation check for last ui form.
    function Actioncheck(){
        if(!$("input[name='anotheruser']").is(':checked')){
            alert("Please select an option.");
            return false;
        }
    }

</script>
<?php 

	// When user edit his event. So him/her last sdded values.
	if(isset( $this->data['editInfo'][0]) ){ 
		$wedding_dress = explode(',' , $this->data['editInfo'][0]['wedding_dress']);	
		$wedding_theme = explode(',' , $this->data['editInfo'][0]['wedding_theme']);
		$finalColors = $wedding_theme[0].','.$wedding_dress[0].','.$wedding_theme[1].','.$wedding_dress[1].','.$wedding_theme[2];
		$this->data['editInfo'][0]['imported_contacts_type']; 
		
		 ?> 
		<script type="text/javascript">
			// Initializing the calendar 
			var Urdate = "<?php echo $this->data['editInfo'][0]['user_date']; ?>";
			if( Urdate ) { var dd = Urdate.split('-');console.log("Urdate" , dd); }else{ }
			g_globalObject = new JsDatePick({
			    useMode:1,
			    isStripped:true,
			    target:"div3_example",
			    selectedDate:{                
				day: dd[0],                     
				month: dd[1],
				year: dd[2]
			    }
			/*,
			    yearsRange:[1978,2020],
			    limitToToday:false,
			    cellColorScheme:"beige",
			    dateFormat:"%m-%d-%Y",
			    imgPath:"img/",
			    weekStartDay:1*/
			});
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();
			var currentDate = dd +"-"+ mm + "-"+ yyyy;
			$("#userdate").val(currentDate);
			g_globalObject.setOnSelectedDelegate(function(){
			    var obj = g_globalObject.getSelectedDay();
			    var userDate = obj.day + "-" + obj.month + "-" + obj.year;
			    $("#userdate").val(userDate);
			   // document.getElementById("div3_example_result").innerHTML = obj.day + "/" + obj.month + "/" + obj.year;
			});
			
			$('.metype').val("<?php echo $this->data['editInfo'][0]['user_group']; ?>").trigger('chosen:updated');
			$('.me-religion').val("<?php echo $this->data['editInfo'][0]['religion']; ?>").trigger('chosen:updated');
			
			$('input[name=ceremony]').each(function() {
			   if( $(this).val() == "<?php echo  $this->data['editInfo'][0]['ceremony']; ?>" ) {
				$(this).attr('checked', true);
			  }
			});
			$('.my-damas').val("<?php echo $this->data['editInfo'][0]['damas']; ?>").trigger('chosen:updated');
			$('.chambelanes').val("<?php echo $this->data['editInfo'][0]['chambelanes']; ?>").trigger('chosen:updated');
		//	jQuery(document).ready(function($){
		//	 
		//	 var len = $("#pickset :input").length;
		//	 var ll = "<?php echo $finalColors ; ?>";
		//	 var editColors = ll.split(",");
		//	
		//     	 var inputColors = ['picker-1-0-color-cont', 'picker-1-1-color-cont'];
		//   		 for (var ix = 0; ix < len; ix++) {
		//		
		//       			 $("input[name='"+inputColors[ix]+"']").val(editColors[ix]);
		//   	        }
		//	});
		//	jQuery(document).ready(function($){
		//	 
		//	 var len = $("#pickset1 :input").length;
		//	 var ll = "<?php echo $finalColors ; ?>";
		//	 var editColors = ll.split(",");
		//	
		//     	 var inputColors = ['picker1-1-0-color-cont', 'picker1-1-1-color-cont'];
		//   		 for (var ix = 0; ix < len; ix++) {
		//		
		//       			 $("input[name='"+inputColors[ix]+"']").val(editColors[ix]);
		//   	        }
		//	});

			$('.quince-type').val("<?php echo $this->data['editInfo'][0]['quince_type']; ?>").trigger('chosen:updated');
			$('.saving-plan').val("<?php echo $this->data['editInfo'][0]['create_plan']; ?>").trigger('chosen:updated');
		        var imported = "<?php echo $this->data['editInfo'][0]['imported_contacts_type'] ?>";		
			if(imported) {
				 var vals = imported.split(",");
			
				$("input[name='contactss[]']").each(function(index, value) {
					for (var ix = 0; ix < vals.length; ix++) {
						if( vals[ix]  == $(this).val() )
		       					$(this).attr('checked', true);	
		   	        	}	
								
				});
			}
		</script>	

	
<?php	}else{

?>
	<script>
// Initializing the calendar

	    window.onload = function(){     
		
		g_globalObject = new JsDatePick({
		    useMode:1,
		    isStripped:true,
		    target:"div3_example",
		   /* selectedDate:{                
		        day:5,                     
		        month:8,
		        year:2012
		    }
		,
		    yearsRange:[1978,2020],
		    limitToToday:false,
		    cellColorScheme:"beige",
		    dateFormat:"%m-%d-%Y",
		    imgPath:"img/",
		    weekStartDay:1*/
		});
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();
		var currentDate = dd +"-"+ mm + "-"+ yyyy;
		$("#userdate").val(currentDate);
		g_globalObject.setOnSelectedDelegate(function(){
		    var obj = g_globalObject.getSelectedDay();
		    var userDate = obj.day + "-" + obj.month + "-" + obj.year;
		    $("#userdate").val(userDate);
		   // document.getElementById("div3_example_result").innerHTML = obj.day + "/" + obj.month + "/" + obj.year;
		});
	    }
	  

	</script>
<!--	<script>function addamount(){
		
		if(document.getElementById('addamt').value==1)
		{
	        $( "#twelve-step" ).removeClass("active");
		$( "#thirteen-step" ).addClass( "active" );		
		}
		if(document.getElementById('addamt').value==2)
		{
	        $( "#twelve-step" ).removeClass("active");
		$( "#thirteen-step" ).removeClass("active");
		$( "#fourteen-step" ).addClass( "active" );			
		}
		
		
		}
		</script>-->
<?php 
}	

?>
<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

