<?php $this->placeholder('userstaticfiles')->captureStart() ?>
<?php $this->placeholder('userstaticfiles')->captureEnd() ?>
<?php $this->placeholder('slider')->captureStart() ?>
<?php 
     $UserSession = new Zend_Session_Namespace('UserSession');
     $db=Zend_Registry::get("db");
     $category=$db->fetchAll('select * from vendor_category');
     $graphic = $db->fetchAll('select * from media where section=? order by id DESC', array('user-avatar'), 2);
     // get the list of all parameters in query string
	$params = Zend_Controller_Front::getInstance()->getRequest()->getParams(); 
    $favorite = $db->fetchAll('select favorite_id from favorites where user_id=?', array($UserSession->userId));
    $favrt = array();
    //print_r($favorite);
    if($favorite){
	foreach($favorite as $key => $value){
	    array_push($favrt,$value->favorite_id);
	}
    } //print_r($favrt);die;
    $countries = $db->fetchAll('select * from countries order by country_id DESC', array(), 2);
    $cities = $db->fetchAll('select * from cities order by cid DESC', array(), 2);
?>
	    <div class="container_24">
        	<div class="" style="min-height:500px;">
		<div class="open_jobs">
			<div class="List_of_all_open_jobs row">
			    <!-- preview division -->
				<div class="col-md-3">
					
						    <h1 class="head">Category </h1>
						    <div style="min-height:327px;" class="description mCustomScrollbar _mCS_1"><div style="position:relative; height:100%; overflow:hidden; max-width:100%;" id="mCSB_1" class="mCustomScrollBox mCS-light"><div style="position:relative; top:0;" class="mCSB_container">
						    <?php $showcount=0; foreach($category as $catlist){
						    if($params['cat'] == $catlist->id){
							$selected = 'active' ;
							$style = 'background: none repeat scroll 0 0 #e0e0e0; color: #000000;';
						    }
						    else{
							$selected = '';
							$style = '';
						    }?>
						    <div class="checkbox">
								<a class="<?php echo $selected ; ?>" style="padding: 5px 8px; display: block;<?php echo $style ;?>

" href="<?php echo $this->baseUrl(); ?>/pages/index/vendorcat/cat/<?php echo $catlist->id;?>"><?php echo $catlist->category_name;?></a>
									</div>
						    	<?php $showcount++; }	?>	
									</div>
						    <div style="position: absolute; display: block;" class="mCSB_scrollTools">
							</div></div></div>
						<!--      <ul >
					    
							
						
								    			    
					    </ul>!-->
						
				</div>
				<div class="col-md-9 blog-hd">
					<div class='sucs-ms-srch' style="display: none;"></div>
                                        <?php
					
					if( $this->data['content'] ) {; ?>
				
					<div class="pageContent">                                                  
						
						<?php
							if($this->data['content']=='No data') {
								echo "<div id='notification' class='alert alert-danger'>No vendor found in this category</div>";
							}
							$countVendor = 1 ;
							foreach($this->data['content'] as $catlist){
								foreach( $graphic as $g => $i ) {
									 if($i['owner'] == $catlist->user_id) {
											    
							    			$src = PUBLIC_URI."/media/".$catlist->user_id."/user-avatar_".$catlist->user_id."_0_250x250".$i['type'];
											    
									} else {
							    			$src = PUBLIC_URI."/images/people_s.png";
									}
									
				    				}
						    
						?>
						    
					
						   <div class="pro-rpt-spc">
					<div class="profile-pic">
					    <div class="table">
						<span>
						    <img alt="<?php echo $catlist->company_name; ?>" src="<?php echo $src; ?>">
						</span>
					    </div>
					    <div style='float:left;margin-left:10px;margin-right:10px;'>Rating:</div><div class="star_content clearfix" style='float:left'>
											    <?php 
											    $db_rating = $catlist->rating;
											
											    for($i=1;$i<=5;$i++){
											    //echo "<li><a href='javascript:;void(0);'></a></li>";
											    ?>
												    <div class="star <?php if($i  <= $db_rating) { ?> star_on <?php } ?>">
												    </div>
											    <?php }  ?>
												   
												</div>
					    <ul class="star">
                                                    <a href="javascript:void(0);"><img alt="" src="images/star.png"></a><a href="javascript:void(0);"><img alt="" src="images/star.png"></a><a href="javascript:void(0);"><img alt="" src="images/star.png"></a><a href="javascript:void(0);"><img alt="" src="images/star.png"></a>							</ul>
					</div>
									    <div class="vendor-name">
										    <p class="vendor-title">Company:  <?php echo $catlist->company_name ;?> </p>
										    <div class="description mCustomScrollbar _mCS_2"><div style="position:relative; height:100%; overflow:hidden; max-width:100%;" id="mCSB_2" class="mCustomScrollBox mCS-light"><div style="position:relative; top:0;" class="mCSB_container mCS_no_scrollbar">
											    <p>Address: <?php echo $catlist->address ;?><br>
											    City: <?php echo $catlist->city ;?><br>
											    Zipcode :<?php echo $catlist->zipcode ;?><br>
											    Phone: <?php echo $catlist->phone ;?><br>
											    Fax: <?php echo $catlist->fax ;?><br>
											    </p>
										    </div><div style="position: absolute; display: none;" class="mCSB_scrollTools"><div class="mCSB_draggerContainer"><div oncontextmenu="return false;" style="position: absolute; top: 0px;" class="mCSB_dragger"><div style="position:relative;" class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
									    </div>
									    <div class="about">
										    <p class="vendor-title">About Us</p>
										    <div class="description mCustomScrollbar _mCS_3"><div style="position:relative; height:100%; overflow:hidden; max-width:100%;" id="mCSB_3" class="mCustomScrollBox mCS-light"><div style="position:relative; top:0;" class="mCSB_container mCS_no_scrollbar">
											    <p><?php echo $catlist->about ;?><br></p>
										    </div><div style="position: absolute; display: none;" class="mCSB_scrollTools"><div class="mCSB_draggerContainer"><div oncontextmenu="return false;" style="position: absolute; top: 0px;" class="mCSB_dragger"><div style="position:relative;" class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
									    </div>
									<div class="">
                                                                                    <div id="target" class="rate-model"></div>
                                                                                    <ul class="nav nav-pills">
                                                                                        <li class=""><a href="<?php echo $this->baseUrl(); ?>/vendor/vendor-portfolio?id=<?php (isset($catlist->user_id )) ? print($catlist->user_id) : ''; ?>">Portfolio</a></li>
                                                                                        <?php if( isset($UserSession->userId) ) {; ?>
                                                                                               <li class=""><a href="javascript:void(0);" data-key="call_<?php echo $countVendor; ?>" class="callback_quote" onclick=''>Request Call Back / Quote </a></li>
											    <li class=""><a href="javascript:void(0);" data-key="call_<?php echo $countVendor; ?>" class="request_appointment">Request Appointment</a></li>
                                                                                            <li class="<?php if($favrt){$key  = array_search( $catlist->user_id, $favrt ); if ( false !== $key ) { echo "favourite-icon"; } else { echo ""; } }?>"><a href="javascript:void(0);" data-key="call_<?php echo $countVendor; ?>" class="request_favorite">Add to favorite</a></li>
                                                                                            <li class=""><a href="javascript:void(0);" data-key="call_<?php echo $countVendor; ?>" id="like_<?php echo $countVendor; ?>" class="request_like"><?php if($catlist->like) { echo "Like [ ". $catlist->like." ]"; }else{ echo "Like" ; } ?></a></li>                                                                                     
                                                                                        <?php } else { ?>
                                                                                            <li class=""><a id="login" href="javascript:void(0);">Request Call Back / Quote </a></li>
											    <li class=""><a id="login" href="javascript:void(0);">Request Appointment</a></li>
                                                                                            <li class=""><a id="login" href="javascript:void(0);">Add to favorite</a></li>
                                                                                            <li class=""><a id="login" href="javascript:void(0);">Like [ ]</a></li>
                                                                                        <?php } ?>
                                                                                    </ul>
                                                                        </div>									    
									  
									    


									    <div class="clear"></div>
									</div>
						    <div class="slide-rqst-cl" data-check= "<?php echo $countVendor; ?>" id="call_<?php echo $countVendor; ?>" style="display: none;">
									    <a href="javascript:void(0);" class="close-sld-cntn"></a>
									    <form name="quote" id="quoteform<?php echo $countVendor; ?>" class="quote-form" action="<?php $this->baseUrl(); ?>/za/public/users/operations/callbackquote/format/html" method="post">
									    <div class="s-rqs-ct">
										    								    
										<div class="rqst-cl-bk">
										    <div class="cl-bk-rd">
											    <input type="radio" name="radiog_dark" value="quote"  id="radio4_<?php echo $countVendor; ?>" class="css-checkbox" checked="true" /><label for="radio4_<?php echo $countVendor; ?>" class="css-label radGroup2">Request a call back / Quote</label>				
										    </div>
										    <div class="cl-bk-ip cell" id="cellno<?php echo $countVendor; ?>">
											    <input type="text" required class="celno" name="cell_no" placeholder="Enter your cell # here" />
										    </div>
										</div>
										<div class="rqst-cl-bk">
										    <div class="cl-bk-rd">
											    <input type="radio" name="radiog_dark" value="apoint"  id="radio5_<?php echo $countVendor; ?>" class="css-checkbox"/><label for="radio5_<?php echo $countVendor; ?>" class="css-label radGroup2">Request an appointment</label>		
										    </div>
										    <div class="cl-bk-ip rqstipt-width" id="rqstipt<?php echo $countVendor; ?>">
											<input type="text" class="stepExample1" name="start_time" placeholder="Enter start time" />
											<input type="text" class="stepExample2" name="end_time" placeholder="Enter end time" />
											<input type="text" class="appointmentDate" name="appointmentDate" readonly='true' placeholder="Select date" /><input type="hidden" name="date-com" value="">
										    </div>
										</div>
									    </div>
									    <div class="rqst-evnt-info">
										    <h4 class="ent-info-hd">Event Info</h4>
										<div class="rqst-ent-rpt">
										    <label>Event Date</label>
										    <input type="text"  required class="hasDatePickerWithCal" name="event_date" readonly='true' value=""/>
										</div>
										<div class="rqst-ent-rpt">
										    <label>Guest</label>
										    <input type="text" required name="guests"/>
										</div>
										 <div class="rqst-ent-rpt">
										    <label>Location</label>
										    <input type="text"  required class="input-large city " value="San Diego, California, United States" name="location" id="city" placeholder="City, State, Country" style="width: 250px" />
										</div>
										 <div class="rqst-ent-rpt">
										<textarea name="comments" required ></textarea>
										</div>
										<input type="hidden" name="vendor_member" value="<?php echo $catlist->user_id ; ?>">
										<div class="rqst-btn">
										    <button type="submit" class="btn btn-primary form-quote" >Send  Request</button>
										</div>
									    </div>
									    </form>
									</div>
					
							 <?php $countVendor++; } } else { ?>
                                                    
                                                        No data!!@
                                                    
                                                    <?php } ?>						
					</div>
				</div>
				
				
                        </div>
	       </div>
    </div>
    	</div>
    

<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl().'/js/jeoquery.js';?>"></script> 
  <script>
            jQuery(function ($){
                jeoquery.defaultData.userName = 'tompi';
                $(".city").jeoCityAutoComplete({callback: function(city) { if (console) console.log(city);}});
	
	        prettyPrint();
            });
    </script>
  
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js"></script>
<script src="<?php echo $this->baseUrl().'/js/general/operations.js'; ?>" type="text/javascript" ></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>

    
      
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jquery-ui.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jeoquery.css" />  
 
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
