<?php

	if( $this->data['method'] == "GET" ) {

		if( $this->data['data'] ) {
			?>
				<img src="<?php echo PUBLIC_URI."/media/".$this->data['data'][0]['owner']."/user-avatar_".$this->data['data'][0]['owner']."_0_250x250".$this->data['data'][0]['type'].'?'.mt_rand(); ?>" alt="User image">
			<?php
		} else {
            		echo "error";
		}
	}

	if( $this->data['method']=="POST" ) {
		
		if( $this->data['data'] ) {
			
			?>			
				<div class="alert alert-success" id="notification">
					<a href="javascript:void(0);" user="<?php echo $this->data['user']; ?>" type="<?php echo $this->data['type']; ?>" id="split_image" data="<?php echo $this->data['data']; ?>">Image has been uploaded successfully !!!</a>

				</div>
			<?php			
			list($user, $image) = explode("___", $this->data['data']);
		
			if(unlink($image) ) {				
				//echo "Image unlinked";	
			} else {
				//echo "Image not unlinked";
			}
			
		} else {
			
			?>
		
				<div class="alert alert-danger" id="notification">
					<p>Oops, No image data received</p>
				</div>
			
			<?php
			
		}
		
		
	}

?>

