<?php $this->placeholder('content')->captureEnd() ?>
<h4 class="innerAll margin-none border-bottom text-center"><i class="fa fa-lock"></i> Login to your Account</h4>
<div class="login spacing-x2">
	<div class="placeholder text-center"><i class="fa fa-lock"></i></div>
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-default">
			<div class="panel-body innerAll">
		  		<form role="form" action="" method="POST">
		  	  		<div class="form-group">
			    		<label for="exampleInputEmail1">Email address</label>
		    			<input type="email" required class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
			  		</div>
			  		<div class="form-group">
			    		<label for="exampleInputPassword1">Password</label>
			    		<input type="password" required class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
			  		</div>
			  		<button type="submit" class="btn btn-primary btn-block">Login</button>
		  			<div class="checkbox">
			    		<label>
			      			<input type="checkbox"> Remember my details
			    		</label>
			  		</div>
				</form>
		  	</div>
		</div>
	</div>
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<a href="resetauth" class="btn btn-info">Forgot password? <i class="fa fa-pencil"></i> </a>
	</div>
</div>
<?php $this->placeholder('content')->captureEnd() ?>