<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />
	<h1 class="bg-white content-heading border-bottom">Messages</h1>
	<div class="innerAll spacing-x2">
		<!-- Widget -->
		<div class="widget widget-tabs widget-tabs-gray border-bottom-none">
	
			<!-- Widget heading -->
			<div class="widget-head">
				<div class="widget-head">
					<h4 class="heading" style="color:#fff;">Conversation </h4>
				</div>
			</div>
			<!-- // Widget heading END -->
	
			<div class="widget-body">
				<div class="tab-content">
				<style>
				.rpt-msg-sp
				{
					margin-bottom: 10px !important;
				}
				.msg-rpt
				{
					width: 100%;
					display: inline-block;
				}
				.msg-rpt .col-md-4
				{
					padding-left: 0px;
				}
				.msg-inr-scrl
				{
					list-style: none;
					max-height:330px;
					overflow-y: auto;
				}
				
				</style>
					<!-- Tab content -->
					<div id="account-details">
						<!-- Row -->
						<div class="row">
							<article class="col-md-12">
							<div class="msg-inr-scrl">
							<ul class="msg-scrl">
							<?php   // echo "<pre>";
								// print_r($this->data['messages']);die;
								$request = Zend_Controller_Front::getInstance()->getRequest();
								$params = $request->getParams();
							    if( isset($this->data['messages'][0]) ) {
								foreach($this->data['messages'] as $data => $values ) {                
								    ?>
									
									<li id="<?php echo $values['id']; ?>" class="msg-rpt rpt-msg-sp">
									    <div class="col-md-4">
										<span class="time">[<?php echo $time = date("Y-m-d h:i:s A",strtotime($values['date']));?>] <b><?php if($values['first_name']) { echo $values['first_name'].' '. $values['last_name'];  }else{ echo $values['email']; } ?>: </b></span>
									    </div>
									    <div class="col-md-7">
										<span class="message"><?php echo $values['message']; ?></span>
									    </div>
								<?php if( $sess->user == $values['by_from'] ) { ?>	    
									    <div class="col-md-1">
										<span class="message"><a id="removeMessage" data-id="<?php echo $values['id'] ;?>" href="javascript:void(0);">X</a></span>
									    </div>
								<?php } ?>
									</li>
									
									
								    <?php
								    
								}
								?></ul>
							</div>
								    <br />
								    <form action="" enctype="multipart/form-data" method="POST">                            
									<textarea name="message" required="true" class="form-control" placeholder="Please reply here!"></textarea>
									<br />
									<input id="form-submit" type="submit" class="btn btn-primary" value="Reply Back">
									<input type="hidden" name="sent_to" value="<?php echo $params['to'] ;?>">
									<input type="hidden" name="conv_id" value="<?php echo $params['id'] ;?>">
									<input type="hidden" name="by_from" value="<?php echo $sess->user; ?>">
								    </form>
								<?php
							    } else {
								
								echo "No Messages found in this conversation !!!";
							    }
							
							?>
							
							
							</article>
						
							
						</div>
				
					</div>
					<!-- // Tab content END -->
							
				</div>
			</div>
			
	<!-- // Widget END -->	
<?php $this->placeholder('content')->captureEnd() ?>