<?php $this->placeholder('content')->captureStart() ?>
<?php
	$sess = new Zend_Session_Namespace('Default');
	$db=Zend_Registry::get("db");
	$pages = $db->fetchAll("select * from pages where id=?", array($this->data[0]['post_parent']), 2);

?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />
<h1 class="bg-white content-heading border-bottom">Pages</h1>
<div class="bg-white innerAll border-bottom">
	<ul class="menubar">
		<li><a href="<?php echo $this->baseUrl(); ?>/admin">Dashboard</a></li>
		<li><a href="#"><span class="badge badge-primary pull-right"><--</span> Back</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/admin/pages">View Pages</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="innerAll spacing-x2">

	<style>
		.sucs-sent-msg
		{
			background: #9DC209;
			left: 50%;
			color: #fff;
			margin: 0 auto 0 -200px;
			min-width: 400px;
			padding:5px 10px;
			position: fixed;
			text-align: center;
			font-weight: bold;
			top: 54px;
		}
	</style>
	<!-- Widget -->
	<?php if( $this->data['method'] == 'POST' ) {?>
			<span class="sucs-sent-msg">Page updated successfully.</span>
			<script>
				setTimeout(function(){
					$(".sucs-sent-msg").hide();
					window.location.href = "<?php echo $this->baseUrl(); ?>/admin/pages";
				}, 3000);
			</script>				
		<?php }	?>

<div class="widget widget-tabs widget-tabs-gray border-bottom-none">
	<!-- Widget heading -->
	<div class="widget-head">
		<ul>
			<li class="active"><a class="glyphicons edit" href="#account-details" data-toggle="tab"><i></i>Pages</a></li>
		</ul>
	</div>
	<!-- // Widget heading END -->	
	<div class="widget-body">
			<div class="tab-content">			
				<!-- Tab content -->
				<div class="tab-pane active" id="account-details">
					<form name="" id="account-details" class="form-horizontal" action="" method="POST">
					<input name="post_id" type="hidden" value="<?php echo $this->data[0]['ID']; ?>" id="" />						<!-- Row -->
						<div class="row">
							<!-- Column -->
							<div class="col-md-6">						
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Page Title</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="post_title" value="<?php echo $this->data[0]['post_title']; ?>" class="form-control" placeholder="Enter your page title !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Page title is mandatory"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->							
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Meta Title</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="meta_title" value="<?php echo $this->data[0]['post_title']; ?>" class="form-control" placeholder="Enter your meta title !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Meta title is mandatory"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Order</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="menu_order" value="<?php echo $this->data[0]['menu_order']; ?>" id="menuOrder" class="form-control" placeholder="Enter menu order !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Menu order is mandatory"><i class="fa fa-question-circle"></i></span>
										</div>
<span class="order-check" style="display: none;color:red;">Menu order you have entered is either already taken or in wrong format. Integer value required !!!</span>
									</div>
								</div>
								<!-- // Group END -->
							</div>
							<!-- // Column END -->
						
							<!-- Column -->
							<div class="col-md-6">
						
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Type</label>
									<div class="col-md-9">
										<select id="parent_type" required="true" name="post_type" value="" class="form-control">
											<option value="<?php echo $this->data[0]['post_type']; ?>" selected="selected"><?php echo $this->data[0]['post_type']; ?></option>
											<option value="page">Page</option>
											<option value="post">Post</option>
											<option value="blog">Blog</option>
											<option value="article">Article</option>
										</select>
									</div>
								</div>
								<!-- // Group END -->
							
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Parents</label>
									<div class="col-md-9">											
										<select id="post_parent" name="parent" class="form-control">
											<?php if( $pages ) { foreach($pages as $page => $p ) {
												?>
													<option value="<?php echo $p['id']; ?>" selected="selected"><?php echo $p['post_title']; ?></option>
												<?php
											} } ?>
										</select>
									</div>
								</div>
								<!-- // Group END -->
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Menu Location</label>
									<div class="col-md-9">
										<select id="menu_location" name="menu_location" value="" class="form-control">
											<option value="<?php echo $this->data[0]['menu_location']; ?>" selected="selected"><?php echo $this->data[0]['menu_location']; ?></option>
											<option value="top-navigation">Top Navigation</option>
											<option value="main-menu">Main Menu</option>
											<option value="sidebar">Sidebar</option>
											<option value="footer">Footer</option>
										</select>
									</div>
								</div>
								<!-- // Group END -->
							</div>
						<!-- // Column END -->						
						</div>
						<!-- // Row END -->					
						<div class="separator line bottom"></div>
						<div class="row">
							<textarea id="mustHave_<?php echo $this->data[0]['ID']; ?>" class="wysihtml5 form-control" required="true" name="post_excerpt" class="form-control col-md-9" rows="3" placeholder="Enter small summary !!!"><?php echo $this->data[0]['post_excerpt']; ?></textarea>
						</div>
						<div class="separator line bottom"></div>
						<div class="row">
							<textarea id="mustHave5_<?php echo $this->data[0]['ID']; ?>" class="wysihtml5 form-control" required="true" name="post_content" class="form-control" rows="5" placeholder="Enter page content !!!"><?php echo $this->data[0]['post_content']; ?></textarea>
						</div>
						<!-- Form actions -->
						<div class="separator top">
							<button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check"></i> Save changes</button>
							<button type="button" class="btn btn-default"><i class="fa fa-fw fa-times"></i> Cancel</button>
						</div>
						<!-- // Form actions END -->
						</form>
				</div>
			</div>
		</div>
	</div>
</div>

<?php $this->placeholder('content')->captureEnd() ?>

<?php $this->placeholder('staticJavascript')->captureEnd() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js?v=v1.2.3"></script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
