<?php

session_start(); ?>
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html> <![endif]-->
<!--[if !IE]><!--><html><!-- <![endif]-->
<head>
<title>FLAT PLUS Template (v1.2.3)</title>	
<!-- Meta -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="google-translate-customization" content="29622b545bc381a4-788df79e2215d174-ge4b34f610a340488-9"></meta>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />	
<!-- 
**********************************************************
In development, use the LESS files and the less.js compiler
instead of the minified CSS loaded by default.
**********************************************************
<link rel="stylesheet/less" href="/css/assets/less/admin/module.admin.page.index.less" />
-->
	
<!--[if lt IE 9]><link rel="stylesheet" href="<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/components/library/bootstrap/css/bootstrap.min.css'); ?>" /><![endif]-->
<?php echo $this->placeholder('staticStylesheet'); ?>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

<![endif]-->
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/components/library/bootstrap/css/bootstrap.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.index.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/style.css'); ?>
<?= $this->headLink(); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/library/jquery/jquery.min.js?v=v1.2.3'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/modules/admin/gallery/gridalicious/assets/lib/jquery.gridalicious.min.js?v=v1.2.3'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/modules/admin/gallery/gridalicious/assets/custom/gridalicious.init.js?v=v1.2.3'); ?>
    
    
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/library/jquery/jquery-migrate.min.js?v=v1.2.3'); ?>

<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/library/modernizr/modernizr.js?v=v1.2.3'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/plugins/less-js/less.min.js?v=v1.2.3'); ?>

<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js?v=v1.2.3'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/plugins/browser/ie/ie.prototype.polyfill.js?v=v1.2.3'); ?>

<?php $this->headScript()->appendFile('/css/assets/components/library/jquery-ui/js/jquery-ui.min.js?v=v1.2.3'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js?v=v1.2.3'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/angular/lib/angular.min.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/angular/controllers/vendor/VendorApp.js'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/js/angular/controllers/vendor/accountInfoCtrl.js'); ?>

<?= $this->headScript(); ?>
<?php $sess = new Zend_Session_Namespace('VendorSession'); ?>
<?php  ?>
<script>

    $( document ).ready(function() {
	var a =document.cookie;
	b=a.split(';');
	c=b[0].split('=');
	id="#"+c[1];
	$(id).removeClass( "collapse" ).addClass( "in" );
	$(".hasSubmenu").addClass("active");
});
</script>
<style>
	.goog-te-banner-frame.skiptranslate {display: none !important;}
	.goog-tooltip{display: none !important;}
	body { top: 0px !important; }	   
</style>
</head>
<body class="" ng-app="VendorApp" >

<div class="navbar navbar-fixed-top navbar-primary main" role="navigation">
    
    <?php  //echo "<pre>"; echo print_r($this->data);die;
	
	$db=Zend_Registry::get("db");
	// get default session namespace
        $sess = new Zend_Session_Namespace('VendorSession');
	$select = $db->select();
	// SELECT conv_id, by_from, COUNT(*) FROM messages GROUP BY conv_id
	$select->from(array('u' => 'user'), array('email', 'first_name', 'last_name'))
	       ->joinInner(array('m' => 'messages'), 'm.by_from = u.id  AND m.sent_to='.$sess->userId.' AND m.status= 0 group by conv_id', array('by_from', 'message', 'date', 'status', 'conv_id', 'COUNT(*) as count' ));
	$unseenMessages = $db->fetchAll($select);
	$ids = array();
	if(isset($unseenMessages)){
	    foreach($unseenMessages as $key=> $data) {
	       $ids[] = $data->by_from;
	    }
	}
	if($ids) {
	    $id = implode(",", $ids );
	    //fetch Media WHERE id in (3,4)
	    $result = $db->fetchAll("SELECT * FROM media where section='user-avatar' and owner in ($id)", array(), 2);
	    $adminData =  array('messages'=> $unseenMessages, 'media'=> $result);
	}else {
	    $adminData = array();
	}
	$vendor = $db->fetchAll("SELECT * FROM user where id = ?",array($sess->userId),2);
	$media = $db->fetchAll("SELECT * FROM media WHERE owner =? and section =?", array( $sess->userId,'user-avatar'), 2
		);
	$vendors = $db->fetchAll("SELECT * FROM vendor where user_id = ?",array($sess->userId),2);
	//$sess->vendor_image_type=$media[0][type];
	    //session_start();
	   @$_SESSION['vendor_image_type']=@$media[0][type];
	
	
    ?>
    
   
    <div class="navbar-header pull-left">
        <div class="navbar-brand">
            <div class="pull-left">
                <a href="" class="toggle-button toggle-sidebar btn-navbar"><i class="fa fa-bars"></i></a>
            </div>
            <a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/index" class="appbrand innerL">Vendors</a>
           <?php /* <div class="colors pull-right hidden-xs">
                
                <li class="active"><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=style-default" style="background-color: #cb4040"><span class="hide">style-default</span></a></li>
                <li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=brown" style="background-color: #ba5d32"><span class="hide">brown</span></a></li>
                <li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=purple-gray" style="background-color: #86618f"><span class="hide">purple-gray</span></a></li>
                
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" class="dropdown-toggle">
                        <span class="color inverse"></span>
                        <span class="color danger"></span>
                        <span class="color success"></span>
                        <span class="color info"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=purple-wine"><span class="color" style="background-color: #b94b6f"></span> purple-wine</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=blue-gray"><span class="color" style="background-color: #496cad"></span> blue-gray</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=green-army"><span class="color" style="background-color: #6f8745"></span> green-army</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=black-and-white"><span class="color" style="background-color: #575757"></span> black-and-white</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=alizarin-crimson"><span class="color" style="background-color: #d15050"></span> alizarin-crimson</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=amazon"><span class="color" style="background-color: #488075"></span> amazon</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=amber"><span class="color" style="background-color: #a8a858"></span> amber</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=android-green"><span class="color" style="background-color: #90bd59"></span> android-green</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=antique-brass"><span class="color" style="background-color: #CD9575"></span> antique-brass</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=antique-bronze"><span class="color" style="background-color: #6e6e3c"></span> antique-bronze</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=artichoke"><span class="color" style="background-color: #8F9779"></span> artichoke</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=atomic-tangerine"><span class="color" style="background-color: #cc865e"></span> atomic-tangerine</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=bazaar"><span class="color" style="background-color: #98777B"></span> bazaar</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=bistre-brown"><span class="color" style="background-color: #a38229"></span> bistre-brown</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=bittersweet"><span class="color" style="background-color: #d6725e"></span> bittersweet</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=blueberry"><span class="color" style="background-color: #4e72c2"></span> blueberry</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=bud-green"><span class="color" style="background-color: #6fa362"></span> bud-green</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=burnt-sienna"><span class="color" style="background-color: #db897d"></span> burnt-sienna</a></li>
                    </ul>
                </li>
            </div> */ ?>
        </div>
    </div>
  
    <ul class="nav navbar-nav navbar-left">
        <li class=" hidden-xs">
            <!--form class="navbar-form navbar-left " role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type in here..."/>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-inverse"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form-->
        </li>
        <li class="dropdown">
            <a href="" class="dropdown-toggle user" data-toggle="dropdown">
		<?php if(@$_SESSION['vendor_image_type']) { ?>
		<img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $sess->userId; ?>/user-avatar_<?php echo $sess->userId; ?>_0_35x35<?php echo @$_SESSION['vendor_image_type']; ?>" alt="" class="img-circle"/>
		<?php }else{ ?>
		<img src="<?php echo $this->baseUrl();?>/images/people_s.png" alt="" class="img-circle" width='40px'>
		<?php } ?>
		<span class="hidden-xs hidden-sm"> &nbsp; <?php if($vendor[0]['first_name']){ echo $vendor[0]['first_name'].' '.$vendor[0]['last_name']; }else{ echo $vendor[0]['email']; } ?> </span> <span class="caret"></span></a>
            <ul class="dropdown-menu list pull-right ">
                <li><a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/mypic" class="adminViewProfile">Profile Image <i class="fa fa-user pull-right"></i></a></li>
                <li><a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard" class="adminEditProfile">Edit Account <i class="fa fa-pencil pull-right"></i></a></li>
                <li><a href="<?php echo $this->baseUrl(); ?>/users/index/logout?role=<?php echo $sess->userRole; ?>">Log out <i class="fa fa-sign-out pull-right"></i></a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs">
		<!-- Google translator -->
		    
		<li style='margin-top: 10px;'><div id="google_translate_element"></div></li><script type="text/javascript">
		function googleTranslateElementInit() {
		  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
		}
		</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

		<!-- eng translator -->
        <li class="dropdown notification">
            <a href="#" class="dropdown-toggle menu-icon" data-toggle="dropdown"><i class="fa fa-fw fa-envelope-o"></i><span class="badge badge-primary"><?php if(isset($adminData['messages'])){$Msgcount = count($adminData['messages']); if($Msgcount > 0) { echo $Msgcount; } } ?></span></a>
            <ul class="dropdown-menu inbox">
                <li class="headline">Inbox</li>
                <li><input type="text" class="form-control border-none" placeholder="Search Email..." /></li>
                <?php if(isset($adminData['messages'])) {
		   
		    foreach($adminData['messages'] as $key=> $message){
			if(empty($message->first_name)){
			    $user = $message->email;
			}else {
			    $user = $message->first_name.' '.$message->last_name;; 
			}
			
			if($adminData['media']){
			
			    foreach($adminData['media'] as $ke => $sec) {
				if($message->by_from == $sec['owner']){
				    $src = PUBLIC_URI.'/media/'.$sec['owner'].'/'.$sec['section'].'_'.$sec['owner'].'_0_35x35'.$sec['type'];
				    if (@getimagesize($src)) {
					$image = $src;
				    }else {
					$image = '';
				    }

				}
			  }			
			?>
				    <li>
					<div class="media">
					    <a class="pull-left" href="<?php echo $this->baseUrl(); ?>/vendor/mailbox/view/id/<?php echo $message->conv_id;?>/to/<?php echo $message->by_from;?>"><img src="<?php echo $image; ?>" alt="No image" class="img-circle media-object"></a>
					    <div class="media-body">
						<a href="<?php echo $this->baseUrl(); ?>/vendor/mailbox/view/id/<?php echo $message->conv_id;?>/to/<?php echo $message->by_from;?>" class="strong text-primary"> <i class="fa fa-circle"></i> <?php echo $user; ?> </a> <span>(<?php echo $message->count; ?>)</span><span class="pull-right time-email"><?php echo $time = date("Y-m-d h:i:s A",strtotime($message->date));?></span>
						<div class="clearfix"></div>
						<?php echo $message->message; ?>
					    </div>
					</div>    
				    </li>
		    <?php	
			} else { ?>
			    <li>
				<div class="media">
				    <a class="pull-left" href="<?php echo $this->baseUrl(); ?>/vendor/mailbox/view/id/<?php echo $message->conv_id;?>/to/<?php echo $message->by_from;?>"><img src="<?php echo $this->baseUrl() ;?>/images/msg-pro.jpg" alt="No image" class="img-circle media-object"></a>
				    <div class="media-body">
					<a href="<?php echo $this->baseUrl(); ?>/vendor/mailbox/view/id/<?php echo $message->conv_id;?>/to/<?php echo $message->by_from;?>" class="strong text-primary"> <i class="fa fa-circle"></i> <?php echo $user; ?> </a> <span>(<?php echo $message->count; ?>)</span><span class="pull-right time-email"><?php echo $time = date("Y-m-d h:i:s A",strtotime($message->date));?></span>
					<div class="clearfix"></div>
					<?php echo $message->message; ?>
				    </div>
				</div>    
			    </li>    
		    <?php     
			}
		
		    }
		
		}else { ?>
		    
		    <li>
			<div class="media">
			    <div class="media-body">
				<div class="clearfix"></div>
				Nothing here
			    </div>
			</div>    
		    </li>
		    
		    
		<?php 
		}
		?>
            </ul>
        </li>
        <!--<li class="dropdown notification hidden-sm hidden-md">
            <a href="#" class="dropdown-toggle menu-icon" data-toggle="dropdown"><i class="fa fa-fw fa-exclamation-circle"></i><span class="badge badge-info">2</span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
         <li class="dropdown notification hidden-sm hidden-md">
            <a href="#" class="dropdown-toggle menu-icon" data-toggle="dropdown"><i class="fa fa-fw fa-dropbox"></i><span class="badge badge-success badge-icon"><i class="fa fa-check"></i></span></a>
            <ul class="dropdown-menu dropbox list">
                <li class="headline">
                   <div class="row">
                       <div class="col-md-6">Dropbox Folder</div>
                       <div class="col-md-6">
                           <a href="">Settings <i class="fa fa-cog"></i></a>
                       </div>
                   </div>
                </li>
                <li class="clean info">RECENTLY CHANGED</li>
                                <li>
                    <ul class="media-list">
                        <li class="media innerAll half">
                            <a class="pull-left" href="#"><img class="media-object" data-src="holder.js/35x35" alt="..."></a>
                            <div class="media-body margin-none">
                                <a class="padding-none">Media heading</a>
                                <div class="clearfix"></div>
                                <em>59 minutes ago</em>
                            </div>
                        </li>
                    </ul>
                </li>
                                <li>
                    <ul class="media-list">
                        <li class="media innerAll half">
                            <a class="pull-left" href="#"><img class="media-object" data-src="holder.js/35x35" alt="..."></a>
                            <div class="media-body margin-none">
                                <a class="padding-none">Media heading</a>
                                <div class="clearfix"></div>
                                <em>59 minutes ago</em>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="media-list">
                        <li class="media innerAll half">
                            <a class="pull-left" href="#"><img class="media-object" data-src="holder.js/35x35" alt="..."></a>
                            <div class="media-body margin-none">
                                <a class="padding-none">Media heading</a>
                                <div class="clearfix"></div>
                                <em>59 minutes ago</em>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="media-list">
                        <li class="media innerAll half">
                            <a class="pull-left" href="#"><img class="media-object" data-src="holder.js/35x35" alt="..."></a>
                            <div class="media-body margin-none">
                                <a class="padding-none">Media heading</a>
                                <div class="clearfix"></div>
                                <em>59 minutes ago</em>
                            </div>
                        </li>
                    </ul>
                </li>
                </ul>
        </li>
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><img src="<?php echo $this->baseUrl(); ?>/css/assets//images/lang/en-flat.jpg" /></a>
            <ul class="dropdown-menu pull-right">
                <li class="active"><a href="">English</a></li>
                <li><a href="">Romanian</a></li>
            </ul>
        </li> -->
        <li><a href="<?php echo $this->baseUrl(); ?>/users/index/logout?role=<?php echo $sess->userRole; ?>" class="menu-icon"><i class="fa fa-sign-out"></i></a></li>
    </ul>
</div>

<div id="menu" class="hidden-print hidden-xs">
	<div class="sidebar sidebar-inverse">
		<div class="user-profile media innerAll">
			<a href="" class="pull-left">
			   <?php if(@$_SESSION['vendor_image_type']) { ?>
			    <img src="<?php echo $this->baseUrl();?>/media/<?php echo $sess->userId; ?>/user-avatar_<?php echo $sess->userId; ?>_0_51x51<?php echo @$_SESSION['vendor_image_type'];?>" alt="" class="img-circle">
			   <?php }else{ ?>
			   <img src="<?php echo $this->baseUrl();?>/images/people_s.png" alt="" class="img-circle" width='50px'>
			   <?php } ?>
			    <span class="badge badge-primary"><?php if(isset($adminData['messages'])){ $Msgcount = count($adminData['messages']); if($Msgcount > 0) { echo $Msgcount; } } ?></span></a>
			<div class="media-body">
				<a href="" class="strong"><?php if($vendor[0]['first_name']){ echo $vendor[0]['first_name'].' '.$vendor[0]['last_name']; }else{ echo $vendor[0]['email']; } ?></a>
				<p class="text-success"><i class="fa fa-fw fa-circle"></i> Online</p>
			</div>
			<ul>
				<li class="active"><a href=""><i class="fa fa-fw fa-user"></i></a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/vendor/mailbox"><i class="fa fa-fw fa-envelope"></i></a></li>
				<!--li><a href=""><i class="fa fa-fw fa-lock"></i></a></li-->
			</ul>
		</div>
		<?php
			$VendorSession = new Zend_Session_Namespace('VendorSession');
			$user_id = $VendorSession->userId;
		?>
		<div class="sidebarMenuWrapper">
			<ul class="list-unstyled">
			<?php if(true){ // if for left menu START ?>
				<li class="hasSubmenu">
					<a href="javascript:void(0)" data-target="#dashboard-menu" data-toggle="collapse" onclick="document.cookie='name=dashboard-menu';"><i class="icon-projector-screen-line"></i><span>Vendor's Dashboard</span>
					</a>
					<ul class="collapse" id="dashboard-menu" >
					    <li>
					    	<a target="_blank" href="<?php echo $this->baseUrl(); ?>/vendor/homepage/index/id/<?php echo $user_id ; ?>">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-list-alt"></i><span>View My HomePage</span>
					    	</a>
					    </li>
					    <li>
					    	<a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/mypic">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-user"></i><span>Add/Change My Profile Image</span>
					    	</a>
					    </li>					    
					    <li>
					    	<a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/index">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-edit"></i><span>Edit My HomePage Info</span>
					    	</a>
					    </li>
					    <li>
					    	<a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/gall">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-picture"></i>Add/Edit Images To HomePage
					    	</a>
					    </li>
					    <li>
					    	<a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/videos">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-play-circle"></i>Add/Edit Videos To HomePage
					    	</a>
					    </li>
				    </ul>
				</li>
				
				<li class="hasSubmenu">
				    <a href="javascript:void( 0);" data-target="#forms-menu" data-toggle="collapse" onclick="document.cookie='name=forms-menu';"><i class="glyphicon glyphicon-envelope"></i><span>Vendor's Message Box</span></a>
				    <ul class="collapse" id="forms-menu">
					    <li><a href="<?php echo $this->baseUrl(); ?>/vendor/mailbox">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-import"></i> My Inbox</a></li>
					    <li><a href="<?php echo $this->baseUrl(); ?>/vendor/mailbox/sent">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-export"></i> My Sent Box</a></li>
					    <li><a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/contacts">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-list"></i><span> My Contacts</span></a></li>
					    <li><a href="<?php echo $this->baseUrl(); ?>/vendor/mailbox/trash">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-trash"></i>Trash</a></li>
					    	
				    </ul>
				</li>

				<li class="hasSubmenu">
				    <a href="javascript:void(0);" data-target="#forms-bids" data-toggle="collapse" onclick="document.cookie='name=forms-bids';"><i class="glyphicon glyphicon-briefcase"></i><span>Vendor's Jobs</span></a>
					<ul class="collapse" id="forms-bids">
						<li>
							<a target="_blank" href="<?php echo $this->baseUrl(); ?>/users/job">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-check"></i><span>Apply For Jobs</span></a>
						</li>
						<li>
							<a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/bids">&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-edit"></i><span>View/Delete Jobs</span></a>
						</li>
					</ul>
				</li>				
				<!--li>
					<a target="_blank" href="<?php echo $this->baseUrl(); ?>/vendor/homepage/index/id/<?php echo $user_id ; ?>"><i class="glyphicon glyphicon-list-alt"></i><span>Live View</span>
					</a>
				</li-->

				<li><a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/quote"><i class="icon-note-pad"></i><span>Quotes From Users</span></a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/apointment"><i class="icon-note-pad"></i><span>Appointments From Users</span></a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/reviews"><i class="icon-note-pad"></i><span>Reviews From Users</span></a></li>

				<!--li><a href="<?php // echo $this->baseUrl(); ?>/vendor/portfolio"><i class="icon-note-pad"></i><span>Portfolio</span></a></li-->
				<!--li><a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/index"><i class="glyphicon glyphicon-cog"></i><span>Account Settings</span></a></li-->
							
				<?php } //if for left menu END ?>
			</ul>
		</div>
	</div>
</div>
<div id="content">
	<!-- dynamic blocks starts-->

	<?php
	
		$date1=date_create(date("Y-m-d"));
		$date2=date_create($vendors[0]["plan_end_date"]);
		$diff=date_diff($date1,$date2);
		if(!$diff->invert && $diff->days<=10){
			echo '<center><div class="alert alert-danger" role="alert">Your account Is about to expire Please Upgrade To continue Our services</div></center>';
		} 


		//if(true){
	 echo $this->placeholder('content');
	 	/*}else{
	 		echo "<pre>"; 

	 		print_r($date1=date_create(date("Y-m-d")));
			print_r($date2=date_create($vendors[0]["plan_end_date"]));
			$diff=date_diff($date1,$date2);
			if(!$diff->invert){
				echo "Your Account has expired Please Upgrade";
			} 
			print_r($diff->invert);
	 	
	 	}*/
	  ?>
        <!-- footer section starts -->
	<!-- Global -->
</div>
<div class="clearfix"></div>
<!-- // Sidebar menu & content wrapper END -->
		<div id="footer" class="hidden-print">
			
			<!--  Copyright Line -->
			<!--div class="copy">&copy; 2012 - 2014 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase FLAT PLUS on ThemeForest</a> - Current version: v1.2.3 / <a target="_blank" href="http://demo.mosaicpro.biz/flatplus/CHANGELOG.txt">changelog</a></div-->
			<!--  End Copyright Line -->
	
		</div>
		<!-- // Footer END -->
		
</div>
<!-- // Main Container Fluid END -->	
	

<script>
	var basePath = '',
		commonPath = '/css/assets/',
		rootPath = '/css',
		DEV = false,
		componentsPath = '/css/assets/components/';
	
	var primaryColor = '#cb4040',
		dangerColor = '#b55151',
		infoColor = '#466baf',
		successColor = '#8baf46',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	
	var themerPrimaryColor = primaryColor;
</script>	

<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/plugins/breakpoints/breakpoints.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/animations.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/widgets/widget-chat/assets/js/widget-chat.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/plugins/slimscroll/jquery.slimscroll.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/lib/js/bootstrap-datepicker.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/custom/js/bootstrap-datepicker.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/charts/easy-pie/assets/lib/js/jquery.easy-pie-chart.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/charts/easy-pie/assets/custom/easy-pie.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/widgets/widget-scrollable/assets/js/widget-scrollable.init.js?v=v1.2.3"></script>
<?php echo $this->placeholder('staticJavascript'); ?>
<script src="<?php echo $this->baseUrl().'/js/bootstrapValidator.js'; ?>" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl().'/js/jquery.lightbox_me.js'; ?>" type="text/javascript"></script>  
<script src="<?php echo $this->baseUrl().'/js/jquery.validate.js'; ?>" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/plugins/holder/holder.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/sidebar.main.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/sidebar.collapse.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/helpers/themer/assets/plugins/cookie/jquery.cookie.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/core.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/jquery.Jcrop.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/script.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/jquery.form.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/general.js"></script>
<script src="<?php echo $this->baseUrl().'/js/vendor_dashboard.js'; ?>" type="text/javascript"></script>
</body>
</html>
