<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/style.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/royal-slider.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/tabs.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/chosen.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/jquery.mCustomScrollbar.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/ipad-landscape.css" media="only screen and (max-width:1024px), (max-device-width:1024px) and (orientation:landscape)" />
        <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/ipad-portrait.css" media="only screen and (max-width:768px), (max-device-width:768px) and (orientation:portrait)" />
        <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/small-tabs.css" media="only screen and (max-width:600px)" />
        <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/iphone-landscape.css" media="only screen and (max-width:480px), (max-device-width:480px) and (orientation:landscape)" />
        <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/iphone-portrait.css" media="only screen and (max-width:320px), (max-device-width:320px) and (orientation:portrait)" />
        <!-- HTML5 Support for IE7 - 8 -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        
      <?php echo $this->placeholder('content')  ?>


    </body>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/css/assets/components/library/jquery-ui/js/jquery-ui.min.js?v=v1.2.3'; ?>" type="text/javascript"></script>
   
    <script src="<?php echo PUBLIC_URI.'/js/general.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/vendor_dashboard.js';?>" type="text/javascript"></script>

    <script src="<?php echo PUBLIC_URI.'/js/royal-slider.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/responsive-tabs.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/bootstrap.min.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/chosen.jquery.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.mCustomScrollbar.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jsDatePick.jquery.full.1.3.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/common.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/bootstrapValidator.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.lightbox_me.js'; ?>" type="text/javascript"></script>  
    <script src="<?php echo PUBLIC_URI.'/js/jquery.validate.js'; ?>" type="text/javascript"></script>
    <?php echo $this->headScript()->setFile('http://malsup.github.com/jquery.form.js') ?>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.colorwheel.min.js'; ?>" type="text/javascript"></script>

    <script type="text/javascript" src="<?php echo PUBLIC_URI.'/js/royal-slider.js';?>"></script>
    <script type="text/javascript" src="<?php echo PUBLIC_URI.'/js/responsive-tabs.js';?>"></script>
    <script type="text/javascript" src="<?php echo PUBLIC_URI.'/js/bootstrap.min.js';?>"></script>
    <script type="text/javascript" src="<?php echo PUBLIC_URI.'/js/chosen.jquery.js';?>"></script>
    <script type="text/javascript" src="<?php echo PUBLIC_URI.'/js/jquery.mCustomScrollbar.js';?>"></script>
    <script type="text/javascript" src="<?php echo PUBLIC_URI.'/js/common.js';?>"></script>
</html>