<?php $this->placeholder('userstaticfiles')->captureStart() ?>

<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<?php   $db=Zend_Registry::get("db"); $categories = $db->fetchAll("select * from vendor_category", array(), 2); ?>
    <div class="wrapper newjob">
		<div class="user_create_new_job">
			<div class="row">
                            <div class="jb-mx-wdth">
                                <label class="col-sm-4"></label><h3 class="col-sm-8">Edit Job</h3>
                                <p id="preview" class="bg-warning"></p>
                                <?php if( $this->data['data'] ) {; ?>
                                <form class="form-horizontal" role="form" action="" method="POST">
                                    <input type="hidden" name="jobId" value="<?php echo $this->data['data'][0]['id']; ?>">
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Select Service Category</label>
                                      <div class="col-sm-8">
                                            <select name="serviceCategory" class="form-control" id="inputEmail3" placeholder="select service category">
                                                <?php                                                
                                                    if( $categories ) {
                                                        foreach( $categories as $data => $values ) {
                                                            if( $values['id']==$this->data['data'][0]['category'] ) {
                                                                ?>
                                                                <option selected="selected" value="<?php echo $values['id']; ?>"><?php echo $values['category_name']; ?></option>
                                                                <?php
                                                            }
                                                            ?>
                                                                <option value="<?php echo $values['id']; ?>"><?php echo $values['category_name']; ?></option>
                                                            <?php
                                                        }
                                                    }                                                
                                                ?>
                                            </select>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Job Title</label>
                                      <div class="col-sm-8">
                                        <input type="text" name="jobTitle" value="<?php echo $this->data['data'][0]['title']; ?>" class="form-control" id="inputEmail3" placeholder="Please enter job title!!">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Start Time</label>
                                      <div class="col-sm-8">
                                        <input type="text" id="startDate" value="<?php echo $this->data['data'][0]['start_on']; ?>" name="startDate" class="form-control" id="inputEmail3" placeholder="Add job start date!!">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">End Date</label>
                                      <div class="col-sm-8">
                                        <input type="text" id="endDate" value="<?php echo $this->data['data'][0]['end_on']; ?>" name="endDate" class="form-control" id="inputEmail3" placeholder="Add job end date!!!">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">My Budget[$]</label>
                                      <div class="col-sm-8">
                                        <input type="text" name="myBudget" value="<?php echo $this->data['data'][0]['budget']; ?>" class="form-control" id="inputEmail3" placeholder="Add budget for this service !!!">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Job Description</label>
                                      <div class="col-sm-8">
                                        <textarea name="jobDescription" rows="5" class="form-control" id="inputEmail3" placeholder="Please enter the job description !!"><?php echo $this->data['data'][0]['description']; ?></textarea>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                    <label class="col-sm-4"></label>
                                      <div class="col-sm-8">
                                        <button type="submit" class="btn btn-primary">Update Job Info</button>
                                      </div>
                                    </div>
                                </form>
                                <?php } ?>
                            </div>
                        </div>
	       </div>
    </div>
    

<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script>
    
    jQuery(document).ready(function($){
        
        $("#startDate").datepicker({dateFormat:"yy-dd-mm"});//	YYYY-DD-MM
        $("#endDate").datepicker({dateFormat:"yy-dd-mm"});//	YYYY-DD-MM
        
	//alert("jQuery working");
	$("form").submit(function(e){
		e.preventDefault();
		var data = {}
		var Form = this;

		//Gathering the Data
		$.each(this.elements, function(i, v){
		    var input = $(v);
		    data[input.attr("name")] = input.val();
		    delete data["undefined"];
        	});
                
		//Form Validation goes here....
		$.ajax({
			cache: false,
			url : '<?php echo $this->baseUrl(); ?>/users/job/new',
			type: "POST",
			//dataType : "json",
                        //data : JSON.stringify(data),
			data : data,
			//context : Form,
			success : function(result){
				//$(this)[0].reset();
				$("#preview").html(result);
			},
			error : function(){
				$(this).html("Error!");
			}
		});
	});			
    });
    
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>