<h3>Job Application</h3>
<p id="preview" class="bg-warning"></p>
<form class="form-horizontal" role="form" action="" method="POST">
        <input name="jobId" value="<?php echo $this->data['data'][0]['id']; ?>" type="hidden">
        <input name="applierId" value="<?php echo $this->data['data'][0]['user_id']; ?>" type="hidden">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" name="jobTitle" value="<?php echo $this->data['data'][0]['title']; ?>" class="form-control" id="inputEmail3" placeholder="Please enter job title!!">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Quote Content</label>
            <div class="col-sm-10">
                <textarea name="quoteContent" rows="5" class="form-control" id="inputEmail3" placeholder="Please enter quote description !!"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Start On: </label>
            <div class="col-sm-10">
                <label ><?php 
                $date=date_create($this->data['data'][0]['start_on']);
                echo date_format($date,"d F, Y");
                //$date = new Date($this->data['data'][0]['start_on']);
                            //echo $date->format('d F, Y');
                ?></label>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">End On: </label>
            <div class="col-sm-10">
                <label ><?php 
                $date=date_create($this->data['data'][0]['end_on']);
                echo date_format($date,"d F, Y"); ?></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
</form>