<?php

    // @jeevan manupulate the UI on the basis of data sent by the user
    $db=Zend_Registry::get("db");
    $type = $this->data['type']; // to get the operation type user want to do with applier
    $job = $this->data['job'];// to get the job id
    $UserSession = new Zend_Session_Namespace('UserSession');
?>

<!-- if user want to see the applier information -->
<?php if( $type=='view' ) {; ?>
<?php //echo "<pre>"; print_r($this->data['messages']);die;?>
<div class="row"> 
	<div class="hvy-jb-dt">   
    <h3> Vendor Info </h3>
    <div class="vndr-rpt">
    <p><span>Company Name: </span><?php echo $imageDesc = (isset($this->data['data'][0]['company'])) ? $this->data['data'][0]['company'] : 'Not Found'; ?></p>
    <p><span>Email: </span><?php echo $email = (isset($this->data['data'][0]['email'])) ? $this->data['data'][0]['email'] : 'Not Found'; ?></p>
    <p><span>Bio: </span><?php echo $about = (isset($this->data['data'][0]['about'])) ? $this->data['data'][0]['about'] : 'Not Found'; ?></p>
    <p><span>Ratings: </span><?php echo $rating = (isset($this->data['data'][0]['rating'])) ? $this->data['data'][0]['rating'] : 'Not Found'; ?> out of 5</p>
    <p><span>Service Cost: </span>$<?php echo $service_cost = (isset($this->data['data'][0]['service_cost'])) ? $this->data['data'][0]['service_cost'] : 'Not Found'; ?></p>
    <h4> Quote </h4>
        <div class="quote">
        <?php
	
            $quote = $db->fetchAll("select * from quotes where job_id=? and vendor_id=?", array($job, $this->data['data'][0]['id']), 2);
            ?>
                <p><?php echo $quoteContent = (isset($quote[0]['quote_content'])) ? $quote[0]['quote_content'] : 'No description given by applier.'; ?></p>
            <?php
        ?>    
    </div>
    </div>
    </div>
    

 
   <div class="view-messages msg-dtl">
	<h3> Messages </h3>
    <div class="rpt-msg-hld widget widget-inverse widget-scroll" data-scroll-height="280px">
	<?php if( !empty($this->data['messages']) ) {  
			foreach($this->data['messages'] as $key => $value){
	?>
				

		<div class="vw-rpt-msg" id="<?php echo $value['id'];  ?>"> 
                    <div class="rpt-msgv-inr">
                        <label>[<?php echo $time = date("Y-m-d h:i:s A",strtotime($value['date']));?>] <b><?php if($value['first_name']) { echo $value['first_name'].' '. $value['last_name'];  }else{ echo $value['email']; } ?>: </b></label>	
                        <?php echo $value['message']; ?> 
                     </div>
		    <?php if( $UserSession->userId == $value['by_from'] ) { ?>   
                     <a class="rmv-msg" id="removeMessage" data-id="<?php echo $value['id']; ?>"></a>
		    <?php } ?>
                </div>
	<?php 		} 
		}else {
			echo "No Messages !!";
		}
	?>
    </div>
   </div>
</div>
	

<?php } ?>

<!-- if user want to sent message to applier -->
<?php if( $type=='sendmessage' ) {; ?>
<?php
	 if( !empty($this->data['messages'] )){
		$conversation_Id = $this->data['messages'][0]['conv_id'];
	}else{
		$conversation_Id = '';
	}

?>
<div class="row">
    <?php $jobData = $db->fetchAll("select * from job where id=?", array($job), 2); ?>
    <h3> Send Messages to applier </h3>
    <div id="preview"></div>
    <form class="form-horizontal" role="form" action="" readonly="readonly" enctype="multipart/form-data" name="quoteReply" id="quoteReply">
        <input type="hidden" value="<?php echo $this->data['data'][0]['id']; ?>" name="withWho" />
	<input type="hidden" value="<?php echo $conversation_Id; ?>" name="conv_id" />
	<input type="hidden" name="job_thread" value="job_<?php echo $job; ?>" />
        <label for="inputEmail3" class="col-sm-2 control-label"><b>Subject</b></label>
        <div class="form-group">            
            <div class="col-sm-10">
                <input type="text" name="conversationOn" readonly="readonly" value="<?php echo $jobData[0]['title']; ?>" class="form-control" id="inputEmail3" placeholder="Please enter job title!!">
            </div>
        </div>
        <label for="inputEmail3" class="col-sm-2 control-label"><b>Message</b></label>
        <textarea name="applierMessage" rows="15" class="form-control" id="inputEmail3" placeholder="Write invitation message here !"></textarea>
        <br />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button style="float: right;" type="submit" class="btn btn-default">Send</button>
            </div>
        </div>        
    </form>    
</div>

<?php } ?>

<!-- if user want to delete the applier -->
<?php if( $type=='delete' ) {; ?>

<!-- start deleting the applicant on a job -->
<div class="row">
    <?php $deleteJob = $db->delete('appliers', 'applier_id = '.$this->data['data'][0]['id'].'');
    
        if( $deleteJob ) {
            ?>
            <script>location.reload()</script>
            <?php
        } else {
            echo " Error, try deleting applier again "; 
        }
    
    ?>
</div>

<?php } ?>
