
<?php

    if( $this->data['method'] == 'GET' && $this->data['check'] == 'first') {
        
  ?>
<div class="rating-content">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href="<?php echo PUBLIC_URI; ?>/css/star-rating.css" media="all" rel="stylesheet" type="text/css"/>
<script src="<?php echo PUBLIC_URI; ?>/js/star-rating.js" type="text/javascript"></script>
<script>
        $("#input-2b").rating();
        $('#input-2b').on('rating.change', function(event, value, caption) {
                //console.log(value);
                $("input[name=star_rate]").val(value);
        });
        $('#input-2b').on('rating.clear', function(event) {
            $("input[name=star_rate]").val("");
        });
</script>
<div class="panel panel-default like-rt">
        <br /><br />
        <div class="row">
            <div class="panel-body">
                <form id="vendor<?php echo $this->data['id']; ?>" name="vendor_rating" method="post" action="<?php echo PUBLIC_URI; ?>/users/operations/likes/format/html">
                        <input id="input-2b" type="number" class="rating" min="0" max="5"  data-size="xl" data-symbol="&#9733;" data-default-caption="{rating} Stars" name="rate" value="" data-star-captions="{}">
			<input type="hidden" value="" name="star_rate">
                        <input type="hidden" value="<?php echo $this->data['vendor']; ?>" name="vendor_member">
	                <div class="form-group">
	                        <button type="submit" id="rating_vendor" class="btn btn-primary">Submit My Rating</button>
	                </div>                
		</form>
                <br>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <a id="close_x" class="close sprited cls-lyk-pp" href="javascript:void(0);">X</a>
        </div>
        
</div>
</div>
<?php  }elseif( $this->data['method'] == 'GET' && $this->data['check'] == 'second' ) { ?>
        <div class="rating-content">
                <div class="panel panel-default col-md-12">
        <br /> 
        <div class="row">
            <div class="panel-body ajax-error-text">You have already given a rating.
        </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <a id="close_x" class="close sprited" href="javascript:void(0);">close</a>
        </div>
        </div>
</div>
 <?php
        }
  ?>
