<?php $this->placeholder('userstaticfiles')->captureStart() ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables_responsive.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables.min.css'); ?>
<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('UserSession'); ?>

<article class="col-sm-9 jb-cntn-lst mtp convers lst-td-cntr mp-up-lyt">
<div class="widget-body padding-bottom-none">
		<?php if( $this->data ) {  ?>
			<!-- Table -->
			<table class="dynamicTable colVis table orders_table">

				<!-- Table heading -->
				<thead class="bg-gray">
					<tr>
						<th>Message</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<!-- // Table heading END -->
	
				<!-- Table body --> 
				<tbody>
                                        
					<?php //echo "<pre>"; print_r($this->data);die;
					if( isset( $this->data['messages'][0] )) {	
						foreach( $this->data['messages'] as $data => $value ) {
							$wordsCount = str_word_count( $value['message'] );
							
							if( $wordsCount > 11 ){
								$words = explode(" ", $value['message'], 12);
								array_pop($words);
								$message = implode(" ", $words).'...';
							}else { 
								$message = $value['message'];
							}
					?>
							<tr id="message_<?php echo $value['id']; ?>" class="gradeX order">
								<td> <?php echo $message ; ?></td>
								<td><?php echo $value['status'] ;?></td>
								<td class="center">
									<div class="btn-group btn-group-sm">
										<a class="delete" onclick="return confirm('Are you sure you want to delete this message permanently ?')" href="<?php echo PUBLIC_URI ;?>/users/conversation/delperma?id=<?php echo $value['id']; ?>"><i class="fa fa-times"></i></a>
									</div>											
								</td>
							</tr>
					<?php			
					 	}	
					} else {
					?>
						<tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No trash Messages.</td></tr>
					<?php
					
					}
										
					?>	
				</tbody>
				<!-- // Table body END -->
	
			</table><!-- // Table END -->
		<?php }else { ?>
				Nothing here.
		<?php  } ?>
		</div>

</article>
<?php $this->placeholder('slider')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
