<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />
<h1 class="bg-white content-heading border-bottom">Advertisements</h1>
<div class="bg-white innerAll border-bottom">
	<ul class="menubar">
		<li><a href="<?php echo $this->baseUrl(); ?>/admin/advertisements">Advertisements</a></li>
		<li><div id="output" style="display:none;padding:4px;"class="alert-success"></div><!-- output division --></li>
	</ul>
</div>

<div class="innerAll spacing-x2">
	<!-- Widget -->

<div class="widget widget-tabs widget-tabs-gray border-bottom-none">

	<!-- Widget heading -->
	<div class="widget-head">
		<ul>
			<li class="active"><a class="glyphicons edit" href="#account-details" data-toggle="tab"><i></i>Advertisement Details</a></li>
			<li><a class="glyphicons settings" href="#profile-image" data-toggle="tab"><i></i>Advertisement Image</a></li>
		</ul>
	</div>
	<!-- // Widget heading END -->
	
	<div class="widget-body">
			<div class="tab-content">			
				<!-- Tab content -->
				<div class="tab-pane active" id="account-details">
					<form name="" id="account-details" class="form-horizontal advertisement" action="" method="POST">
                                                <input type="hidden" name="add_id" value="<?php echo $this->data['data'][0]['id']; ?>" />
                                                <input type="hidden" name="add_code" value="text" />
                                                <input type="hidden" name="type" value="customer" />
						<!-- Row -->
						<div class="row">					
							<!-- Column -->
							<div class="col-md-6">
						
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Advertisement Title</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="title" value="<?php echo $this->data['data'][0]['title']; ?>" class="form-control" placeholder="Enter title to the advertisement !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Title is mandatory"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
							
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Remote Url</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="remote_url" value="<?php echo $this->data['data'][0]['remote_url']; ?>" class="form-control" placeholder="Enter remote url if any !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="remote url"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
                                                                
                                                                <!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Company Info</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="company_info" value="<?php echo $this->data['data'][0]['company_info']; ?>" class="form-control" placeholder="Enter company name to which this belongs to !!" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="remote url"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
                                                                
                                                                
                                                                
							</div>
							<!-- // Column END -->
						
							<!-- Column -->
							<div class="col-md-6">
                                                            
                                                            <!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Advertisement Type</label>
									<div class="col-md-9">
										<select required="true" name="gender" class="form-control">
											<option selected="selected"><?php echo $this->data['data'][0]['type']; ?></option>
											<option value="google">Google</option>
											<option value="customer">Customer</option>
										</select>
									</div>
								</div>
								<!-- // Group END -->
                                                            
							</div>
						<!-- // Column END -->						
						</div>
						<!-- // Row END -->					
						<div class="separator line bottom"></div>
					
						<textarea id="mustHave5_" class="wysihtml5 form-control" required="true" name="description" class="form-control" rows="5" placeholder="Enter add description !!"><?php echo $this->data['data'][0]['description']; ?></textarea>
					
						<!-- Form actions -->
						<div class="separator top">
							<button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check"></i> Save changes</button>
							<button type="button" class="btn btn-default hide"><i class="fa fa-fw fa-times"></i> Cancel</button>
						</div>
						<!-- // Form actions END -->
                                        </form>
				</div>
				<!-- // Tab content END -->
				
				<!-- // Tab content END -->
				<div class="tab-pane" id="profile-image">
					<div id="final_image"></div>
					<form class="form-horizontal" id="upload_form" enctype="multipart/form-data" method="post" action="<?php echo PUBLIC_URI; ?>/admin/media-uploader/index/format/html" onsubmit="return checkForm()">
							<!-- Column -->
							<div class="row">
								<strong>Profile Image</strong>
							</div>
							<!-- hidden crop params -->
							<input type="hidden" id="x1" name="x1" />
							<input type="hidden" id="y1" name="y1" />
							<input type="hidden" id="x2" name="x2" />
							<input type="hidden" id="y2" name="y2" />
							<input type="hidden" id="profile" name="section" value="advertisement" />
							<input type="hidden" id="sess" name="user" value="<?php echo $sess->user; ?>">
							<div class="separator top"></div>
							<div class="row">
								<div class="error alert alert-danger">Click Select Image to set advertisement image.</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="step2 hide">Loading.....</div>
									<img id="preview" src="" alt="Advertisement image holder !" />															
									<div id="preview-pane" style="display: none;">
										<div class="preview-container" style="width: 140px; height: 90px;">
											<img src="" class="jcrop-preview img-responsive img-clean" alt="Preview Pan" />
										</div>
									</div>
								</div>
							</div>
							<div class="separator bottom"></div>
							<div class="row">
									<div class="fileupload fileupload-new margin-none" data-provides="fileupload">
										<div class="input-group">
											<div class="form-control col-md-3"><i class="fa fa-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
											<span class="input-group-btn">
												<span class="btn btn-default btn-file"><span class="fileupload-new">Select Image</span><span class="fileupload-exists">Change</span>
													<input type="file" reuired="true" class="margin-none" name="image_file" id="image_file" onchange="fileSelectHandler()"/>
												</span>
												<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
											</span>
										</div>
									</div>
									<div class="separator top">
										<div class="form-actions" style="margin: 0;">
											<button type="submit" id="form-submit" class="btn btn-primary"><i class="fa fa-check"></i>Upload Image</button>
										</div>
									</div>
							</div>
							<div class="row">
								<div class="info">
									<!--<label>File size</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filesize" name="filesize" />
									</div>
									<div class="separator bottom"></div>
									<label>Type</label>
							
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filetype" name="filetype" />
									</div>
									<div class="separator bottom"></div>
								
									<label>Image dimension</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filedim" name="filedim" />
									</div> -->
									<div class="separator bottom"></div>
						
									<label>W</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="w" name="w" value="280" readonly />
										<input type="hidden" class="form-control" id="ww" name="ww" value="280" />
									</div>
									<div class="separator bottom"></div>
									<label>H</label>
								
									<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
									<input type="text" class="form-control" id="h" name="h" value="180" readonly />
									<input type="hidden" class="form-control" id="hh" name="hh" value="180" />
								</div>
								<div class="separator bottom"></div>
							</div>
					</form>						
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	ul#mustHave5_-wysihtml5-toolbar li:nth-child(5){
		display: none;
	}
</style>

<?php $this->placeholder('content')->captureEnd() ?>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js?v=v1.2.3"></script>
<script>	
	jQuery(document).ready(function($) {
            
            
            //alert("jQuery working");
            $("form.advertisement").submit(function(e){
		e.preventDefault();
		var data = {}
		var Form = this;

		//Gathering the Data
		$.each(this.elements, function(i, v){
		    var input = $(v);
		    data[input.attr("name")] = input.val();
		    delete data["undefined"];
        	});
                
		//Form Validation goes here....
		$.ajax({
			cache: false,
			//url : 'http://hopto-api.greygoo.io/v1/users',
			type: "POST",
			//dataType : "json",
                        //data : JSON.stringify(data),
			data : data,
			//context : Form,
			success : function(result){
				$(Form)[0].reset();
				$("#output").html(result);
				$("#output").show();
				setTimeout(function(){
					$("#output").hide('slow');
				}, 2000);
			},
			error : function(){
				$(this).html("Error!");
			}
		});
            });
	});	
</script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
