<?php $this->placeholder('staticStylesheet')->captureStart() ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables_responsive.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables.min.css'); ?>
<?php $this->placeholder('staticStylesheet')->captureEnd() ?>
<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); $db=Zend_Registry::get("db"); 

	$ads = $db->fetchAll("select * from advertisements where status=?", array(1), 2); 
	   //echo "<pre>"; print_r($ads);
	 //echo "<pre>"; print_r($this->data['data']);die;
?>
<h1 class="bg-white content-heading border-bottom">Advertisements</h1>
<div class="innerAll spacing-x2">
	<div class="widget widget-inverse">		
		<div class="widget-head">
			<ul class="list-inline">
                            <li></li>
			    <li><a href="<?php echo $this->baseUrl(); ?>/admin/advertisements/add">Add Advertisement</a></li>
			    <li></li>
			    <li><div id="output"></div><!-- the out put division --></li>
			</ul>
		</div>
		<div class="widget-body padding-bottom-none">                
			<!-- Table -->
			<table class="dynamicTable colVis table orders_table">
				<!-- Table heading -->
				<thead class="bg-gray">
					<tr>
						<th>Add Pic</th>
						<th>Select Advertisement</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<!-- // Table heading END -->
	
				<!-- Table body --> 
				<tbody>
					<?php
						if( $this->data['data'] ) {	
					
							foreach( $this->data['data'] as $data => $value ) { 
								?>						
									<!-- Table row -->
									<tr id="advertisement_<?php echo $value['id']; ?>" class="gradeX order">
										<td>											
                                                                                    <img style="width: 112px; height: 63px;" class="img-circle" src="<?php echo $this->baseUrl(); ?>/media/<?php echo $value['owner']; ?>/advertisement_<?php echo $value['owner'];?>_<?php echo $value['id']; ?>_280x180<?php echo $value['type']; ?>" alt="DP">
										</td>
										<td>
                                                                                    <form class="advertisement" key="<?php echo $value['id'];  ?>" id="bond_<?php echo $value['id']; ?>" action="<?php echo $this->baseUrl(); ?>/admin/advertisements" method="post" enctype="multipart/form-data">
											<!-- select-->
                                                                                        <select name="advertisement" class="form-control">

												<?php foreach( $ads as $advertisement => $a ) { ; 
	
if($value['id'] == $a['media_id']){
?>													
<option  selected = 'selected' value="<?php echo $a['id']; ?>"><?php echo $a['title']; ?>                  </option>											
												
												<?php } } ?>
                                                                                        </select>
                                                                                        <input type="hidden" id="media_id" name="media_id" value="<?php echo $value['id']; ?>">
                                                                                    </form>
                                                                                </td>
										<td><?php
										
											if( $value['status'] ) {
												
												echo "viewed";
												
											} else {
												
												echo " New ";
											}
										
										?></td>
										<td class="center">
											<div class="btn-group btn-group-sm">
											
												<?php if( $value['id'] ) {; ?>	
													<a class="btn btn-danger delete" onclick="return confirm('Are you sure you want to delete advertisement !!!')" href="<?php echo $this->baseUrl(); ?>/admin/advertisements/del?id=<?php echo $value['id']; ?>"><i class="fa fa-times"></i></a>
												<?php } else { ?>
													<a class="btn btn-danger" onclick="return alert('This operation is not active for this advertisement, kindly choose a graphic to delete this record !!')" href="javascript:void(0)"><i class="fa fa-times"></i></a>
												<?php } ?>
											</div>											
										</td>
									</tr>
									<!-- // Table row END -->			
								<?php
								
							}
						}
					?>		
				</tbody>
				<!-- // Table body END -->	
			</table><!-- // Table END -->
		</div>
	</div>
</div>
<?php $this->placeholder('content')->captureEnd() ?>
<?php $this->placeholder('staticJavascript')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script>	
	jQuery(document).ready(function($) {            
            $("form.advertisement").each(function(index){
		var id = $(this).attr("key");
                $(this).find("select").change(function(e){
			e.preventDefault();
			$("#bond_"+id).ajaxForm({
                                target: "#output",
                                success: function(data){
					//alert("ok form submitted");	
                                }    
                        }).submit();
                    
                });                
            });
	});	
</script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
