<?php $this->placeholder('content')->captureStart(); ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.invoice.min.css" />
<div class="bg-white innerAll border-bottom">
	<ul class="menubar">
		<li><a href="<?php echo $this->baseUrl(); ?>/admin/booking">Bookings</a></li>
		<!--<li><a href="#"><span class="badge badge-primary pull-right"><--</span> Button</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#">Dropdown Link #1</a></li>
				<li><a href="#">Dropdown Link #2</a></li>
				<li><a href="#">Dropdown Link #3</a></li>
			</ul>
		</li> -->
	</ul>
</div>
<div class="innerAll spacing-x2">

	<div id="pdfTarget">
	<div class="innerAll shop-client-products cart invoice">
	
		<h3 class="separator bottom">Booking</h3>
		<table class="table table-invoice">
			<tbody>
				<tr>
					<td style="width: 58%;">
						<div class="media">
							<img class="media-object pull-left thumb" src="http://1.s3.envato.com/files/50438174/tf-avatar.jpg" alt="Logo" />
							<div class="media-body hidden-print">
								<div class="alert alert-primary">
									<strong>Note:</strong><br/>
									This page is optimized for print. Try print the invoice and check out the preview.
									For example, this note will not be visible.
								</div>
								<div class="separator bottom"></div>
							</div>
						</div>
					</td>
					<td class="right">
						<div class="innerL">
							<h4 class="separator bottom">#<?php echo $this->data['bookings'][0]['id']; ?>_<?php echo $this->data['user'][0]['id']; ?> / <?php echo $this->data['bookings'][0]['user_date']; ?></h4>
							<button type="button" data-toggle="print" class="btn btn-default hidden-print"><i class="fa fa-fw fa-print"></i> Print invoice</button>
							<!--<button type="button" data-toggle="button-loading pdf" data-target="#pdfTarget" class="btn btn-primary hidden-print"><i class="fa fa-fw fa-download"></i> Save as PDF</button>-->
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="box-generic">
			<table class="table table-invoice">
				<tbody>
					<tr>
						<td style="width: 50%;">
							<p class="lead">Contact information</p>
							<h2>Apple Inc.</h2>
							<address class="margin-none">
								<strong>1 Infinite Loop</strong><br/>
								<?php echo $this->data['user'][0]['address']; ?><br/>
								408.996.1010<br/>
								<abbr title="Work email">e-mail:</abbr> <a href="mailto:"><?php echo $this->data['user'][0]['email']; ?></a><br /> 
								<abbr title="Work Phone">phone:</abbr> <?php echo $this->data['user'][0]['phone']; ?><br/>
								<abbr title="Work Fax">fax:</abbr> <?php echo $this->data['user'][0]['phone']; ?>
							</address>
						</td>
						<td class="right">
							<p class="lead">Client information</p>
							<h2><?php echo $this->data['user'][0]['first_name']; ?>&nbsp;&nbsp;<?php echo $this->data['user'][0]['last_name']; ?></h2>
							<address class="margin-none">
								<strong>Business manager</strong> at 
								<strong><a href="#">Business</a></strong><br> 
								<abbr title="Work email">e-mail:</abbr> <a href="mailto:"><?php echo $this->data['user'][0]['email']; ?></a><br /> 
								<abbr title="Work Phone">phone:</abbr> <?php echo $this->data['user'][0]['phone']; ?><br/>
								<abbr title="Work Fax">fax:</abbr> <?php echo $this->data['user'][0]['phone']; ?>
								<div class="separator line"></div>
								<p class="margin-none"><strong>About:</strong><br/><?php echo $this->data['user'][0]['bio']; ?></p>
							</address>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="box-generic padding-none">
			<table class="table table-vertical-center bg-white margin-none">
				<thead class="bg-primary">
					<tr>
                                                <th>Budget</th>
						<th>Ceremony</th>
						<th>Guests</th>
						<th>Damas</th>
						<th>Chambelanes</th>
						<th>Theme</th>
						<th>Dress</th>
					</tr>
				</thead>
				<tbody>
                                        <?php
                                            if($this->data['bookings']) {
                                                foreach($this->data['bookings'] as $data => $value ) {
                                                    if($value['user_id']==$this->data['user'][0]['id']) {
                                                        ?>                                                
                                                            <tr>
                                                                <td><?php echo $value['event_money']; ?></td>
                                                                <td><?php echo $value['ceremony']; ?></td>
                                                                <td><?php echo $value['guests']; ?></td>
                                                                <td><?php echo $value['damas']; ?></td>
                                                                <td><?php echo $value['chambelanes']; ?></td>
                                                                <td>
                                                                        <h5>Wedding Theme colors</h5>
                                                                        <?php list($a, $b, $c) = explode(",", $value['wedding_theme']); ?>
                                                                        <span style="background: <?php echo $a; ?>" class="label label-default">Color 1</span>
                                                                        <span style="background: <?php echo $b; ?>" class="label label-default">Color 2</span>
                                                                        <span style="background: <?php echo $c; ?>" class="label label-default">Color 3</span>
                                                                </td>
                                                                <td>
                                                                        <h5>Wedding Dress colors</h5>
                                                                        <?php list($d, $e) = explode(",", $value['wedding_dress']); ?>
                                                                        <span style="background: <?php echo $d; ?>" class="label label-default">Color 1</span>
                                                                        <span style="background: <?php echo $e; ?>" class="label label-default">Color 2</span>
                                                                </td>
                                                            </tr>                                                
                                                        <?php
                                                    }
                                                }
                                            } else {
                                                
                                                ?>
                                                            <tr>
                                                                <td class="center">No record found !!</td>
                                                            </tr>
                                                <?php
                                            }
                                        ?>
				</tbody>
			</table>
		</div>
		
		<!-- Row -->
		<div class="row">
		
			<!-- Column -->
			<div class="col-md-5 hidden-print">
				<!--<div class="box-generic">
					<p class="margin-none"><strong>Note:</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique rutrum libero, vel bibendum nunc.</p>
				</div>-->
			</div>
			<!-- Column END -->
			
			<!-- Column -->
			<div class="col-md-4 col-md-offset-3">
				<div class="box-generic padding-none">
					<table class="table cart_total margin-none">
						<tbody>
							<tr>
								<td class="right border-top-none">Subtotal:</td>
								<td class="right border-top-none strong">&dollar;1,000.00</td>
							</tr>
							<tr>
								<td class="right">Delivery:</td>
								<td class="right strong">&dollar;5.00</td>
							</tr>
							<tr>
								<td class="right">VAT:</td>
								<td class="right strong">&dollar;119.00</td>
							</tr>
							<tr>
								<td class="right">Total:</td>
								<td class="right strong">&dollar;1,195.95</td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
			<!-- // Column END -->
			
		</div>
		<!-- // Row END -->
		
	</div>
</div>



</div>

<?php $this->placeholder('content')->captureEnd(); ?>
