<?php $this->placeholder('staticStylesheet')->captureStart() ?>
	<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables_responsive.min.css'); ?>
	<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables.min.css'); ?>
<?php $this->placeholder('staticStylesheet')->captureEnd() ?>

<?php $this->placeholder('content')->captureStart() ?>
<h1 class="content-heading bg-white border-bottom">Orders</h1>
<div class="innerAll spacing-x2">
	<!-- Widget -->
	<div class="widget widget-inverse">
		<div class="widget-head">
			<!--<h4 class="heading">
				<a href="<?php echo $this->baseUrl(); ?>/orders">Manage Orders</a>
			</h4> -->
		</div>
		<div class="widget-body padding-bottom-none">
		<?php if( !$this->data['data'] ) { ; ?>
			<!-- Table -->
			<table class="dynamicTable colVis table orders_table">

				<!-- Table heading -->
				<thead class="bg-gray">
					<tr>
						<th>Vendor Name</th>
						<th>Category</th>
						<th>Actions</th>
					</tr>
				</thead>
			<!-- // Table heading END -->
	
				<!-- Table body -->
				<tbody>
					
					<?php 
						if( $this->data ) {	
						
							foreach( $this->data as $data => $value ) {
								?>
								
									<!-- Table row -->
									<tr id="order_<?php echo $value['id']; ?>" class="gradeX order">
										<td><?php if($value['first_name']){ echo $value['first_name'].' ' .$value['last_name'] ; }else{ echo $value['email'];} ?></td>
										<td><a href="<?php echo $this->baseUrl().'/category?cat='.$value['category']; ?>">View Vendor's Service</a></td>
										<td class="center">
											<div class="btn-group btn-group-sm">
												<a class="btn btn-success" href="?id=<?php echo $value['id']; ?>"><i class="fa fa-pencil"></i></a>
												<a class="btn btn-danger" onclick="return confirm('Are you sure to delete this record ?')" id="<?php echo $value['id']; ?>" href="<?php echo $this->baseUrl(); ?>/admin/orders/od?id=<?php echo $value['id']; ?>"><i class="fa fa-times"></i></a>
											</div>											
										</td>
									</tr>
									<!-- // Table row END -->			
								<?php
								
							}
						} else {
							?>
								<tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No matching records found</td></tr>
							<?php
						}
					?>
		
				</tbody>
				<!-- // Table body END -->
	
			</table>
			<!-- // Table END -->
		<?php } else { ?>
		
			<div class="widget widget-tabs widget-tabs-gray border-bottom-none">

			<!-- Widget heading -->
			<div class="widget-head">
				<ul>
					<li class="active"><a data-toggle="tab" href="#account-details" class="glyphicons edit"><i></i>Account details</a></li>
					<li><a data-toggle="tab" href="#account-settings" class="glyphicons settings"><i></i>Account settings</a></li>
					<li><a data-toggle="tab" href="#profile-image" class="glyphicons settings"><i></i>Profile Image</a></li>
					<li><a data-toggle="tab" href="#profile-transactions" class="glyphicons settings"><i></i>Profile Transactions</a></li>
				</ul>
			</div>
			<!-- // Widget heading END -->
		
			<div class="widget-body">
				<div class="tab-content">			
					<!-- Tab content -->
					<div id="account-details" class="tab-pane active">
						<form method="POST" action="" class="form-horizontal" id="account-details" name="">
							<!-- Row -->
							<div class="row">					
								<!-- Column -->
								<div class="col-md-6">
							
									<!-- Group -->
									<div class="form-group">
										<label class="col-md-3 control-label">First name</label>
										<div class="col-md-9">
											<div class="input-group">
												<input type="text" placeholder="Enter your first name !" class="form-control" value="<?php if($this->data['vendor'][0]['first_name']) { echo $this->data['vendor'][0]['first_name']; } else{}; ?>" name="first_name" required="true">
												<span data-original-title="First name is mandatory" data-placement="top" data-container="body" data-toggle="tooltip" class="input-group-addon"><i class="fa fa-question-circle"></i></span>
											</div>
										</div>
									</div>
									<!-- // Group END -->
								
									<!-- Group -->
									<div class="form-group">
										<label class="col-md-3 control-label">Last name</label>
										<div class="col-md-9">
											<div class="input-group">
												<input type="text" placeholder="Enter your last name !" class="form-control" value="<?php if($this->data['vendor'][0]['last_name']) { echo $this->data['vendor'][0]['last_name']; } else{}; ?>" name="last_name" required="true">
												<span data-original-title="Last name is mandatory" data-placement="top" data-container="body" data-toggle="tooltip" class="input-group-addon"><i class="fa fa-question-circle"></i></span>
											</div>
										</div>
									</div>
									<!-- // Group END -->
								
									<!-- Group -->
									<div class="form-group">
										<label class="col-md-3 control-label">Date of birth</label>
										<div class="col-md-9">
											<div class="input-group">
												<input type="text" placeholder="Enter your Date Of Birth !" class="form-control" id="datepicker1" value="<?php if($this->data['vendor'][0]['date_of_birth']) { echo $this->data['vendor'][0]['date_of_birth']; } else{}; ?>" name="date_of_birth" required="true">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
									</div>
									<!-- Group -->
									<div class="form-group">
										<label class="col-md-3 control-label">Country</label>
										<div class="col-md-9">
											<input type="text" class="form-control" value="<?php if($this->data['data'][0]['country']) { echo $this->data['data'][0]['country']; } else{}; ?>" required="true" name="age">
										</div>
									</div>
									<!-- Group -->
									<div class="form-group">
										<label class="col-md-3 control-label">State</label>
										<div class="col-md-9">
											<input type="text" class="form-control" value="<?php if($this->data['data'][0]['state']) { echo $this->data['data'][0]['state']; } else{}; ?>" required="true" name="age">
										</div>
									</div>
								<!-- // Group END -->							
								</div>
								<!-- // Column END -->
							
								<!-- Column -->
								<div class="col-md-6">
						
									<!-- Group -->
									<div class="form-group">
										<label class="col-md-3 control-label">Gender</label>
										<div class="col-md-9">
											<select class="form-control" value="Male" name="gender" required="true">
												<option selected="selected"><?php if($this->data['vendor'][0]['gender']) { echo $this->data['vendor'][0]['gender']; } else{}; ?></option>
											</select>
										</div>
									</div>
									<!-- // Group END -->
								
									<!-- Group -->
									<div class="form-group">
										<label class="col-md-3 control-label">Age</label>
										<div class="col-md-9">
											<input type="text" class="form-control" value="<?php if($this->data['vendor'][0]['age']) { echo $this->data['vendor'][0]['age']; } else{}; ?>" required="true" name="age">
										</div>
									</div>
									<!-- // Group END -->
									<!-- Group -->
									<div class="form-group">
										<label class="col-md-3 control-label">City</label>
										<div class="col-md-9">
											<input type="text" class="form-control" value="<?php if($this->data['data'][0]['city']) { echo $this->data['data'][0]['city']; } else{}; ?>" required="true" name="age">
										</div>
									</div>
									<!-- // Group END -->
									<!-- Group -->
									<div class="form-group">
										<label class="col-md-3 control-label">Plan Taken on</label>
										<div class="col-md-9">
											<input type="text" class="form-control" value="<?php if($this->data['data'][0]['plan_start_date']) { echo $converted = date('d M Y h.i.s A', strtotime(''.$this->data['data'][0]['plan_start_date'].'')); } else{}; ?>" required="true" name="age">
										</div>
									</div>
									<!-- // Group END -->
									<!-- Group -->
									<div class="form-group">
										<label class="col-md-3 control-label">Plan Expire on</label>
										<div class="col-md-9">
											<input type="text" class="form-control" value="<?php if($this->data['data'][0]['plan_start_date']) { echo $converted = date('d M Y h.i.s A', strtotime(''.$this->data['data'][0]['plan_start_date'].'')); } else{}; ?>" required="true" name="age">
										</div>
									</div>
									<!-- // Group END -->
								</div>
							<!-- // Column END -->						
							</div>
							<!-- // Row END -->					
							<div class="separator line bottom"></div>						
							<textarea rows="5" class="wysihtml5 form-control" name="bio" required="true" id="mustHaveId"><?php if($this->data['vendor'][0]['bio']) { echo $this->data['vendor'][0]['bio']; } else{}; ?></textarea>

						
					</form></div>
					<!-- // Tab content END -->		
					
					<!-- Tab content -->
					<div id="account-settings" class="tab-pane">						
							<!-- Row -->
							<div class="row">					
								<!-- Column -->
								<div class="col-md-3">
									<strong>Change password</strong>
									<p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
								<!-- // Column END -->						
								<!-- Column -->
								<div class="col-md-9">
									<label for="inputUsername">Username</label>
									<div class="input-group">
										<input type="text" disabled="disabled" value="<?php if($this->data['data'][0]['email']) { echo $this->data['data'][0]['email']; } else{}; ?>" class="form-control" id="inputUsername">
										<span data-original-title="Username can't be changed" data-container="body" data-placement="top" data-toggle="tooltip" class="input-group-addon"><i class="icon-question-sign"></i></span>
									</div>
									<div class="separator bottom"></div>
									<label for="inputUsername">Address</label>
									<textarea placeholder="Leave empty for no change address" rows="5" class="wysihtml5 form-control" name="address" required="true" id="mustHaveId"><?php if($this->data['vendor'][0]['address']) { echo $this->data['vendor'][0]['address']; } else{}; ?></textarea>
									<div class="separator bottom"></div>
									<label for="inputPhone">Pincode</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-phone"></i></span>
										<input type="text" placeholder="Enter your phone number !" class="form-control" value="<?php if($this->data['data'][0]['pincode']) { echo $this->data['data'][0]['pincode']; } else{}; ?>" name="pincode" id="inputPhone">
									</div>
								</div>
								<!-- // Column END -->
							
							</div>
							<!-- // Row END -->
						
							<div class="separator line bottom"></div>					
							<!-- Row -->
							<div class="row">					
								<!-- Column -->
								<div class="col-md-3">
									<strong>Contact details</strong>
									<p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
								<!-- // Column END -->						
								<!-- Column -->
								<div class="col-md-9">
									<div class="row">
									<div class="col-md-6">
											<label for="inputPhone">Phone</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-phone"></i></span>
												<input type="text" placeholder="Enter your phone number !" class="form-control" value="<?php if($this->data['vendor'][0]['phone']) { echo $this->data['vendor'][0]['phone']; } else{}; ?>" name="phonenumber" id="inputPhone">
											</div>
											<div class="separator bottom"></div>
												
											<label for="inputEmail">E-mail</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
												<input type="text" placeholder="Enter your email !" class="form-control" value="<?php if($this->data['vendor'][0]['email']) { echo $this->data['vendor'][0]['email']; } else{}; ?>" name="email" id="inputEmail">
											</div>
											<div class="separator bottom"></div>
											
											<label for="inputWebsite">Website</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-link"></i></span>
												<input type="text" placeholder="Application Url !" class="form-control" value="<?php if($this->data['vendor'][0]['website']) { echo $this->data['vendor'][0]['website']; } else{}; ?>" name="website" id="inputWebsite">
											</div>
											<div class="separator bottom"></div>
										</div>
										<div class="col-md-6">
											<label for="inputFacebook">Facebook</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-facebook"></i></span>
												<input type="text" placeholder="Enter facebook ID !" class="form-control" value="<?php if($this->data['vendor'][0]['fb_name']) { echo $this->data['vendor'][0]['fb_name']; } else{}; ?>" name="fb_name" id="inputFacebook">
											</div>
											<div class="separator bottom"></div>
											
											<label for="inputTwitter">Twitter</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
												<input type="text" placeholder="Enter your twitter ID !" class="form-control" value="<?php if($this->data['vendor'][0]['tw_name']) { echo $this->data['vendor'][0]['tw_name']; } else{}; ?>" name="tw_name" id="inputTwitter">
											</div>
											<div class="separator bottom"></div>
											
											<label for="inputSkype">Skype ID</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-skype"></i></span>
												<input type="text" placeholder="mySkypeID" class="form-control" value="<?php if($this->data['vendor'][0]['sky_name']) { echo $this->data['vendor'][0]['sky_name']; } else{}; ?>" name="sky_name" id="inputSkype">
											</div>
											<div class="separator bottom"></div>
										
											<label for="inputgplus">Google</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
												<input type="text" placeholder="google ID" class="form-control" value="<?php if($this->data['vendor'][0]['gplus_name']) { echo $this->data['vendor'][0]['gplus_name']; } else{}; ?>" name="gplus_name" id="inputgplus">
											</div>
											<div class="separator bottom"></div>
										</div>
									</div>
								</div>
								<!-- // Column END -->						
							</div>
						<!-- // Form actions END -->
						
					</div>
					
					<!-- // Tab content END -->
					<div id="profile-image" class="tab-pane">
						<div id="final_image"></div>
							<div class="row">
									<div class="col-md-12">
										<?php
											if($this->data['vendor'][0]['id']) {
												?>
													<img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $this->data['vendor'][0]['id']; ?>/profile_<?php echo $this->data['vendor'][0]['id']; ?>_250x250.jpg" id="preview" alt="profile image !!!">
												<?php
											} else{
												?>
													<img src="" alt="Vendor Has not set his/her profile image !!!" id="preview">
												<?php
											};
										?>															
										<div style="display: none;" id="preview-pane">
											<div style="width: 250px; height: 250px;" class="preview-container">
												<img alt="Preview Pan" class="jcrop-preview img-responsive img-clean" src="">
											</div>
										</div>
									</div>
							</div>
							<div class="separator bottom"></div>												
					</div>
					
					<!-- // Tab content END -->
					<div id="profile-transactions" class="tab-pane">
							<div id="final_image"></div>
							<div class="row">
								
								<table class="dynamicTable colVis table transaction-table">
									<!-- Table heading -->
									<thead class="bg-gray">
										<tr>
											<th>Payer ID</th>
											<th>Ammount</th>
											<th>Payer Status</th>
											<th>Payment Status</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
									<?php
										if( $this->data ) {	
							
											foreach( $this->data['transaction'] as $data => $value ) {
												//print_r( $value );
												?>								
												<!-- Table row -->
												<tr id="transaction_<?php echo '$'.$value['id']; ?>" class="gradeX">
													<td class="expand footable-first-column"><span class="footable-toggle"></span><?php echo $value['payer_id']; ?></td>
													<td><?php echo '$'.$value['payment_gross']; ?></td>
													<td><?php echo $value['payer_status']; ?></td>
													<td><?php echo $value['payment_status']; ?></td>
													<td>
														<div class="btn-group btn-group-sm">
															<a href="?id=1" class="btn btn-success"><i class="fa fa-pencil"></i></a>
															<a href="#" id="1" class="btn btn-danger"><i class="fa fa-times"></i></a>
														</div>
													</td>
												</tr>
												<p id="transaction_desc_<?php echo '$'.$value['id']; ?>">
													<b>Payer Email: </b><?php echo $value['payer_email']; ?><br />
													<b>Verify Sign: </b><?php echo $value['verify_sign']; ?><br />
													<b>Transaction ID: </b><?php echo $value['txn_id']; ?><br />
													<b>Payment Type: </b><?php echo $value['payment_type']; ?><br />
													<b>Receiver Email: </b><?php echo $value['receiver_email']; ?><br />
													<b>Payment Fee: </b><?php echo $value['payment_fee']; ?><br />
													<b>Receiver Id: </b><?php echo $value['receiver_id']; ?><br />
													<b>Pending Reason: </b><?php echo $value['pending_reason']; ?><br />
													<b>Transaction Type: </b><?php echo $value['txn_type']; ?><br />
													<b>Item Name: </b><?php echo $value['item_name']; ?><br />
													<b>mc currency: </b><?php echo $value['mc_currency']; ?><br />
													<b>Item Number: </b><?php echo $value['item_number']; ?><br />
													<b>Residence Country: </b><?php echo $value['residence_country']; ?><br />
													<b>Test IPN: </b><?php echo $value['test_ipn']; ?><br />
													<b>Receipt ID: </b><?php echo $value['receipt_id']; ?><br />
													<b>Transaction Subject: </b><?php echo $value['transaction_subject']; ?><br />
													<b>Shipping: </b><?php echo $value['shipping']; ?><br />
													<b>Auth: </b><?php echo $value['auth']; ?><br />
												</p>
												<!-- // Table row END -->		
												<?php
										
											}
											
										} else {
											?>
												<tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No matching records found</td></tr>
											<?php
										}
									?>
									</tbody>
								</table>
							</div>
							<div class="separator bottom"></div>												
							</div>
						</div>
					</div>
				</div>
			</div>
		
		<?php } ?>
		</div>
	</div>
	<!-- // Widget END -->
</div>	

<?php $this->placeholder('content')->captureEnd() ?>

<?php $this->placeholder('staticJavascript')->captureStart() ?>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
	<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
